[2022-02-01 09:17] johannesjo commented on #1890
Thanks for opening this up. You need to remove the repeat task config (in the task side panel click on "Repeat" and then on "Remove" in the Dialog that opens) if you want to remove a repeating task completely.

[2022-02-01 09:17] #1890 closed

[2022-02-01 09:30] penn5 opened #1891 "'Every day' repeat config only repeats on weekdays"
### Your Environment

- Version used: 7.10.0 RPM
- Operating System and version: Fedora
- Desktop Environment: GNOME 41

### Expected Behavior

A task repeating every day should be scheduled every day

### Current Behavior

When a task is scheduled every day, it repeats only on weekdays

### Steps to Reproduce (for bugs)

1. Create a task
2. Schedule every day (not custom repeat config) at a fixed

[2022-02-01 14:16] nkrot commented on #1890
@johannesjo , thank you repeating what I said in the intro.

[2022-02-01 14:46] rileyhawk1417 opened #1899 "Broken UI on Android"
### Your Environment
Android Version 11

The UI is broken as soon as I loaded the app after installing.

- Version used:  Google Playstore Version
- Operating System and version:
- Desktop Environment:
- Browser Name and version:

### Expected Behavior

App should work normally.

### Current Behavior

Words are on top of each other and UI components are squashed.

### Steps to Reproduce (for bugs)

[2022-02-01 17:27] milotype opened #1901 "Localize years format"
### Your Environment
- Version used: 7.10.1 (7.10.1)
- Operating System and version: MacOS 10.11.6

### Expected Behavior
Croatian language needs a period character after the year (they are ordinal numbers).

### Current Behavior
Currently in the Croatian version years do not (always) end with a period. When changing the year value, all year values do not have a period at the end.

### Steps to Re

[2022-02-02 04:17] EngelPika32 opened #1902 "RepeatTask ignores days on which the app hasn't been used"
So, I have a bunch of tasks that repeat every week. It doesn't matter when I do that within the week, so I just chose a fitting day (eg. Monday). However, sometimes I take that day off and hence don't start SP at all. In the past (pre 7.10) these tasks would be added to my 'today' when I open SP the next time (with the neat 'overdue' pop-up  :) and I'd simply add them to my 'today' – However since

[2022-02-02 04:32] EngelPika32 opened #1903 "timeline should show repeatTask without a scheduled start time"
## Problem Statement

Currently, repeatTasks are shown in the timeline as 'projections'. However, this only applies to those with a scheduled start time.
RepeatTasks without a start time ("all day task") aren't shown as 'projection'.

## :grey_question: Possible Solution

Show a projection where it fits with other repeat & scheduled tasks in the timeline.
Take the 'limit task flow to specific work

[2022-02-02 08:11] HendersonTyler commented on #1888
@johannesjo I think this one might be a little tough for me. I've had a look at how Today is used, and with a switchMap etc. I don't have much experience with RXJS, so it might be best if someone with some more experience might be able to implement it.

I do enjoy Angular, so I am happy if you want to tag me in some future tasks you think might be a bit easier.

[2022-02-03 01:18] vorpalvorpal commented on #1024
Some thoughts on syntax for due dates.

My intuition are that the following due dates are likely to be the most common:

- x hours from now
- x minutes from now
- Tomorrow morning
- 24 hours from now
- Next week
- Next month
- Next year

ISO 8601 provides the following datetime syntax: `YYYY-MM-DDThh:mm:ss`. This provides a good starting base, but requires too much to be typed quickly. My suggesti

[2022-02-03 14:00] hd-deman commented on #373
brew cask still outdate 7.9.2

[2022-02-04 17:07] EngelPika32 commented on #1902
Originally waiting a few days to see, if the repeat tasks trigger… but no luck.
Hence, I just took a look at my config & backups *(as I really need my scheduled & repeatTasks working)* and noticed the `lastTaskCreation` field, which proves, that there are no new instances created.

- - - - -
Anyway, here are two examples from the backups (entities of `taskRepeatCfg`):

[code]
- - - - -

[code]
I h

[2022-02-05 04:33] mizzunet commented on #1865
[Ferdi](https://github.com/getferdi/ferdi) has similar feature and it's also Electron

![image](https://user-images.githubusercontent.com/10193999/152628692-ab318587-1ec3-4bae-b896-e1f53ca359eb.png)

If someone managed to get it from there and added here. I'm not familiar with coding, I'll try to find the code lines for it

[2022-02-05 10:32] johannesjo commented on #1870
Could you expand the part inside response or somehow copy it and paste it here? There likely will be some error message inside of it.

[2022-02-05 10:33] johannesjo commented on #876
In theory this should work now, though I've to admit, that I haven''t tested it.

[2022-02-05 10:37] johannesjo commented on #1902
Hey there! Thanks for opening this up! This is an intentional design decision, as you might end up with a lot of tasks if you haven't started the app in a while. I can see why one might want this to be otherwise and I am open for adding this optionally (opt-in) as feature.

[2022-02-05 10:40] johannesjo commented on #373
I have no mac available currently, but if someone executes `brew bump-cask-pr superproductivity --version 7.10.1` the app should be updated.

[2022-02-05 10:41] johannesjo commented on #1285
Sorry, missed this. Is this still relevant. If so, a copy of your data would be needed.

[2022-02-05 10:46] johannesjo commented on #1024
Thank you very much @vorpalvorpal ! Makes a lot of sense so far. Personally I could live with just the cases mentioned in the original description, and I am for keeping things simple in the first step, but I am not against having the options :)

[2022-02-05 10:47] johannesjo commented on #1695
@TimMoser92 they're not actively deleted. Does it work, if you remove them manually?

[2022-02-05 10:50] johannesjo commented on #1888
Thank you @HendersonTyler ! Much appreciated!

[2022-02-05 10:54] johannesjo commented on #1903
Thanks for opening this up! I'd love to see them represented in a better way as well, but I found that this is a tough nut to crack with a lot of edge cases. :)

[2022-02-05 10:55] johannesjo commented on #1562
I think that this should be fixed now. Can you confirm @Zab-an ?

[2022-02-05 10:55] johannesjo commented on #1901
Thanks for opening this up!

[2022-02-05 10:58] johannesjo commented on #1899
Hey there! You need to have an internet connection available for the first app start as some of the app stuff is loaded from app.super-productivity.com (which is not ideal and planned to be changed in the future, but I am not sure when I will get to it).

[2022-02-05 11:04] johannesjo commented on #1890
Sorry @nkrot,  I am dealing with a lot of requests for this project every day (which I do in my free time for free), so please forgive me.

I disagree that repeating tasks should be as easy as as deleting a single task, since there might be a lot of tracking data stored on it, which one could delete accidentally (maybe it's just a different perspective from using the app a lot longer than you have

[2022-02-05 11:07] johannesjo commented on #1891
Hi there! Thanks for opening this up! This should be fixed with 7.10.1.

[2022-02-05 11:07] #1891 closed

[2022-02-05 11:53] zynth17 commented on #1870
here, since the message is very long, it cannot be paste in here, so i send it in a txt file.
[error.txt](https://github.com/johannesjo/super-productivity/files/8007961/error.txt)

[2022-02-05 15:48] rileyhawk1417 commented on #1899
Yikes was planning on using it since am offline most of the times. Will just have to wait for offline support then, because internet connections are slow. Which could be the cause of broken UI.

[2022-02-05 19:11] johannesjo commented on #1899
Normally it should work without one, once the stuff is loaded once initially. At least in theory :) I haven't tested this very thoroughly tbh...

[2022-02-05 19:24] johannesjo commented on #1870
Thanks @zynth17 ! What's inside the txt is basically just a webpage, so I would conclude that the URL is somehow not properly set?

[2022-02-05 22:39] Zab-an commented on #1562
Yes, I can't reproduce it anymore.

Tested on 7.10.1

[2022-02-06 01:48] StewPedassle opened #1904 "Meeting timer to track time, but suppress notifications for a period of time."
## Problem Statement
Super Productivity can introduce distractions with notifications that are unnecessary during longer events where one wants to still track time (e.g., meetings and presentations).  The distractions include (1) pom end / break start, (2) not tracking time for x mins, and (3) being idle for x minutes.

## :grey_question: Possible Solution
Either a do not disturb button or an exte

[2022-02-06 10:32] #567 closed

[2022-02-06 10:33] johannesjo commented on #1562
Thank you very much for checking  @Zab-an

[2022-02-06 10:33] #1562 closed

[2022-02-06 10:46] johannesjo commented on #1573
Hi! Thanks for opening this up! This should be fixed!

[2022-02-06 10:46] #1573 closed

[2022-02-06 10:50] johannesjo commented on #1904
Hey there! Thank you very much for opening this up!

This is a tricky one! From this use case's perspective a do not disturb toggle button makes probably most sense (and I totally agree that what you describe is a bit of a problem). On the other hand I don't want to clutter the UI for new users (and people not needing this) since it might not be obvious what this is about. It also would add comple

[2022-02-06 11:01] TimMoser92 commented on #1695
I tried removing them manually in the synced file - they were readded with the next sync. However I should add that I don't use the local file sync anymore but switched to WebDAV (with Nextcloud). It still adds the setting to the synced file (along with all the other sync settings - especially the login data for WebDAV, but that is another issue).

I'm not sure, if it is relevant, but I also used

[2022-02-06 19:45] penn5 opened #1906 "TypeError: Cannot read properties of undefined (reading 'length')"
### Steps to Reproduce
1. Create task with daily repeat at "9:0"
2. Save repeat and reload application (reload might not be needed)
3. Edit repeat setting by selecting the "9:0" and hitting backspace until the field is empty
4. This error occurs

### Error Log (Desktop only)
Console output is adequate

### Console Output
Nothing beyond the stacktrace

### Stacktrace
[code]

### Meta Info
META: SP7

[2022-02-06 19:46] penn5 opened #1907 "Error: Invalid clock string"
### Steps to Reproduce
1. Set daily repeat config of a task to a single digit (e.g. "9")
2. The input form is validated and accepted when clicking submit
3. Upon submitting, this error appears.
4. If the app is reloaded, opening the task details also causes this error to reoccur

### Error Log (Desktop only)
Console output is adequate

### Console Output
Nothing beyond the stacktrace

### Stacktra

[2022-02-06 21:08] EngelPika32 commented on #1902
Hey, thanks for the response.
This decision is unfortunately a huge deal-breaker for me. I need the repeated tasks to show up. And I don't think it currently works as intended. I've used SP nearly daily over the past week and **none** of my repeated tasks got a new instance!! Like they are frozen in time.

Sorry, that I couldn't find this change in the changelog, as I wouldn't have updated SP if I

[2022-02-06 22:23] EngelPika32 commented on #1904
Hey there! I've actually looked into such a thing as well. But not the same way as requested here.

I don't use pom [pomodoro, I assume] (I have 'take a break' reminders ;)) – There probably should be an easy way (optional toggle) for pom, to "stay in current session". This can be used if a task/meeting is to be expected to extend the current session time, as well as if a break is expected to be l

[2022-02-06 22:35] EngelPika32 commented on #1903
Mmh, can we gather *(at least some)* edge cases together here?
It'd help to have a better look at what has to be taken care of (to crack this nut! :D)

[2022-02-07 02:03] zynth17 commented on #1870
what is the proper url to set? i set it already but that's the response

[2022-02-07 06:50] cwerner1 commented on #373
updated to 7.10.1
https://github.com/Homebrew/homebrew-cask/pull/118758

[2022-02-07 08:07] nkrot commented on #1890
hi @johannesjo
would it make sense to word the act of deletion more specifically (in the context menu that appears upon right click), something like `Delete current instance of recurrent task` instead of generic `Delete Task`? At least this wording gives information about what is gonna happen and will stop ppl from writing similar tickets that you will close w/o reading, still wasting your time.

[2022-02-07 08:47] joakimc commented on #1285
Hi, you can probably close this. I haven't tested the software in a while, and unfortunately I'm not allowed to share data related to my company's internal projects and activities.

[2022-02-07 09:51] papernoise opened #1908 "Notes panel enhancements"
## Problem Statement
My notes are generally way too long for the current notes feature. This creates these super long text saussages, which are hard to navigate.

## :grey_question: Possible Solution
The simplest solution would be to add option to only show the first couple of lines of the note. The full note appears in a full-screen window (like the current "edit in fullscreen") when you click on

[2022-02-07 11:03] rileyhawk1417 commented on #1899
Any way of packaging it within the apk then?

[2022-02-07 15:50] mizzunet opened #1911 "Google Drive authentication code not being asked on Android"
### Your Environment

- Version used:  apk
- Operating System and version: Android 8
- Desktop Environment:  N/A
- Browser Name and version:  N/A

### Expected Behavior

![image](https://user-images.githubusercontent.com/10193999/152821829-06dfe624-0de2-4427-87c4-1319141b8833.png)
Display this once Google Drive chose as Sync provider.

This screenshot is taken from Linux.

### Current Behavior

Do

[2022-02-08 11:32] JustAPhrog commented on #995
Hi @johannesjo I can deal with it but I couldn't find where is defined **path to backup** folder in a **backup function**?

I see that in `src\app\features\config\form-cfgs\automatic-backups-form.const.ts` I can change displayed path.

[2022-02-09 01:52] #1541 closed

[2022-02-09 21:59] santiyounger commented on #235
definitely!! the lack of this feature definitely made it hard for me to keep use this app for what I needed.  I think it's a great app but this feature would be essential for me to keep using it!

Thanks!

[2022-02-10 17:07] JoseOlin opened #1914 "Error: A reminder for this TASK already exists"
It's happened a couple of times in the last few days. Only happens with some tasks. When I open the app and edit a remainder.

### Steps to Reproduce

1. Open app
2. List of due tasks pop up
3.  Edit remainder of several tasks
4. With one of them this error shows
**Error: A reminder for this TASK already exists**

### Error Log (Desktop only)

### Console Output

### Stacktrace
[code]

### Meta In

[2022-02-11 08:02] nkrot commented on #235
I miss this feature as well.

[2022-02-11 10:22] Ekleog opened #1915 "Repeating task not created"
Edit: Changing this issue to be a tracking issue for all circumstances where repeating tasks are currently not created:
- #1902
- #1966
- #1967

-----

Original message

### Your Environment

- Version used: v7.10.1, NixOS package
- Operating System and version: NixOS 21.11
- Desktop Environment: Gnome

### Expected & Current Behavior

I started using Super Productivity 7.6 (on electron 13) on Wed

[2022-02-11 10:26] johannesjo commented on #1914
Hey there! Thanks for opening this up! Could you maybe provide me with a data export for this error case (to contact@super-productivity.com)?

[2022-02-11 10:34] johannesjo commented on #995
Hey there @JustAPhrog that would be great! The relevant stuff should be inside `electron/main.ts` (`const BACKUP_DIR = `${app.getPath('userData')}/backups`;
`). The app just uses what it gets from electron. So there might also be a bug on their side.

[2022-02-11 14:38] johannesjo commented on #1911
Hi there! Google Drive Sync doesn't work for the F-Droid version. Apart from that, I'd recommend trying a new sync file.

[2022-02-11 14:44] johannesjo commented on #1695
@TimMoser92 alright! Thank you! Looks like a bug then.

[2022-02-11 14:45] #1907 closed

[2022-02-11 14:45] johannesjo commented on #1906
This is fixed with 7.10.1.

[2022-02-11 14:45] #1906 closed

[2022-02-11 14:47] johannesjo commented on #1902
Thank you very much for your honest feedback. I have to think about it.

[2022-02-11 15:10] johannesjo commented on #1870
@zynth17 that depends on your installation.

[2022-02-11 15:10] johannesjo commented on #373
Thank you  @cwerner1 !

[2022-02-11 15:13] johannesjo commented on #1890
That's a very good idea! I'll implement it!

[2022-02-11 15:43] johannesjo commented on #1285
Hey @joakimc you can use the "< >" button under settings/import/export. This way all data will be replaced with random strings (it's best to double check of course).

[2022-02-11 15:46] #1285 closed

[2022-02-11 16:16] johannesjo commented on #1915
Hey @Ekleog ! Thank you very much for opening this up! If a task is created or not is determined a couple of checks:
1. There was no instance already created on the same day
2. After app start, or when a context is selected where the task would appear (e.g. the project list for task's project, or the today list if a task is added to today).
3. The day is the correct day, determined by this code:
h

[2022-02-11 16:29] jasyn commented on #333
@johannesjo It's in progress for now. I'll keep you posted!

[2022-02-11 16:51] ximemira commented on #1907
@johannesjo

I have the version 7.10.1. And i'm having still this error.

It happens each time I open any repeat tasks, when I open the timeline and when I open the scheduled tasks.

Error: Invalid clock string
isValidSplitTime (webpack:///src/app/util/get-date-time-from-clock-string.ts:10:10)allRepeatableTasksForDay.forEach( (webpack:///src/app/features/timeline/map-timeline-data/create-sorted-bl

[2022-02-11 16:59] johannesjo commented on #1908
Hey @papernoise ! Thanks for opening this up :)

This is a problem indeed! There definitely needs to be some limit (possibly configurable). Also editing the notes in fullscreen (or at least a dialog) makes sense. I think, I have to play around with this a little, to see what feels best. I will give it a go tomorrow.

[2022-02-12 05:02] ribtoks commented on #645
This issue still persists as of today in the web app on latest iPadOS with latest Safari

[2022-02-12 11:58] johannesjo opened #1918 "TEST"
## Problem Statement

## :grey_question: Possible Solution

## :arrow_heading_up: Describe alternatives you've considered

## :heavy_plus_sign: Additional context

[2022-02-12 11:59] #1918 closed

[2022-02-12 11:59] johannesjo opened #1919 "TEST"
### Your Environment

- Version used:
- Operating System and version:
- Desktop Environment:
- Browser Name and version:

### Expected Behavior

### Current Behavior

### Steps to Reproduce (for bugs)

1.
2.
3.
4.

### Console Output

### Error Log (Desktop only)

[2022-02-12 12:01] #1919 closed

[2022-02-12 12:38] johannesjo commented on #1907
No wait actually I did :) Could you maybe provide me with a copy for your data (to contact@super-productivity.com)? There is also a privacy export option if you click on the "< >" button.

[2022-02-12 12:51] johannesjo commented on #645
Help with this would be welcome! I currently have no iOS devices available to check this.

[2022-02-12 20:06] johannesjo commented on #1914
Thanks for your help! Not sure what caused this in the first place (possibly just some rare hickup), but I think it makes sense to handle the error more gracefully, which effectively should solve the issue.

[2022-02-12 20:46] johannesjo commented on #1908
Hey there! Here comes the first draft:
https://test-app.super-productivity.com/

The logic is as follows: Everything longer than 320 chars is cut down to 160 chars and will open up fullscreen editing once clicked. I can see people complaining about not being able to view the note as parsed markdown, but maybe the editor itself could pimped to allow for that later on.

Another alternative I could s

[2022-02-13 18:40] johannesjo commented on #1579
Thinking more about this I was wondering, what you'd expect to be copied. What about:
* sub tasks
* reminders
* time tracked to those tasks
* repeat config
* attachments
* notes

?

[2022-02-13 18:50] #1914 closed

[2022-02-14 20:23] StewPedassle commented on #1579
Those are about all I can think of right now, provided that "time tracked"
would include estimated time. The use cases I was thinking of would be
similar to either templating or adding a batch of new tasks that share a
lot of attributes. So, even if an undesired attribute is copied, it would
be a minimal burden for me to change it.

One minor quality of life consideration would be with handling pa

[2022-02-16 08:19] stephdz opened #1923 "GitLab Integration : 404 when getting issue comments"
I tried to use GitLab integration but I always get a 404 error when getting issue comments.

I checked the code and I think the problem is here :
https://github.com/johannesjo/super-productivity/blob/173510305c975873224c209f27ad767f82da64fc/src/app/features/issue/providers/gitlab/gitlab-api/gitlab-api.service.ts#L203-L208

`_sendPaginatedRequest` adds `&per_page=100&page=1` generating an invalid U

[2022-02-16 09:31] Houssem12-ai opened #1924 "This happens in the progressive web app : Error: Uncaught (in promise): TypeError: Cannot read properties of undefined (reading 'config')"
### Steps to Reproduce

1.downloading the sync file from google drive into my phone
2. Opening the super productivity progressive app
3. Importing the file into the progressive app

### Error Log (Desktop only)

### Console Output

### Stacktrace
[code]

### Meta Info
META: SP7.10.1 Browser – es-ES – Linux armv7l – Mozilla/5.0 (Linux; Android 6.0.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/98

[2022-02-16 14:48] papernoise commented on #1908
Hi! Thanks a lot for this!
I think it's a step in the right direction and yes I agree that proper markdown parsing would be essential to make this feature complete, basically clicking on the note would take you to full-screen preview mode (with markdown parsing), then clicking onto the text would get you into edit mode. The full-screen view then would need some means to get back to preview mode.
I

[2022-02-16 14:55] realmrealm commented on #25
I'm not a coder, but if it's just putting in the time to figure it out I can try to help. I love SP, but being on Arch I hate how all system dialogs have alien text and are unreadable (snap font issue). So flatpack would be much more preferred.

[2022-02-16 23:22] OnceUponALoop opened #1925 "Break Start: User Confirm & Defer Action"
## Problem Statement

When it's time for a break and the notification pops up I'm not usually ready to look away from the work (ex. mid-sentence, in a chat window, watching a log, etc...). My only option is to press the "Skip Break" button but that's not what I want, I want to delay the break until I can wrap up what i'm working on.

**Current behavior:** Break notification pops  up and timer star

[2022-02-17 10:40] Ekleog commented on #1915
Ok it's taken me a while but I think I've just been able to reproduce. I think the case where the user didn't click "finish day" at the end of the day.

So then basically the task is already present in the done list and doesn't get created as a new task, even if the "finish day" button is clicked at a few minutes past midnight.

Does this understanding make sense, and if so do you also think it's

[2022-02-17 13:31] Ekleog commented on #1915
Hmm so I'll correct what I said: it seems like after a (computer crash-)restart the repeated tasks do appear, despite the fact that I had switched to another view and back to today's list before posting the message above… weird

[2022-02-17 22:27] Ekleog opened #1926 "Task with two subtasks scheduled to tomorrow appears twice in the “today” list after clicking “add all tasks scheduled for tomorrow”"
Hey! Going to report another hitch I just noticed today while using Super Productivity. Before that, I want to say that despite the bugs I'm reporting, I really love this piece of software! To the best of my knowledge, while #1915 and #1902 are problematic in that I could end up missing tasks, this issue is only decorative and quite unlikely to trigger so it probably shouldn't be anywhere near hig

[2022-02-18 01:52] #1565 closed

[2022-02-18 01:52] #1564 closed

[2022-02-18 01:52] #1563 closed

[2022-02-18 12:32] johannesjo commented on #1926
Thank you very much for reporting! I'll try to have a look next Friday. Until then PR's are welcome :)

[2022-02-18 12:41] johannesjo commented on #1923
Thank you very much for digging into this! Would you maybe be willing to provide a PR for this yourself?

[2022-02-18 17:15] stephdz commented on #1923
Ok, I'll try to make a PR !

[2022-02-21 09:32] Red1lagh opened #1929 "TypeError: Cannot read properties of undefined (reading 'start')"
### Steps to Reproduce

1. Open chronology interface

### Error Log (Desktop only)

### Console Output

action-logger.reducer.ts:11 @ngrx/store/init Object
action-logger.reducer.ts:11 @ngrx/store/update-reducers Object
action-logger.reducer.ts:11 @ngrx/effects/init Object
persistence.service.ts:338 LOAD COMPLETE true
action-logger.reducer.ts:11 @ngrx/store/update-reducers Object
main.ts:23 Registe

[2022-02-21 19:49] papernoise commented on #1908
When you mean inline, do you mean in the sidebar? I wouldn't have an issue with notes only being editable in the full-screen view. Since for me project notes tend to be more lenghty. Task notes are usually pretty short. So the sidebar would mostly be there to get an overview and quick access to all the notes.
But it would be interesting to hear other opinions as well.

Btw. for context. Right now

[2022-02-22 07:38] JustAPhrog commented on #995
Thanks @johannesjo. I saw somthing that is diffrent with `main.ts`: usage of _remote_
[code]
`src\app\features\config\form-cfgs\automatic-backups-form.const.ts`
**Maybe this change path?** Do you know how to check this?

[2022-02-23 12:05] Toffanelly commented on #690
+1 Very important feature

[2022-02-24 22:32] Houssem12-ai opened #1934 "Error: Uncaught (in promise): TypeError: Cannot read properties of undefined (reading 'config')TypeError:"
### Steps to Reproduce

1.
2.
3.
4.

### Error Log (Desktop only)

Error: Uncaught (in promise): TypeError: Cannot read properties of undefined (reading 'config')TypeError: Cannot read properties of undefined (reading 'config')    at n. (file:///snap/superproductivity/1597/resources/app.asar/dist/main.163868d76f436856.js:1:1810627)    at Generator.next ()    at file:///snap/superproductivity/1597/

[2022-02-25 11:30] #1609 closed

[2022-02-25 11:37] johannesjo commented on #995
Hey @JustAPhrog the call is slightly different, since it runs on a different layer. The relevant stuff
`app.getPath('userData')}/backups` is the same though.

As I mentioned above: This might be an electron issue.

Not sure what you mean by this. Could you elaborate?

[2022-02-25 11:40] johannesjo commented on #1908
Yes, in place of the non full screen note item.

Do you mean as  part of the full screen editor?

[2022-02-25 11:41] johannesjo commented on #1929
Hey there! Thank you very much for reporting this!

It might be that for some reason a bit of your data got into an invalid state that I didn't account for and that I can't reproduce. It would be great if you could share a copy of your data to contact@super-productivity.com, so I can debug this on my computer. You can create an export by navigating to "Settings" and then to "Import/Export" or you

[2022-02-25 13:50] Ekleog commented on #1915
Hmm so I'm not sure what “syncing is in progress” exactly means? If it's the progress bar at the bottom of the screen then I'm pretty sure I've tried switching out of the “today” screen and back in when the progress bar was not running, but on the other hand it's very possible the sync was not considered as “complete” because github answered something like “too many requests” (I'm not exactly sure

[2022-02-26 10:45] papernoise commented on #1908
No I mean for the note list in the sidebar, which is already quite similar between the apps.

But to be more specific, the way I imagine things is roughly this:

## Option 1

### Start: user browsing notes (has just clicked on the notes icon to expand the sidebar

The sidebar shows the list of small **note cards** (markdown is pased), notes with more than 320char are tuncated
Clicking a note will

[2022-02-26 10:48] papernoise commented on #1617
My two (highly subjective and personal) cent: I like to be reminded to take a break, but I don't use any of the statistical features. I don't really care how much time I spend on breaks, I just need something to remind me to take them

[2022-02-28 08:31] halloichbingunnar opened #1938 "Due tasks: Scheduled task re-appears in the list"
### Your Environment

- Version used: 7.10.1
- Operating System and version: Win 10
- Browser Name and version: Desktop App

### Current Behavior

When re-scheduling a task on the "due tasks" list with a new date (not when "re-scheduling for tomorrow", though), after a few seconds it appears back on the list. When I click to re-schedule it again, the new and correct date is already displayed.

###

[2022-02-28 12:20] Seabright22 commented on #1579
Just commenting to say I agree, it would be a great QoL feature to be able to copy/paste tasks and subtasks.

A lot of what I do can be quite repetitive, but I still need to be able to track time to specfic parts of it. Being able to copy and paste a task, then rename parts of it, would be great to speed up filling in my days. Also thanks for the software, it's helped out my productivity so much!

[2022-02-28 18:43] Houssem12-ai commented on #293
Hello @johannesjo
Me,  @ghassen-oueslati and @salma-n are ready and motivated to work on this
we will keep you updated about our advancement

[2022-03-01 15:05] surli opened #1942 "Allow navigation and edition in archived tasks"
## Problem Statement

In order to compute the total time spent on a specific sub-project, I want to apply a label on all tasks I worked on for this sub-project. I have not created a dedicated project in superproductivity for it, so those tasks are mixed up with tasks from the main project right now.

## :grey_question: Possible Solution

Best option for me would be to be able to navigate on all my

[2022-03-01 16:18] ximemira commented on #1875
I corrected by exporting and editing repeatCfgId to null for the task. And in my case, I also had to change the "startTime" for the task to a valid start-time on the json file.

[2022-03-02 08:00] hogismyspiritanimal opened #1944 "Evaluation not Working after finishing the day in German translation"
When finishing the day with the button "FINISH DAY" I have the possibility to evaluate my day. This is currently not working in the German translation. The text and numer fields do not respond to my keyboard. The questions "How do you feel?" and "How efficient did you work?" are accessible via up/down buttons. I haven't tried other languages. In Standard/English it's working without any problems a

[2022-03-02 22:58] Minkleberry opened #1947 "Show total time elapsed when clicking the start watch"
Hello!

I have a really simple request that would be quite useful. When you click on "Start/Stop tracking time" can you consider adding a stopwatch timer that shows the total time elapsed. When you stop it, it clears to zero so you can track how long you spend working before stopping.

Thanks!

[2022-03-03 09:05] SDhuangao commented on #1797
Same network problem here, my super-productivity windows version can connect to my raspberrypi nextcloud perfectly (although I need to create the json file manually). But on my android phone, I constantly encounter **Unkonw Sync Error: Error: Network Error**, I am not sure where the problem is. I though it was the hosts problem, then I change the hosts file to direct the ip address (I only use lan

[2022-03-04 02:00] #1601 closed

[2022-03-04 02:00] #1600 closed

[2022-03-04 11:48] #1624 closed

[2022-03-04 11:49] #1629 closed

[2022-03-04 12:11] johannesjo commented on #1617
Same for me most of the time, but sometimes I struggle to actually stick to taking them and for these cases it might be good to have a tool to reflect on that, though I admit that the approach above might not be the only solution. Maybe it's rather something than can be dealt with from the daily evaluation and possibly it might be helpful to make that a little smoother instead :)

[2022-03-04 12:16] johannesjo commented on #1938
Hey there! Thanks for opening this up. A few questions:
1. What do you mean by "due tasks list"?
2. On which list does the task re-appear?
3. Are you referring to tasks that have been moved to the backlog?
4. Where and how do you re-schedule the task?

[2022-03-04 12:19] johannesjo commented on #1942
Also possibly related: #614

[2022-03-04 12:21] johannesjo commented on #1944
Hey there! Thanks for reporting this! I am unable to reproduce this. This only happens when you switched to German? And does this happen every time you try to reproduce this?

[2022-03-04 12:46] halloichbingunnar commented on #1938
Haha, sorry, that was obviously very unclear -- I took a screenshot:
![Screenshot 2022-03-04 134538](https://user-images.githubusercontent.com/64837252/156766080-43307d0a-2f5a-4553-98ca-e2fbe8da0c57.jpg)

[2022-03-04 13:16] surli commented on #1942
Sounds related on the navigation aspect yes. However note that my primary need was to be able to edit my archived task to put a label on some of them. I updated the title in that way.

[2022-03-05 01:54] #1608 closed

[2022-03-05 01:54] #1606 closed

[2022-03-05 01:54] #1607 closed

[2022-03-05 01:54] #1598 closed

[2022-03-05 01:54] #1597 closed

[2022-03-05 01:54] #1596 closed

[2022-03-05 01:54] #1590 closed

[2022-03-05 01:54] #1595 closed

[2022-03-05 13:50] johannesjo commented on #1908
Hey @papernoise ! Based on what you said I figured, that it might be easier to just offer a button that allows to switch between the different view modes and to persist its last state.

Here is the latest update:
https://test-app.super-productivity.com/

[2022-03-05 15:58] johannesjo commented on #1938
I am still not sure if I understand this correctly (I am most confused about the part where the task reappears), but maybe this explanation clears things up:

There is a difference between snoozing (doesn't change the time of the event) and re-scheduling/editing. Snoozing just changes the time of the reminder, but re-scheduling changes the time of the event itself.

Does this help?? :)

[2022-03-06 01:54] #1580 closed

[2022-03-06 01:54] #1578 closed

[2022-03-06 12:58] halloichbingunnar commented on #1938
Ok, sorry for being confusing! I'll try to explain differently step by step:
1. Due Tasks list pops up, because some tasks are due
2. I want to further shift one of the tasks, let's say to next wednesday, so I edit the time (as in the screenshot above)
3. I get back to the list of due tasks again. the task from step 2 is not listed anymore, because it isn't due anymore (because I just rescheduled

[2022-03-06 23:09] Ekleog commented on #1915
I just found another way to reproduce, that's even a bit more surprising because it's action-at-a-distance:
1. do a normal day (number n), finishing after midnight
2. click "finish my day" after midnight (so technically in day n+1)
3. click "add all tasks planned for tomorrow" in the finished-day popup, this adds all the tasks planned not for the-day-after-a-sleep (still n+1) but for the-next-cale

[2022-03-07 01:56] #1616 closed

[2022-03-07 01:56] #1599 closed

[2022-03-07 01:56] #1515 closed

[2022-03-07 10:44] papernoise commented on #1908
I like this! I think I would probably leave it in split screen mode most of the time, but it's nice to have the options.

It does not truncate the messages in the sidebar anymore.

[2022-03-07 19:16] penn5 opened #1951 "Sync settings are synced"
### Your Environment

- Version used: latest stable and master
- Operating System and version: all
- Desktop Environment: all
- Browser Name and version: all

### Expected Behavior

Settings relating to synchronisation are not included in the sync

### Current Behavior

Settings relating to synchronisation are included in the sync

### Steps to Reproduce (for bugs)

1. Set up synchronisation
2. Ru

[2022-03-08 01:55] #1619 closed

[2022-03-08 01:55] #1399 closed

[2022-03-08 01:55] #876 closed

[2022-03-08 10:46] HelixFix opened #1954 "Error: Uncaught (in promise): TypeError: 'clipboard-write' (value of 'name' member of PermissionDescriptor) is not a valid value for enumeration PermissionName.copy/<@https://app.super-productivity.com/main.041aa263f2e9b7fc.js:1:1710095copy/"
### Steps to Reproduce

1. Click on the icon representing the copy in the clipboard, of an attachment

### Console Output

/<@https://app.super-productivity.com/main.041aa263f2e9b7fc.js:1:1710004
t@https://app.super-productivity.com/polyfills.863cca7d8b9d1abd.js:1:17834
copy/<@https://app.super-productivity.com/main.041aa263f2e9b7fc.js:1:1709739
copy@https://app.super-productivity.com/main.041aa26

[2022-03-08 11:41] trallnag commented on #1014
This is still relevant. I was about to create a new issue

![image](https://user-images.githubusercontent.com/24834206/157231616-5264a2bf-1137-4972-a126-2e7abecf225a.png)

[2022-03-08 13:45] EngelPika32 commented on #914
Still relevant^ (though, it's probably low priority).

[2022-03-08 14:13] incertoe opened #1955 "A toggle to cause the 'actions menu' to be placed at the bottom of the screen instead of the top"
main-header[_ngcontent-idu-c169] {
    position: fixed;
    z-index: 10;
    bottom: 0px;
    width: 100vw;
    background-color: black;
}

[2022-03-08 16:59] aripollak commented on #1413
I think this is still relevant. Maybe it could work more like issue attachment links?

[2022-03-08 22:10] tribly opened #1957 "Not tracking time while on pomodoro break"
Today i forgot to start a new pomodoro session and the time didn't get tracked while being on break, even though the option `Stop time tracking for task on break` is disabled. So i guess this is a bug?

- Version used: 7.10.1
- Operating System and version: Arch Linux

### Expected Behavior

Time should be tracked when `Stop time tracking for task on break` is disabled.

### Current Behavior
Time

[2022-03-09 02:00] arrobeselias commented on #1659
It's still is. Is a pain in the ass to change the pomodoro time bc I change
a subject bc there is stuffs I can go 2h straight and others I have to stop
every 25 minutes

Em ter, 8 de mar de 2022 22:57, github-actions[bot] <
***@***.***> escreveu:

[2022-03-09 11:05] renyuneyun commented on #1618
@johannesjo I'm not sure if that is still the case now. As far as I know, DEs and distros are / have been switching to Wayland.

Gnome has been using Wayland as the default option for quite some time; KDE [plan to make "Wayland shine"](https://www.phoronix.com/scan.php?page=news_item&px=KDE-2022-Roadmap) in its roadmap for 2022.
Ubuntu started to ship with Wayland by default [since 21.04](https://

[2022-03-09 11:09] alosarjos commented on #1618
The truth is that Wayland is pretty usable and pretty close to becoming
the default for most things desktop related.

But Electron support for Wayland is still a work in progress. As long as
Electron dependency updated from time to time, there isn't much to be done
on this specific app.

El mié, 9 mar 2022 12:05, Rui Zhao ***@***.***> escribió:

[2022-03-11 03:20] JoseOlin commented on #1380
Still relevant, in my opinion.

Especially having some way to estimate the number of tasks in a day before scheduling another task for that day. It can be as simple as showing the **number of scheduled tasks on mouse over** or as elaborate as **showing the Timeline of that particular day on mouse over**, as a popup, which would also allow you to see what schedules are available.

In the case of th

[2022-03-11 10:18] johannesjo commented on #1951
Thanks for reporting this!

[2022-03-11 10:34] #739 closed

[2022-03-11 10:43] #1414 closed

[2022-03-11 10:44] #1425 closed

[2022-03-11 10:44] johannesjo commented on #1245
Thanks again @dsdomingues !

[2022-03-11 10:44] #1245 closed

[2022-03-11 10:54] johannesjo commented on #1908
Possibly, you need to delete the cache and refresh the page again.

[2022-03-11 10:56] johannesjo commented on #1955
I live this open for discussion (please upvote if you like to see this). Meanwhile you might be able to achieve what you want by loading a custom stylesheet:
https://github.com/johannesjo/super-productivity#custom-themes-desktop-only

[2022-03-11 11:10] #1923 closed

[2022-03-11 12:33] aripollak commented on #1667
Still relevant.

[2022-03-11 14:20] papernoise commented on #1908
Ahh you're right! Now it works.
Weird, because everything else was working as expected.

[2022-03-11 15:06] johannesjo commented on #1938
Thanks for your patience! :)

I think I understood the steps now, but I am still unable to reproduce this. With the "Due tasks list"  you mean the list inside the dialog if there have been multiple scheduled tasks at the same time, right?

I also found out (and fixed) that tasks are also removed from the list if editing the reminder is canceled. But since you mention that the time was updated for

[2022-03-11 15:46] johannesjo commented on #1938
One more question:
What happens if you wait for a bit? Does the re-scheduled task disappear after some time?

[2022-03-11 15:56] johannesjo commented on #1915
Thank you very much for digging into this! Makes sense to me what write!

About the new issue: I think the button should ideally switch to add all tasks planned for today, when the day changes.

About the original one: A confirmation dialog for the original could be a good option. So the user at least knows what's going on.

[2022-03-11 18:25] halloichbingunnar commented on #1938
Thanks! I'll check the next time it happens! Interestingly, it hasn't happened for a while yet - so maybe it's not a top priority problem. I will observe it for the next weeks 😎 🕵🏻

[2022-03-11 22:26] stephencork commented on #1650
Hi Jo,
    This issue is still current, when viewing a tasks page

https://user-images.githubusercontent.com/39505348/157981061-8d8ca5b9-8caf-4e49-92d9-a7df917e8d71.mov
![IMG_EB1C21815232-1](https://user-images.githubusercontent.com/39505348/157981565-add780a4-5964-471f-b9d2-77ba4092ca61.jpeg)

Super productivity app version 7.10.1 on Iphone SE version 15.3.1

[2022-03-12 01:50] #1628 closed

[2022-03-12 11:45] johannesjo commented on #1908
Alright! Thank you very much once more! :) Let me know if you have any other enhancement ideas!

Have a nice weekend!

[2022-03-12 11:45] #1908 closed

[2022-03-12 14:22] GalensGan commented on #1574
@tubia  have you resolved the issue? I met a same error。
the metaData is:
![](https://s2.loli.net/2022/03/12/etNoulRkKzZ978Q.png)

[2022-03-12 21:18] alacecho commented on #1574
Hello!
Same issue for me. Debian testing with Appimage 7.10.1, and deb package.
Alex.

[2022-03-13 03:12] fcruz-ehr commented on #506
Just keeping the issue alive in case @johannesjo is still considering this in the future :)

[2022-03-14 01:57] #1631 closed

[2022-03-14 01:57] #1630 closed

[2022-03-14 13:07] nkrot commented on #1957
may be related to https://github.com/johannesjo/super-productivity/issues/333

[2022-03-14 15:52] papernoise commented on #1908
Thank you for your amazing work with SP!

[2022-03-14 16:00] papernoise opened #1962 "Arrow up and down when creating new task"
## Problem Statement / Possible Solution

A little enhancement idea on an existing feature, so I don't think this requires too much explanation.
I quite like that one can choose if the new task should be created on top or on the bottom of the list. I use it quite often.
To be more specific I mean this one:
![image](https://user-images.githubusercontent.com/1595523/158211571-0aa8e736-b431-4ad3-b313

[2022-03-14 17:37] carriesnyder opened #1963 "Using Left Arrow to Close Sidebar after Task is Scheduled and Backlogged Generates Error"
### Steps to Reproduce
1. Set a task to have a future scheduled date, checking the option for it to go into backlog in the meantime
2. After the task goes into backlog, use the left arrow key to close the sidebar which was still open for that task

### Error Log (Desktop only)
[2022-02-28 21:57:20.153] [info]  { enabled: null, showDevTools: false, mode: 'bottom' }
[2022-02-28 21:57:21.012] [info]

[2022-03-14 18:43] pupcpa opened #1964 "alarm sounds from my browsers not defaults"
## Problem Statement

## :grey_question: Possible Solution

## :arrow_heading_up: Describe alternatives you've considered

## :heavy_plus_sign: Additional context

[2022-03-15 13:06] johannesjo commented on #1964
I don't understand tbh.

[2022-03-15 13:10] johannesjo commented on #1962
Thanks for the suggestion. The up and down arrow keys are already used for selecting already existing tasks and issue tasks, so I'd rather not put more functions on them. You can currently change this by using `Ctrl+2` (and `Ctrl+1` for toggling add to backlog/today).

[2022-03-15 18:20] EngelPika32 commented on #1902
Hey there,

any updates on your side? I mean, it's been a whole month and you wanted to think about it.

- - - - -

I've recently created some additional tests to src/app/features/task-repeat-cfg/store/task-repeat-cfg.reducer.spec.ts which clearly show how easy it is to forget your regular tasks with SP.
Anything except daily (which has its own issues #1915 ) doesn't work at all if SP isn't opened

[2022-03-15 21:19] johannesjo commented on #1902
There is a LOT on my plate (not to mention that a war in Europe broke out, which didn't leave me unaffected). I am not sure if you're aware of this, but there are many issues raised every week and working on this project is not my main job.

This is a complicated subject on many different levels and not something I can quickly skim and then provide some input. I scheduled this for the next time I

[2022-03-16 02:01] #1634 closed

[2022-03-16 13:24] SymenTimmermans opened #1965 "Switching to a TTY prevents idle time tracking"
### Your Environment

- Version used: 7.10.1 (via Arch AUR package "aur/superproductivity-bin 7.10.1-1")
- Operating System and version: Arch Linux
- Desktop Environment: DWM window manager with GTK and LightDM.

### Expected Behavior

If I take a break, I switch to a TTY, usually by pressing [CTRL] [ALT] [F3].
Superproductivity should start registering "idle activity" (it did do this some version

[2022-03-16 15:26] conradob commented on #697
@johannesjo @cbergmann this was solved on https://github.com/johannesjo/super-productivity/pull/1560
right?

[2022-03-16 17:08] Ekleog opened #1966 "Repeated task creation doesn't happen for a day if the previous day finished after midnight"
This is a subtask of https://github.com/johannesjo/super-productivity/issues/1915. The end-result is that tasks that a user would expect to have been created are actually not.

1. have daily repeated tasks
2. finish a day after midnight
3. on the next day-after-sleep (so technically the calendar day on which 2 happened), the daily repeated tasks will not be created

The root cause of the issue is

[2022-03-16 17:11] Ekleog opened #1967 ""Add all tasks for tomorrow" prevents task creation on tomorrow"
This is a subtask of https://github.com/johannesjo/super-productivity/issues/1915. The end-result is that tasks that a user would expect to have been created are actually not

1. do a normal day (number n), finishing after midnight
2. click "finish my day" after midnight (so technically in day n+1)
3. click "add all tasks planned for tomorrow" in the finished-day popup, this adds all the tasks pla

[2022-03-16 17:13] Ekleog commented on #1915
Thank you for your feedback! I've just opened tasks for each sub-issue, and transformed this task into a tracking issue that lists all the circumstances where one repeated task could end up not being created :)

[2022-03-17 00:11] MathRPG opened #1968 "On Desktop take focus on task reminder only if option is selected"
Create an option in settings to specify app behavior when a task reminder is due: desktop notification, take focus back to main window, simply play a sound, or a combination of the three.

[2022-03-17 16:45] nicknovitski commented on #427
I can understand that.  What I imagine is, as part of the Edit Repeat Task Config window, you can optionally specify default sub-tasks which will be created when the task is automatically created, and completed when the task is automatically marked completed.  So that people can mix default sub-tasks with manually added ones, which can retain the previous behavior.

My use case is: I want a daily

[2022-03-18 14:05] ced75 commented on #905
I agree. It is possible to define a subtask as a task, but the opposite is not possible.
It would be nice if we could move a task as a subtask of another existing task.

[2022-03-18 15:22] ErezAmihud opened #1970 "Gitlab integration is not working"
I have not found anyone that reported problems, so if anyone has a fix please comment it .

I created a project and connected it to a gitlab project/group, and I couldn't import any issues.
1. When using a gitlab project, when the app tries to get suggestions for issues it gets 404 when requesting notes (the request parameters are starting with & instead of ?).
2. When accessing a project inside g

[2022-03-18 18:18] johannesjo commented on #1965
Thanks for reporting this. Help would be welcome., though this seems to be possibly an OS error, since SP uses what electron offers as an interface which in turn only uses what chromium offers, which in turn uses the standard system api for this.

[2022-03-18 18:19] johannesjo commented on #697
Thanks @conradob ! I am closing this then.

[2022-03-18 18:19] #697 closed

[2022-03-18 18:24] johannesjo commented on #427
I am open for experimenting with this, if someone is willing to put work into it :)

[2022-03-18 18:38] johannesjo commented on #1963
Thank you very much! This should be fixed with the next release.

[2022-03-18 18:39] #1963 closed

[2022-03-18 19:47] conradob commented on #1970
@ErezAmihud this was fixed on https://github.com/johannesjo/super-productivity/pull/1961
I believe we just need a release from @johannesjo

[2022-03-19 01:56] #1657 closed

[2022-03-19 20:21] codeling commented on #1291
This issue is still happening for me with 7.10.1

[2022-03-20 01:58] #1658 closed

[2022-03-20 01:58] #1524 closed

[2022-03-20 17:44] ErezAmihud commented on #1970
A part of it was, but there is still the problem the there was a promise exception
I made a pr to fix it

[2022-03-21 09:41] abhyudaya63 commented on #1823
I didnt write this clearly. What I meant was building a project where you could just have a series of text fields. like a daily diary but for tracking any task you want.
for ex: you want to experiment with taking 3 cups of coffee a day for 30 days and see how it affects your productivity. instead of using a note-taking app, wish I could do this inside SuperProductivity. The app could prompt me to

[2022-03-21 10:05] halloichbingunnar commented on #1938
Ok, it happened again and this time I think I understood what happened - thanks to your explanation of the difference between snoozing and re-scheduling 🙃

I rescheduled a task to another date, but the reminder (that was snoozed before) stayed – so I got reminded, even though the task was rescheduled. Maybe the combination of snoozing before rescheduling blocks the reminder from rescheduling, too?

[2022-03-22 01:32] Braboware opened #1975 "Android circular button icons off-center"
### Your Environment

Android 11
Samsung Galaxy S10+

### Expected Behavior
Not the biggest deal, but circular buttons should have the icon centered

### Current Behavior

Icons are ever so slightly off-center

### Steps to Reproduce (for bugs)

1. Install and open the android app

![Screenshot_20220321-210017_Super Productivity](https://user-images.githubusercontent.com/8632291/159389241-b352e7e4

[2022-03-22 02:03] #1451 closed

[2022-03-22 02:03] #698 closed

[2022-03-22 02:03] #331 closed

[2022-03-23 02:06] #1661 closed

[2022-03-24 03:46] sparshy opened #1977 "Dropbox Token expires every some time."
### Your Environment

- Version used: 7.10.1 Used Appimage
- Operating System and version: Linux Ubuntu 18.04
- Desktop Environment: Gnome
- Browser Name and version: Browser Chrome 98.0

### Expected Behavior
If the token has expired it should refresh i think.

### Current Behavior
![image](https://user-images.githubusercontent.com/8553391/159837245-81b773c7-be90-4d68-9814-3ab93ff0c5e0.png)

###

[2022-03-24 10:46] abhyudaya63 opened #1978 "Random prompts to track tasks"
[https://github.com/tagtime/TagTime](url)
Tagtime seems to not be actively developed. but the concept has a lot of merit. and this could be used alongside SuperProd.
User is randomly prompted throughout the day on what they are doing right then thus forming a much clearer and honest picture of their daily schedule. also, this reduces the effort for tracking tasks and switching between them.

the p

[2022-03-25 12:19] Ekleog commented on #172
Just to say that I just noticed something similar after my monitoring started firing alerts: when tracking time to any task, super-productivity starts writing megabytes per second to the disk. This is probably something that'll end up killing hard disks, as this amount of data writes is pretty significant.

I don't think anyone would feel sad about losing one or two minutes of time tracking, so ma

[2022-03-25 13:25] johannesjo commented on #1823
Thanks for the suggestion! I generally like the idea. How about using repeated task for this?

[2022-03-25 13:28] johannesjo commented on #1975
PRs are welcome!

[2022-03-25 13:34] johannesjo commented on #1402
You can specify the `--user-data-dir=xyz` param, when starting the app. Haven't been on windows in a while. Where do other portable apps store their data? Just in the same folder as the executable?

[2022-03-25 13:35] johannesjo commented on #1977
Thanks for opening this up. Dropbox changed their policy on tokens, but a fix is already on the way. You can use it with the latest edge release or you wait for the next regular release.

[2022-03-25 13:38] johannesjo commented on #1978
Thanks for the suggestion. The standard time tracking concept of SP is very different, so I am honestly not sure how we could integrate this well tbh.

[2022-03-25 13:45] johannesjo commented on #172
@Ekleog Conceptually this makes sense to me. I am a bit worried about all the technical implications this would have (we would need to add some intermediary in memory layer for this to work or to completely change how storing data works).

[2022-03-25 19:30] wbkang commented on #1678
I am experiencing the same problem - I am on Windows 11, 21H2 22000.556 if that matters.

Constant 5-13% cpu when idle, so this corresponds to 1-2 full threads on my laptop - it heats up the laptop good. I ran the profiler and captured the output ([Profile-20220325T152241.zip](https://github.com/johannesjo/super-productivity/files/8353342/Profile-20220325T152241.zip)).

I couldn't decipher the pro

[2022-03-26 02:01] #1383 closed

[2022-03-26 02:01] #662 closed

[2022-03-26 08:53] SMZ70 opened #1981 "Custom Interval in Worklog Export"
## Problem Statement
Some teams have **irregular** team meetings and the team members explain what they have done since the last meeting. Currently, as far as I know, only **Month** and **Week** are supported as report options. However, it would be so helpful if one could enter the start and end date of the report as input in a custom option.

## :grey_question: Possible Solution
Add a **custom**

[2022-03-26 15:43] johannesjo commented on #662
#1951

[2022-03-26 15:49] johannesjo commented on #1981
Thanks for opening this up! Just allowing to specify a start and an end date might be a good start. PRs are welcome!

[2022-03-26 16:58] johannesjo commented on #1938
Hey Gunnar! Thanks to your help I was now able to (hopefully) fix this. Seems like the reminders were never updated in case a reminder is edited that is technically already scheduled for the past. I'll try to publish a new release soon.

[2022-03-26 16:58] #1938 closed

[2022-03-26 20:37] abhyudaya63 commented on #1823
cam you review the past text entries of the task?

[2022-03-26 22:38] reelism commented on #1402
Yes, exactly.

I'm working with Ferdi portable right now, it sits: D:\MyApps\Ferdi\Ferdi-5.8.0.exe
App dir:  D:\MyApps\Ferdi\FerdiAppData

[2022-03-27 07:52] sparshy commented on #1977
Thank you for the reply @johannesjo. Is it possible to get the edge release in form of AppImage? Like which branch corresponds to snaps edge release?

[2022-03-27 09:56] johannesjo commented on #1977
@sparshy yes, but you would have to build the app for yourself. It's the master branch. You can check it out and use the instructions in the readme.

[2022-03-27 10:35] johannesjo commented on #1823
@abhyudaya63 in theory yes, but it's not very comfortable to do this currently (I think there is already an open issue somewhere to improve this).

[2022-03-27 10:36] johannesjo commented on #1402
Alright! Thank you. PR's for this would be welcome!

[2022-03-27 10:37] #1673 closed

[2022-03-27 16:01] halloichbingunnar commented on #1938
Great! Thank you :)

[2022-03-27 16:19] #1970 closed

[2022-03-28 08:54] abhyudaya63 commented on #1823
okay. it would do probably.
thank you! :smile:

[2022-03-30 06:57] MartinWegmann opened #1985 "Working TIME SPENT FOR OTHER DAY not displayed properly (7.10.1)"
# Symptom

For a task I have used "**ADD TIME SPENT FOR ANOTHER DAY**".
**In release 7.10.1** I observe that this is **not properly displayed any more**:
Either date or the time is omited, compared to the display in former releases.

![image](https://user-images.githubusercontent.com/1507511/160769115-45866b8a-b8d9-4b18-a758-0c747dc36175.png)

![image](https://user-images.githubusercontent.com/150

[2022-03-30 08:38] abhyudaya63 commented on #1978
another service on the data of projects and tasks would be more feasible probably.

[2022-03-30 09:03] Anyeos commented on #172
Hello. I just want to comment something but it doesnt mean that I want you to do or change something. It is only my way of thinking.

I not used anymore this app because the above. And sorry but that is why I does not come here anymore.
Instead I developed a very basic app for my personal use and it saves to the disk only when I start the timer. My App saves the start timestamp and if the App cras

[2022-03-30 13:08] realmrealm opened #1986 "Repeating Task - Date Picked is not reflected - Shows previous day instead"
### Your Environment

- Version used: Snap - 7.10.1
- Operating System and version: Arch - latest
- Desktop Environment: Gnome
- Browser Name and version: n/a

### Expected Behavior

When choosing a task and making it repeating you can choose "Monthly", and then choose a date. The task then shows that day next to the "Repeat" section. (You choose April 3rd, "Repeat" section shows "Monthly on the 3

[2022-03-30 20:39] johannesjo commented on #1985
Thank you very much for reporting this! Should be fixed with the next release.

[2022-03-30 20:40] johannesjo commented on #1985
f

[2022-03-30 20:40] #1985 closed

[2022-03-30 20:42] johannesjo commented on #1986
Thank you very much for reporting this! Potentially this is already fixed. At least I am unable to reproduce this. I will make a new release shortly. Please let me know if the issue persists with it.

[2022-03-31 17:20] MartinWegmann commented on #1985
Confirmed. Yes, that's fixed with 7.11.2 .
👍🙏

[2022-04-01 12:11] hugaleno opened #1989 "Add gitlab "scope" param to openproject integration"
Users should be able to filter issues the same way they can on gitlab integration.
* All
* Created by me
*  Assigned to me

[2022-04-01 12:14] hugaleno commented on #1989
I think I can work on this on my spare time. Already did some research on openproject api and should be possible to achieve the same goal

[2022-04-01 15:58] johannesjo commented on #1989
Thanks for the offer @hugaleno! That would be great! Please let me know if you have any questions!

[2022-04-03 10:38] diogomsfranco commented on #1847
This would be a great feature! Its how I've been synchronizing my notes from obsidian between the desktop and mobile.

[2022-04-03 23:50] BenHerbst opened #1998 "Appimage"
## Problem Statement

Easy package for all linux distros, and store via Appimage Pool

## :grey_question: Possible Solution
It is possible via electron as far as I know

## :arrow_heading_up: Describe alternatives you've considered
Flatpak, but there is already an issue opened for that...

## :heavy_plus_sign: Additional context

None.

[2022-04-04 10:15] krillin666 commented on #1574
I know this was done with Nextcloud in mind, however I can't setup this also for Vikunja using its caldav link

[2022-04-04 11:20] sunsoy commented on #1678
I can reproduce, about 10% idle and a full CPU thread. Linux snap package, XPS 15 7590 Intel i7-9750H. Great app though!

[2022-04-04 19:12] PitangaVigand opened #1999 "Error: Missing taskRepeatCfg"
### Steps to Reproduce

1.
2.
3.
4.

### Error Log (Desktop only)

### Console Output

### Stacktrace
[code]

### Meta Info
META: SP7.11.2 Browser – pt-BR – Win32 – Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/99.0.4844.84 Safari/537.36

### Actions Before Error
[code]

[2022-04-05 00:31] NumDeP commented on #1284
:)

[2022-04-05 00:32] NumDeP commented on #1284
Only commenting to keep it open :)

[2022-04-05 07:20] DKBurnsBresMed commented on #1691
Hi All, I have noticed that this issue goes away if the window is more narrow. When the app is maximised, shift+D does nothing, and when it is smaller (e.g. left half of the screen) it works.

Hopefully that helps!

[2022-04-05 19:39] diogomsfranco opened #2001 "Local file sync on mobile"
Hi!

I was wondering if there are any plans to make it an option to use the filesystem as a sync option on mobile. (I think its already an option on the desktop app) For example, the app would generate a file that was saved on a certain location. If that file was to be synced in various devices all of them would showcase the same information in the app. This would make it easier for those using fi

[2022-04-05 22:08] 45553907 commented on #73
439129xxxxxxxxxx

[2022-04-06 07:04] Mindstormer619 opened #2002 "Pomodoro timer cannot be paused/stopped in the webapp version"
### Your Environment

- Version used: 7.11.2 (webapp)
- Operating System and version: Windows 10
- Desktop Environment:
- Browser Name and version: Firefox 98.0.2 / Chrome 99.0

### Expected Behavior

When hovering over the running timer ▶ icon, it should display the ⏭ (break) and ⏹ icons, and those should _stay visible and clickable_ in order to start a break or stop the timer while it's running.

[2022-04-06 09:02] MartinWegmann opened #2003 "7.11.2 Prerelease / Windows :: High CPU load when timer is counting on a task"
Hello Johannes,

with version 7.11.2 I observe that the CPU load by Super Productivity reported in the Windows 10 Task Manager is "Moderate", "High" or "Very high", if  a timer is counting on a task. The CPU load is between 5% an even 18%. This happens even when the Super Productivity window is not active. When I stop counting on a task, the CPU load drops to "Very low".

Is something wrong here?

[2022-04-06 12:04] carlosedb opened #2004 "Error: Task not found: aIzScB82NsHENjBvZwCqQ"
### Steps to Reproduce

1.
2.
3.
4.

### Error Log (Desktop only)

### Console Output

### Stacktrace
[code]

### Meta Info
META: SP7.11.2 Electron – en-US – Linux x86_64 – Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) superProductivity/7.11.2 Chrome/98.0.4758.109 Electron/17.1.2 Safari/537.36

### Actions Before Error
[code]

[2022-04-06 15:34] Greg-Lim commented on #1610
I like "due:"
<task> due:5day
<task> due:nextmon
<task> due:25apr     or     due:25[-/.,]04

[2022-04-06 19:33] JoseOlin commented on #1186
Still relevant, I think.

I'm actually thinking of working on this, is there a guide where you explain the general structure of the code @johannesjo ? I know maybe this is asking too much, but for a long time I stopped asking for a guide of your personal use of super productivity and it turned out that you had already done one, so I ask just in case it already exists.

[2022-04-06 22:06] wacomoto commented on #2003
I have the same issue. Further, the user interface becomes unresponsive and janky. On stopping the timer, everything is smooth (as per previous versions).

[2022-04-06 22:20] wacomoto commented on #2003
Just confirming, rolling back to 7.10.1 resolves the issue.

[2022-04-07 02:43] JoseOlin commented on #516
Useful, but not priority, I think.

I have found some workarounds for this. For example, I name all the projects of the same group with the same prefix, for example
OR | Project 1
OR | Project 2
P | Project 1
P | Project 2
P | Project 3

And I assign the same color to all projects in the same group. Favorite projects are at the top of the list, followed by all others in order of priority.

Perhaps

[2022-04-07 09:49] DKBurnsBresMed commented on #1678
Can also confirm that this happens. It seems to grind to a halt only when tracking time. Can reliably replicate it maxing out a core on my laptop when pressing the play/pause button. when paused goes down to 0%-0.1%, when tracking time shoots right up to 10% usage and slows down whole system.

Would be great to have a solve for this, as at the moment I've stopped using SP to track time spent on ta

[2022-04-08 02:06] #1682 closed

[2022-04-08 02:06] #1621 closed

[2022-04-08 11:28] johannesjo commented on #1902
I spent a little bit of time thinking on this (thanks for your input on this!). I absolutely understand the problem the current behavior causes for monthly and maybe even weekly tasks. At the same time I also want to avoid the case, that there a ton of tasks created in case someone hasn't opened the app in a while.

What do you think about the suggestion, to just check for the last instance and cr

[2022-04-08 17:17] johannesjo commented on #1999
Hey there! Thank you very much for reporting this!

It might be that for some reason a bit of your data got into an invalid state that I didn't account for and that I can't reproduce. It would be great if you could share a copy of your data to contact@super-productivity.com, so I can debug this on my computer. You can create an export by navigating to "Settings" and then to "Import/Export" or you

[2022-04-08 17:25] johannesjo commented on #2003
Thanks for digging into this. I'd assume that the new electron version is responsible for this, since an update was made between 7.11 and 7.10. We might try updating electron to the next version 18.x. I won't get to it until next week Friday. But in case you might want to give it a shot, help would be welcome!

Probably related: #1678

[2022-04-08 17:27] johannesjo commented on #1186
Hey @JoseOlin apart from the comments in the code itself there is no documentation unfortunately. :/

[2022-04-08 17:28] johannesjo commented on #2004
Hey there! Thank you very much for reporting this!

It might be that for some reason a bit of your data got into an invalid state that I didn't account for and that I can't reproduce. It would be great if you could share a copy of your data to contact@super-productivity.com, so I can debug this on my computer. You can create an export by navigating to "Settings" and then to "Import/Export" or you

[2022-04-08 17:39] johannesjo commented on #2001
I assume we're talking about android? :)

[2022-04-08 18:19] diogomsfranco commented on #2001
Hello!

Yes android ahah. I've seen u already have some requests about this, sorry for adding a new one. D

[2022-04-08 18:29] johannesjo commented on #2001
No no that's alright. Probably makes sense to track this in a new issue anyway. :)

[2022-04-08 19:07] diogomsfranco commented on #2001
Do you think this would be a hard thing to implement?

[2022-04-08 21:48] hugaleno opened #2005 "Add jira transition handling to openproject integrations"
## Problem Statement
I really want that on openproject, would be so helpful.
Add Jira transition handling to openproject integration.

## :grey_question: Possible Solution
When transitioning  between Play/Pause/Done have a option to change issue status on openproject, just like jira does.

## :arrow_heading_up: Describe alternatives you've considered

## :heavy_plus_sign: Additional context

I thi

[2022-04-08 21:51] hugaleno commented on #2005
Can you explain what exactly is this, it pulls from jira? Not sure if there is something similar on openproject..

![image](https://user-images.githubusercontent.com/6486234/162536800-75acfaed-e5f7-44ba-8a65-7e084c6225ad.png)

[2022-04-09 06:55] moaminsharifi opened #2006 "TypeError: Cannot read properties of undefined (reading 'getDay')"
### Steps to Reproduce

1.
2.
3.
4.

### Error Log (Desktop only)

### Console Output

### Stacktrace
[code]

### Meta Info
META: SP7.11.2 Browser – en – Linux x86_64 – Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/99.0.4844.84 Safari/537.36

### Actions Before Error
[code]

[2022-04-10 02:06] #1692 closed

[2022-04-10 03:52] hugaleno commented on #533
I'm working on openproject integration now but I will take a look on gitea api. Maybe I can start working on this after.

[2022-04-11 02:10] #1698 closed

[2022-04-11 02:10] #1697 closed

[2022-04-11 08:52] halloichbingunnar commented on #450
Still relevant and related to #366 and #614

[2022-04-11 11:16] nkrot commented on #333
HI @jasyn . any progress on this feature?

I abandoned using super productivity (because its pomodoro timer is only partially usable) but will give SP a chance when this feature is implemented. hence my asking :)

[2022-04-11 12:27] sylock commented on #810
Upvote ! Drag and drop is the first thing I tried and I had to search for 10 min before finding other ways of doing it.

[2022-04-11 20:05] PitangaVigand commented on #1999
Hi, thank you for replying to me.

I have already fixed the Issue by myself just replacing my data for the old
data that I had saved in my drive.
Should I have to close the issues from github?

On Fri, Apr 8, 2022 at 2:18 PM Johannes Millan ***@***.***>
wrote:

--
*att.*
*Pitanga Vigand*
*Arquiteta, Desenvolvedora e Pesquisadora.*
*(21) 99526-6007*

[2022-04-12 14:00] jasyn commented on #333
Hi, apparently life decided to be quite eventful lately. I also overestimated my knowledge of the Redux pattern. By the end of this week I should be able to open a PR. I'll eventually notify you if I'm unable to finish by then.

[2022-04-13 02:10] #1690 closed

[2022-04-13 12:32] sylock opened #2011 "Cannot configure Google Drive sync from Firefox"
### Your Environment

* PopOS! 21.10 (Ubuntu derivative)
* Firefox 98.0.1
* Using the web client 7.11.2 from https://app.super-productivity.com

### Expected Behavior

From Firefox 98.0.1 you are able to configure the Google Drive sync

### Current Behavior

When you click on "save" after setting up the Google Drive sync you get an error message

### Steps to Reproduce (for bugs)

1. open Firefox

[2022-04-13 12:43] sylock opened #2012 "Using dropbox I get all the time "Conflicting data""
### Your Environment

* Use the web client 7.11.2 on Firefox 98.0.1 64 bits on PopOS! 21.10
* Use the Android version from the marketplace version 7.11.2
* sync enabled on both clients onto dropbox

### Expected Behavior

The sync is done smoothly with atomic updates depending on the client I'm using.

### Current Behavior

Using 2 clients frequently to make updates results in conflicting data. Th

[2022-04-14 01:27] Jazb commented on #1978
I think than could be similar to [Daily](https://dailytimetracking.com/blog/time-tracking-without-using-timers)

[2022-04-14 02:10] #1701 closed

[2022-04-14 10:37] abhyudaya63 commented on #1978
Yes. but the prompt must be random to gauge good metrics.
although I will give this a try and would probably be more helpful than my current system :smile:

[2022-04-14 12:11] jasyn commented on #333
Hi @johannesjo, this is my first Github pull request, please _don't_ go easy on me :)

[2022-04-14 18:18] johannesjo commented on #2001
Not for someone who is familiar with android development I think. If someone volunteers for the android part, I would offer to write the frontend interface part.

[2022-04-14 18:19] johannesjo commented on #2005
Thanks for opening this up! Would be nice to have this, I think! PRs are welcome!

[2022-04-14 18:25] johannesjo commented on #2006
Hey there! Thanks for opening this up! Could you by any chance provide a bit more input on how I might be able to reproduce this?

[2022-04-14 18:43] hugaleno commented on #2005
I'm already working on this one, you can assign to me

[2022-04-14 19:05] johannesjo commented on #1999
Yes, I think we can close this then for now. Please let me know if this occurs again.

[2022-04-14 19:08] #1999 closed

[2022-04-15 02:13] #1705 closed

[2022-04-16 14:54] giTran-s commented on #1284
Yes, please allow more time to read the quote, it's faster than the blink of an eye! Thanks

[2022-04-16 21:29] Devamitta opened #2019 "Error: Uncaught (in promise): TypeError: Cannot read properties of undefined"
### Steps to Reproduce

1.
2.
3.
4.

### Error Log (Desktop only)

### Console Output

### Stacktrace
[code]

### Meta Info
META: SP7.11.2 Electron – en-US – Linux x86_64 – Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) superProductivity/7.11.2 Chrome/98.0.4758.109 Electron/17.1.2 Safari/537.36

### Actions Before Error
[code]

[2022-04-18 11:08] johannesjo commented on #2019
Looks to me that you tried to import an invalid set of data. Admittedly the app shouldn't crash like this :)

[2022-04-19 12:29] fkohrt opened #2022 "Add an issue import button"
## Problem Statement

For some projects I collaborate with others via CalDav and/or GitLab issues. For these projects I usually don't create issues within Super Productivity but from the respective web service (i.e. GitLab or Nextcloud). But after adding them in the web I lack a way to quickly process them from within Super Productivity - the automatic import only happens periodically and the only

[2022-04-19 17:21] fkohrt opened #2023 "Text in closing modal not readable"
### Your Environment

- Version used: 7.11.2 (Snap)
- Operating System and version: Fedora 35
- Desktop Environment: GNOME 41.5

### Expected Behavior

I can read the content of the closing modal.

### Current Behavior

The content of the closing modal appears unreadable: every character is a small "box".

![modal](https://user-images.githubusercontent.com/12914806/164054736-c06ee774-7882-4bad-992

[2022-04-20 08:10] johannesjo commented on #1685
If I am not mistaken, this can be closed now right?

[2022-04-21 08:24] johannesjo commented on #2023
This might be an electron issue. I am unable to reproduce this however.

[2022-04-21 13:40] Erik-Nickel opened #2026 "TypeError: Cannot read properties of null (reading 'tagName')"
### Steps to Reproduce

1. Active on the computer with out tracking
2. Clicking on the "Break" button in the automated dialog -> no reaction
3. minimizing the window
4. opening window form task bar
5.

### Error Log (Desktop only)

### Console Output

### Stacktrace
[code]

### Meta Info
META: SP7.11.2 Electron – en-US – Win32 – Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML,

[2022-04-21 15:12] clarkdowding commented on #184
I'm doing a "trial migration" from Things 3 because I've finally fully adopted Linux as my full-time OS and need a Task Manager that I can run under Linux.

So far I like what I'm seeing with Super Productivity. Thanks for the hard work on this great looking app.

I'm creating my *Projects* and realized I when I drag previously created tasks over to the list of projects and release the task on the

[2022-04-21 15:39] johannesjo commented on #184
@clarkdowding there is an open issue for this:
https://github.com/johannesjo/super-productivity/issues/810

[2022-04-22 02:14] #1741 closed

[2022-04-22 03:52] clarkdowding commented on #810
Another Upvote. Like @sylock the first thing I did when I realized I wanted a task I created moved over to a particular project was click and drag. It actually dragged and the project lit up when I hovered over it with the task. So close...

[2022-04-22 12:02] johannesjo commented on #810
@clarkdowding if you want to promote this issue I suggest clicking the thumbs up emoji below the original post. :)

[2022-04-22 13:09] johannesjo commented on #2026
Thanks for reporting this! Are you able to reliably reproduce this (because I can't)? If you are it would be super helpful, if you could open up the console inside the app (Ctrl+Shift+i) and post more of the output there here.

[2022-04-22 14:28] Erik-Nickel commented on #2026
I am also not able to reliably reproduce this. It seemed to me like a fatal crash of the application an prompted me with a button to post it as an issue. If it happens again I will copy more of the output.

[2022-04-22 14:58] johannesjo commented on #2026
Thank you!

[2022-04-22 17:05] clarkdowding commented on #1977
I'm also experiencing this bug. Looking forward to the fix. Thanks!

[2022-04-22 17:08] clarkdowding commented on #810
Thanks @johannesjo, Just did that. Great app. Thanks for your hard work.

[2022-04-22 18:54] johannesjo commented on #1977
The fix should be out now. Please let me know if it works out for you!

[2022-04-22 18:57] johannesjo commented on #2003
I made several adjustments for 7.11.5. Please let me know if the new build improves the situation.

[2022-04-22 18:57] johannesjo commented on #1678
I made several adjustments for 7.11.5. Please let me know if the new build improves the situation.

[2022-04-22 19:13] hugaleno commented on #533
You can assign this one to me @johannesjo . I will start working on it after #2005 review

[2022-04-23 02:07] #1748 closed

[2022-04-23 02:07] #1746 closed

[2022-04-23 13:56] MartinWegmann commented on #2003
**Max CPU load** on my **older work PC with i7-6700 CPU** under version **7.11.5** is typically
< 15% if timer is running and Super Productivity is in focus.
< 10% if timer stopped and Super Productivity is in focus.
**< 6% if timer is running and Super Productivity is not in focus.**
< 2% if timer stopped and app is used.
<0,5% f timer is stopped and app not in focus
CPU Load reacts sensitively o

[2022-04-23 16:08] hugaleno commented on #533
## Action plan

Basic Features based on existing integrations.
- [ ]  Authentication via api access token

- [ ] Allow for import of work packages through the add task bar

- [ ]  Add scope  to filter issues

- [ ] Display basic issue data (local properties) in side panel

## Later on

- [ ] Check imported work packages for updates for active list

- [ ] Transition handling

- [ ] Add worklog subm

[2022-04-23 17:35] clarkdowding commented on #1977
I updated two Linux machines and one Max yesterday to 7.11.5 and all three devices are syncing constantly to my DropBox account. Prior to 7.11.5 I was getting the error pop-up shown by @sparshy in this bug report constantly. I kept re-authorizing DropBox. Immediately after upgrading to 7.11.5 I had to re-authorize once more on each machine and then no more.

I am using SuperProductivity very heavi

[2022-04-23 19:44] clarkdowding commented on #810
### How To Move Tasks To Another Project

I found an existing feature that 95% resolves my need for an enhancement. I'm mentioning it here because I think it will help others. I was watching @johannesjo [training video](https://super-productivity.com/) trying to learn how to do sub-tasks and discovered the following:

_**Right-click on any task for a pop-up menu. One option there allows you to re-

[2022-04-24 02:06] #1749 closed

[2022-04-24 15:52] johannesjo commented on #1746
Just for the record: This has been implemented.

[2022-04-24 16:22] RationalFragile opened #2028 "Can someone please disable backgroundThrottling to prevent missed timers and notifications?"
### Your Environment

- Version used: 7.10.1 (but probably all versions)
- Operating System and version: Windows 10 Pro (20H2)

### Expected Behavior
Get all notifications/sounds (idle, pomodoro, etc) in time.

### Current Behavior
Randomly, timers go into negative values and don't trigger notifications/sounds nor update the tray progress until you unminimize the window using the hotkey.
I think i

[2022-04-24 16:31] johannesjo commented on #533
Please let me know if you need anything @hugaleno ! This is great!

[2022-04-24 16:32] johannesjo commented on #1977
Thanks for checking @clarkdowding ! I am closing this then!

[2022-04-24 16:32] #1977 closed

[2022-04-24 17:21] mariobrostech opened #2029 "macOS title bar has no padding window controls and UI elements"
### Your Environment

- Version used: v7.10.1, installed via Homebrew Cask
- Operating System and version: macOS 11.6.5 Big Sur

### Expected Behavior

I expected for there to be some padding between the macOS window controls and the rest of the UI elements, as per macOS design specifications. See the attached screenshot showing the padding in the stock Messages app as an example. There should be

[2022-04-24 20:42] devinaconley commented on #1904
Hey folks - I often hit the same issue during meetings where the idle handler triggers, takes focus, and switches my desktop to another workspace

Just throwing in a +1 for this suggestion from @EngelPika32

I think something simple like this would cover a lot of cases. I personally don't mind correcting the idle vs task after the fact

---
As an aside, @johannesjo this is an awesome application,

[2022-04-25 02:11] #1545 closed

[2022-04-25 02:11] #991 closed

[2022-04-25 06:36] ced75 commented on #1763
Still relevant.

[2022-04-26 00:11] ErezAmihud opened #2031 "Shortning autocompletion on integrations"
## Problem Statement
I am frustrated when all the autocomplete from the integration show mostly the group+project name instead of the issue name - on smaller screens when you have multiple groups/projects ibside each other.

## :grey_question: Possible Solution
One of:
* add option to show only project name without group
* dont show the path before(included) the group you stated

[2022-04-26 01:01] ErezAmihud commented on #2012
It sounds like the syncing does not take into account the data that was changed, only when it was changed.

We should make a record of what you changed from the last sync you did (from that device) and sync obly that

Adding a machenism to check what was changed and then only if the specific field was changed it should show this error.

NOTE that it might be best to use a proper db platform to do

[2022-04-26 02:13] #1755 closed

[2022-04-26 11:35] SepehrRasouli opened #2032 "Weird tray icon name"
### Your Environment

- Version used: 7.11.5 .exe
- Operating System and version: Windows 10 64x

### Expected Behavior
I expected to see 'SuperProductivy' name or something like this, but what i only see is a string full of x
### Current Behavior
![Screenshot 2022-04-26 160200](https://user-images.githubusercontent.com/81516241/165290859-86fc3d4e-6e02-4a0c-bd53-ab9cc2a506b0.jpg)

### Steps to Rep

[2022-04-26 12:18] robwithhair opened #2033 "Snap superproductivity won't open despite clearing local data and recovering from google drive"
Restarted machine and superproductivity won't start.  Reinstalled and it opens but when I resync data from google drive it won't start again.

### Your Environment
Linux workstation-1 5.17.1-arch1-1 #1 SMP PREEMPT Mon, 28 Mar 2022 20:55:33 +0000 x86_64 GNU/Linux
using snap latest also tried edge branch
- Operating System and version: Arch updated daily
- Desktop Environment: KDE
- Browser Name and

[2022-04-26 13:37] Maddosaurus opened #2034 "Add overview for time spent on different projects"
First of all, thank you so much for super-productivity!
I scanned through the issues and found similar issues to my idea, though they may be a bit different to the use case I have in mind.
Related: #614 and #366

## Problem Statement
I would like to see, on a daily/weekly/monthly basis, how much time I've spent relatively on my projects.
E.g. of all tracked time, I have spent: 40% Project A, 30% P

[2022-04-26 18:20] hugaleno commented on #2033
It maybe related with snapd bug
https://forum.snapcraft.io/t/certain-apps-wont-open/14929/21

The same problem happens to me and according to one of the posts on discussion above it may be related with symbolic links, which I have on my machine. On my friend's machine, that don't have symbolic links the problem doen'st occur.

[2022-04-27 01:49] wbkang commented on #1678
It does seem to have fixed it. Thank you very much. Please feel free to resolve.

[2022-04-27 02:15] #1757 closed

[2022-04-27 09:45] robwithhair commented on #2033
There are no symlinks and installed from scratch.  It has been working fine for months, rather than failing on second launch.  It fails when my data is synced again.  Therefore must be related to data in the application.  Clean install has no problems.  Only way I can think to fix is to give a dev a copy of my data to identify what has corrupted or what character is messing it up etc.

[2022-04-27 10:49] robwithhair commented on #2033
Either way, some sort of error message should occur if it's a data issue, rather than a crash.  However oddly it works fine when I installed the Mac version and synced same file from google drive.

[2022-04-28 14:06] zoli opened #2035 "Enable to set start of day"
## Problem Statement
A calendar day is from 00:00:00 to 23:59:59 but a day for me is from for example 06:00:00 am to 02:00:00 am the next day until I go to sleep. But in super-productivity the day strictly ends at 23:59:59 and the timer, repeated tasks, etc gets restarted at that time.
I want the 2 hour I work between 00:00 - 02:00 am on Thursday (by calendar) to get summed on the hours I worked o

[2022-04-28 14:07] zoli commented on #2035
BTW If this feature is acceptable I think I can my self work on it and make a pull request.

[2022-04-28 19:16] johannesjo commented on #2029
Thanks for opening this up! PRs would be welcome for this!

[2022-04-28 19:26] johannesjo commented on #2032
Thanks for opening this up! This should be fixed with the next release.

[2022-04-28 19:26] #2032 closed

[2022-04-28 19:49] johannesjo commented on #2034
Thanks for the suggestion! Makes definitely sense to me to add something like this.

A PR dealing with this would be very welcome! Thanks for the offer! Please let me know, if you have any questions.

[2022-04-28 19:53] johannesjo commented on #2028
Thanks for opening this up! I'll add this setting and it should be available for the next snap edge release (and for self compiled builds from the master branch). I hope there not to bad negative side effects (such as the increased resource usage), so feedback on this would be very welcome!

[2022-04-29 05:29] SepehrRasouli opened #2036 "'Confirm before exiting the app' does not work."
### Your Environment

- Version used: 7.11.5
- Operating System and version: Android 8.1.0
### Expected Behavior

Get prompted by a message to confirm exiting the app.

### Current Behavior

I don't get prompted by any kind of message.

### Steps to Reproduce (for bugs)
1. Go to super-productivity android app
2. Settings -> Misc Settings -> Check 'Confirm before exiting the app'
3. Try to exit the

[2022-04-29 11:40] johannesjo commented on #2003
I am leaving this open for now, in case someone has any additional improvement suggestions. Thanks everybody!

[2022-04-29 11:46] viq opened #2037 "Support Gitlab ToDo"
## Problem Statement
Currently, to my understanding, only issues in projects on Gitlab get imported as tasks.
Gitlab also has ToDo category, where for example you can add Merge Requests to review. Currently those are not visible via the integration.

## :grey_question: Possible Solution

Import ToDo items as tasks.

## :arrow_heading_up: Describe alternatives you've considered

Alternatively, have

[2022-04-29 11:54] johannesjo commented on #2037
Thanks for opening this up! PRs for this are welcome!

[2022-04-29 11:55] johannesjo commented on #2036
Thanks for opening this up! This is currently not implemented for android (as it is not possible to do there).

[2022-04-29 21:33] viq opened #2038 ""Write a comment" in Jira integration does nothing"
### Your Environment

- Version used: 7.11.5 AppImage
- Operating System and version: Fedora 34
- Desktop Environment: i3
- Browser Name and version: Desktop App

### Expected Behavior

When clicking "Write a comment" button in a task integrated with Jira I expected either a text field to appear, or at least the issue to be opened in browser.

### Current Behavior

Nothing happens when clicking th

[2022-04-29 21:35] viq commented on #2038
Just to be clear, I don't mind it much, and having stuff synced from Jira is already nice :) But since there's a button, I assume it's expected to work, and I thought you might want to know that it doesn't ;)

[2022-04-30 00:12] streamtree opened #2039 "Option to automatically create Jira Worklog at the end of a calendar day."
I'm using the app to track time for Jira tasks and need to be able to create a worklog in Jira at the end of each working day. I can do so manually if I remember, but it would be nice to have the option to do so automatically.

[2022-04-30 02:14] #1766 closed

[2022-05-01 06:44] cwerner1 commented on #373
updated to 7.11.5
https://github.com/Homebrew/homebrew-cask/pull/122784

[2022-05-01 10:47] SepehrRasouli opened #2042 "TypeError: Cannot read properties of undefined (reading 'id')"
After finishing a task , if you drag it to where other tasks are, it will return an error like this. but after restarting, the problem got solved but the task was deleted.

TypeError: Cannot read properties of undefined (reading 'id')
id (webpack:///src/app/features/tasks/task-list/task-list.component.ts:120:68)map (webpack:///src/app/features/tasks/task-list/task-list.component.ts:120:43)__tryOrU

[2022-05-01 10:48] SepehrRasouli opened #2043 "TypeError: Cannot read properties of undefined (reading 'id')"
After finishing a task , if you drag it to where other tasks are, it will return an error like this. but after restarting, the problem got solved but the task was deleted.

TypeError: Cannot read properties of undefined (reading 'id')
id (webpack:///src/app/features/tasks/task-list/task-list.component.ts:120:68)map (webpack:///src/app/features/tasks/task-list/task-list.component.ts:120:43)__tryOrU

[2022-05-01 18:44] johannesjo commented on #2036
Thanks for the suggestion. Does the app really close in the case? I think it just moves to the background?

[2022-05-01 18:47] johannesjo commented on #2038
Thanks for opening this up! Write a comment should usually open up the issue page in the browser. On Ubuntu this works fine, not sure why it doesn't on your machine...

[2022-05-01 18:48] johannesjo commented on #2039
Thanks for opening this up! PRs are welcome!

[2022-05-01 18:55] johannesjo commented on #2043
Hey there! Thank you very much for reporting this!

It might be that for some reason a bit of your data got into an invalid state that I didn't account for and that I can't reproduce. It would be great if you could share a copy of your data to contact@super-productivity.com, so I can debug this on my computer. You can create an export by navigating to "Settings" and then to "Import/Export" or you

[2022-05-02 09:24] jfnklstrm commented on #599
Hi! After looking at the conversation and the provided logs I tried something new (but maybe I missed something in this rather long thread). It seems as part of the problem in the first sync is that there is no file in the folder. So I made the folder SPsync and created an empty json file (my-sync-file.json) in Atom.io. Then I uploaded the file into the folder on NC before filling out the settings

[2022-05-02 19:03] johannesjo commented on #533
Thanks to @hugaleno this is now available!

[2022-05-02 19:03] #533 closed

[2022-05-03 13:15] danieltomasz opened #2062 "TypeError: Cannot read properties of null (reading 'issues')"
### Steps to Reproduce

1. I added my private  github repo and a  key to it
2. When I am opening the app I am getting the error below after 10 sec, during fetching the issues

### Error Log (Desktop only)

### Console Output

### Stacktrace
[code]

### Meta Info
META: SP7.11.5 Electron – en-GB – MacIntel – Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) super

[2022-05-03 13:37] robwithhair commented on #2033
Was still experiencing issue so removed snap and installed arch version, which started ok.  Closing issue although not solved.

[2022-05-03 13:37] #2033 closed

[2022-05-03 15:33] SepehrRasouli commented on #2036
Yes, It does move to the background but sometimes when you're writing a task, you accidentally press the back button and it fully exists from the app. It would be really great if this problem gets solved.

[2022-05-03 17:04] #2062 closed

[2022-05-04 08:40] totoroot commented on #1874
I'm getting the same error dialogue on macOS, but it seems like it fails to load the stop icon.
I'm afraid I cannot really contribute in form of a PR, but thought I'd let you know that this is indeed an issue for more than one person.

[code]

[2022-05-04 10:49] robwithhair opened #2064 "Superproductivity using unexpectedly high disk IO"
### Your Environment

- Version used: 7.11.5 Arch AUR
- Operating System and version:  Linux workstation-1 5.17.4-arch1-1 #1 SMP PREEMPT Wed, 20 Apr 2022 18:29:28 +0000 x86_64 GNU/Linux

- Desktop Environment: KDE Plasma on Arch
- Browser Name and version: Not using web version

### Expected Behavior
A few KB every so often written to the disk during usage.

### Current Behavior

Almost 1MB per se

[2022-05-04 16:48] Marama55 opened #2065 "[object Object]"
### Steps to Reproduce

1.
2.
3.
4.

### Error Log (Desktop only)

### Console Output

### Stacktrace
[code]

### Meta Info
META: SP7.11.5 Browser – fr-FR – Linux armv8l – Mozilla/5.0 (Linux; Android 5.0; SM-G900P Build/LRX21T) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/59.0.3071.125 Mobile Safari/537.36

### Actions Before Error
[code]

[2022-05-05 00:14] hugaleno opened #2066 "Bug after gitea integration addition"
@johannesjo  After Gitea addition there is a bug when trying to open project settings of an older project, because gitea configuration is empty in this case.  I think you work around that by doing the following:

[code]
I could just add Gitea default here but I think the following would be better solution:

[code]

Instead of throwing an exception I think we should return a default configuration f

[2022-05-05 08:43] johannesjo commented on #2065
Hey there! Could you provide a bit more input? There is not enough information for me to work on this unfortunately.

[2022-05-05 09:28] #1771 closed

[2022-05-05 12:04] hugaleno commented on #2066
Looks like it's fixed after merge #2067

[2022-05-05 12:04] #2066 closed

[2022-05-06 02:09] #971 closed

[2022-05-06 06:32] zoli commented on #2035
I'm working on this [here](https://github.com/zoli/super-productivity/tree/feat/2035-start-of-day) and I broke the issue to 3 steps:
1. The setting field
2. Recreating repeated tasks with due respect to start of next day setting
3. Calculating spent time with respect to start of next day setting
      - Sub task of 3 which is other time calculations in quick history, work log, etc

What I understa

[2022-05-06 20:05] hugaleno commented on #1989
I think this is working fine. Any problem regarding this should be a new issue.

[2022-05-06 20:05] #1989 closed

[2022-05-07 03:26] #2042 closed

[2022-05-07 03:26] SepehrRasouli commented on #2042
I closed this issue because it is a duplicate.

[2022-05-08 15:57] johannesjo commented on #2043
Thank you very much for the data export! Unfortunately I am still unable to reproduce this. Does this happen every time when you drag and drop a task or was it just that single time?

[2022-05-08 16:06] johannesjo commented on #1874
I am unable to reproduce this. Did you try running the latest version (7.11.5)? Does the issue also occur there? How did you install the app (via the dmg or via the store or as a cask?

[2022-05-08 16:35] johannesjo commented on #2035
`getWorkLogStr` is as you mention just an utility function, so I wouldn't put any application logic in it. But searching for its usages probably helps identifying most, if not all, areas that might need to be adjusted to consider the new setting (e.g. via modified getWorklogStr call as you suggest), which are:

* Daily Summary
* Simple Counters
* evaluation-sheet.component.ts
* idle.effects.ts
* T

[2022-05-09 10:16] owlright opened #2068 "Full screen break"
Can you add a feature like this:
When using the Pomodoro Timer, the software take the whole sceen and lock the computer like the software 'Pomatez' does?

[2022-05-10 14:06] SepehrRasouli commented on #2043
Yes, it was just that single time.

[2022-05-10 18:47] aripollak commented on #1443
Not sure if this is supported in Electron yet, but in the meantime, could you add a commandline option to reset the idle timer of a running instance of SP? Then I could use something like [swayidle](https://github.com/swaywm/swayidle) to trigger that when my system is idle.

[2022-05-11 07:19] johannesjo commented on #2043
Alright! Please let me know if this happens to happen again!

[2022-05-11 16:27] Zeromika commented on #2037
@johannesjo would you be open to a similar contribution for RSS feeds?

[2022-05-11 23:23] wacomoto commented on #2003
Looks to be fixed for me too. CPU usage back to 7.10.1 levels and no issues with the interface. Thanks :)

[2022-05-12 02:12] #1775 closed

[2022-05-12 02:12] #1776 closed

[2022-05-12 10:28] kaibrune opened #2071 "Local sync error (EPERM)"
### Discussed in https://github.com/johannesjo/super-productivity/discussions/2070

<div type='discussions-op-text'>

<sup>Originally posted by **kaibrune** May 12, 2022</sup>
Hi there,
I wanted to use the local file as a sync option but no matter which location is selected I'll get the error:

`Unknown Upload Errror (Settings correct?): Error: Error: EPERM: operation not permitted, open '/User/Do

[2022-05-12 12:10] mitgitumgekippt opened #2072 "No reset after deinstallation"
### Your Environment

- Version used:  7.11.5
- Operating System and version: Windows 10 Home Build 19044

### Expected Behavior
After a deinstallation and reinstallation should be there a clean enviroment without former settings or tasks.

### Current Behavior

After a deinstallation are no information deleted. All settings and tasks are there after you reinstall the application.
My case: I wante

[2022-05-13 15:59] johannesjo commented on #2037
@Zeromika you mean an issue integration for RSS feeds?

[2022-05-13 15:59] #2003 closed

[2022-05-13 16:28] Zeromika commented on #2037
Exactly, I am using this at work right now and have to do run a cron job that fetches the issues and inserts them to the local backup file and do a sync from there. With RSS feed if anyone has a similar workflow with me they should be able to quickly utilize without going through the approach I followed, as most issue trackers have a feed it will generalize super-productivity as well.

[2022-05-14 07:41] halloichbingunnar commented on #366
good bot, this is still relevant, i think

[2022-05-15 11:18] johannesjo commented on #2037
@Zeromika you can open up a separate issue you about this, if you like. Maybe someone picks it up. Personally I wouldn't need it.

[2022-05-15 15:34] wjadevries opened #2073 "Make fireworks on finish day page optional"
Hi, first of all: thanks for such a great simple (finally!) task and time manager!

But can you please make the  fireworks on the finish day page optional?
I know it's off when I disable animations, but I'd like to keep the smooth slide ins etc, but I hate the fireworks. It distracts me from the info on the page.

Thanks!

BR,

Wessel de Vries

[2022-05-15 15:45] wjadevries opened #2074 "iPad keyboard not showing in most places"
If I edit a project or want to add a task or whatever I can't change or edit anything on my iPad.
The keyboard simply doesn't pop up.

PS: I've added the website page to my iPad desktop.
It works when I use it in the browser.

[2022-05-15 15:51] wjadevries opened #2075 "Sync shows no remote data while there is"
I opened the website on my iPad and got the message that there's no remote data, and if I wanted to upload from local.
There should be remote, but I pressed ok.
Now my stufff is gone.

if I open the webpage saved to desktop on my iPad, I got the message:

Sync Warning: Dropbox date not up to date despite seemingly successful sync. (This might happen when: 1. You have conflict changes and decide to

[2022-05-15 18:18] wjadevries opened #2076 "No remote data found. Upload local to Remote?"
On browsers (on my iPad and Samsung phone) I regularly get the message:

No remote data found.
Upload local to Remote?

I use Google drive for syncing, and it worked a while (since installing on 3 devices this afternoon) but now I get this message every time I open the web page.
I don't want to upload local, because my pc has synced the last time.
what's wrong?

[2022-05-16 11:55] johannesjo commented on #2073
Thanks for opening this up! PRs are welcome!

[2022-05-16 11:56] johannesjo commented on #2074
Thanks for opening this up! PRs are welcome!

[2022-05-16 11:57] johannesjo commented on #2075
Thanks for opening this up! Unfortunately I have no IPad available to fix this myself, so help with this would be welcome!

[2022-05-16 14:33] AndrewCarvalho commented on #450
I would like to add a small additional request that seems that it may have been overlooked. I archive projects frequently as I make it a habit to break down large or ongoing projects into several smaller ones so that work can remain focused on specific related sets of tasks (something I picked up from working in agile for ages).

I'm fine with simply hiding completed projects as it accomplishes th

[2022-05-17 07:20] johannesjo commented on #450
@AndrewCarvalho Thanks! Makes sense to me! Maybe it's better to open a separate request about this, since this would be a smaller change without additional conceptual implications.

[2022-05-17 17:28] AndrewCarvalho opened #2077 "Hide archived projects from Add To Project context menu"
When using the context menu (right click) to assign a task to a project, the list shows all projects regardless of hidden state. This makes the list much harder to parse quickly.

It would be preferred if hidden projects were removed from the list of possible assignments.

Using the + keyword is an alternative but only shows the best match and many projects names are similar.  For example: `Projec

[2022-05-18 16:24] aguscaba opened #2079 "Flexible time pomodoro breaks"
Hello, first of all want to thank you for such a wonderful tool

This is a feature request, not an issue or bug

The concise request is to have flexible timing for pomodoro breaks.

Description: I frequently got motivated and would like to continue with what I am doing for a short period of time or simply don't want to cut the idea, actually whenever you get the break reminder (which stops the wor

[2022-05-18 20:23] wjadevries opened #2080 "sync doesn't work accross multiple devices"
I love the app, but sync just doesn't work.
I tried it with Google sync and Dropbox sync, but both always give the message that there's no remote file found and wants me to upload local to remote (from iPad or Samsung phone).
When I do that and go to the app on another device (pc) I get the same message.

All devices have been enabled for Google (or Dropbox which I also tried), but the message kee

[2022-05-19 02:15] #1489 closed

[2022-05-19 10:03] BenHerbst commented on #1795
Still relevant

[2022-05-20 00:31] JoseOlin commented on #1740
Hi! Is this completed?

En qué versión está integrado?

Thanks!

[2022-05-20 06:41] rreo commented on #1778
It is fixed!

[2022-05-20 08:24] rreo commented on #1778
This issue is fixed. Thanks a lot.

I love this app and have been using it for some time. Here are some other UX issues I've noticed using the keyboard shortcuts if you're interested.

### 1. Show and Focus/Hide the sidebar

Pressing 'Shift D' focuses on the sidebar (specifically the Today button', pressing 'Shift D' again does nothing. Then 'escape' hides the sidebar, along with the icon to show

[2022-05-20 20:01] linhandev opened #2084 "[Feature Request] Sync with local file on android"
## Problem Statement

Add option to sync with local file on android as on desktop version

## :grey_question: Possible Solution

I haven't dived into the code, but I notice there is an automatic backup to app folder option and we have support for syncing with cloud storage providers. I guess putting these two together somehow can make the app sync with localfile. This way we can use some file sync

[2022-05-21 15:25] johannesjo commented on #2079
Thanks for the suggestion! Makes sense to me, to add something like this! PRs are welcome!

[2022-05-21 15:29] johannesjo commented on #2080
Hi there! Thanks for opening this up! What devices are we talking about and how are you running the app (desktop? mobile? which OSs?) Do you maybe have multiple files with the same file name (also check the trash folder)? Might be that the app gets confused by that.

[2022-05-21 21:10] milotype commented on #1812
IMO, it would be good, if there where some informations about translations. Either as suggested by me above, or in some other way.

[2022-05-22 08:40] johannesjo commented on #1812
Thanks for your suggestion! I would expect any serious app to have at least some internationalization. That's why it isn't mentioned anywhere. There is a section in the readme for contributing translations:
https://github.com/johannesjo/super-productivity#hearts-contributing

[2022-05-22 10:46] fam4r commented on #293
Hello! Any update on this?
I would be available for testing it out 😄

[2022-05-22 13:37] milotype commented on #1812
@johannesjo Yes, I've seen that information. IMO, it's something developers/programmers would notice. But this information is not directly noticable for (potential) users of the app. Standard application users need a direct information about translations of the app (or about the possibility to contribute translations). At the same time, you might get users to translate the app into their language

[2022-05-22 14:54] BenHerbst commented on #1998
There is already an app image in releases. I didn't saw that sorry

[2022-05-22 14:54] #1998 closed

[2022-05-22 16:58] Houssem12-ai commented on #293
Hello, i wish you are doing great
we are still in the development phase
i am doing regular meeting with the team actually

[2022-05-23 13:53] Zargron opened #2087 "[object Object]"
### Steps to Reproduce

1. Search play store
2. Install app
3. Open app
4.

### Error Log (Desktop only)

### Console Output

### Stacktrace
[code]

### Meta Info
META: SP7.11.5 Browser – en-AU – Linux armv8l – Mozilla/5.0 (Linux; Android 5.0; SM-G900P Build/LRX21T) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/59.0.3071.125 Mobile Safari/537.36

### Actions Before Error
[code]

[2022-05-24 02:13] #1818 closed

[2022-05-24 02:13] #1816 closed

[2022-05-24 03:50] keerah opened #2088 "Screenshot at a specified time interval"
Hi and thanks for this great tool first
I would love if it could take screenshots at a specified time interval and save them into a specified folder while the tracking is in progress.
Organizing screenshots into subfolder per project would be great.
I hope it's not too complicated feature, it can be useful not only for me personally.

[2022-05-24 23:16] csamu commented on #2035
I have the same problem.
My workday can range from 06:00 am to 03:00 am the next day.
But currently in Super Productivity, tasks statistics are split into two days if it goes beyond midnight.
I looked around but i couldn't find the settings.

[2022-05-25 02:14] #695 closed

[2022-05-26 02:15] #1821 closed

[2022-05-26 21:12] 73794449 opened #2089 "Time in app sync"
## Problem Statement
The problem with synchronization when the time on different devices is "different". Linux and Windows have different principles for dealing with time, so I used one of the solutions to fix it. On Linux I have the correct time with the correct time zone, while on Windows I have the "correct time" but with the wrong time zone. For example, the correct time zone (UTC+2) and the t

[2022-05-28 02:09] #1825 closed

[2022-05-28 09:10] m4nured commented on #645
Hi Johannes,
What kind of iOS device do you need for checking?
I am thinking about supporting this awesome project by sending you a functional iOS-device.
Would be an iPhone 6s which runs the latest iOS but has a non-essential defect okay, like stripes on the display or some other. Then I might look for a device on "Kleinanzeigen" in the next weeks.
Sebastian.

[2022-05-28 11:36] milotype commented on #1812
@johannesjo If you do decide to use a translation platform to translate the app, it would be great, if you'd also enable to translate the website content – ideally, the website would then automatically present the users' system or browsers language/locale, or you could implement a language menu on the website, so users can change the website's language into their own one.

I'm aware this is a lot

[2022-05-28 14:17] FilBot3 commented on #25
So, I opened a discussion for building the application, Discussion https://github.com/johannesjo/super-productivity/discussions/2092 . Seeing missing libcrypt.so.1 errors.

[2022-05-29 02:15] #1834 closed

[2022-05-29 20:50] Viniuau commented on #2079
This is pretty much adding FlowTime, which I'd love to see it being added. I found that Pomodoro was getting in the way. I do creative work, and many times now I've straight up skipped break to not lose focus on my work.

If I may add to this issue, here's what FlowTime is about https://medium.com/@UrgentPigeon/the-flowtime-technique-cheat-sheet-30168b2e31d9#.5kzhko7ab
You tool is already helping

[2022-05-29 21:57] tchernienko commented on #1579
Just my 2 cents here:
I just had to manually duplicate 8 tasks and their 7 subtasks each, so a template feature would have been definitely useful here.
The template would be attached to the project I guess but could be duplicatable to another one, or maybe add a template management menu/area/you-name-it.
A duplication feature would have done the trick as well.

Talking about duplication, kind of a

[2022-05-30 02:15] #1779 closed

[2022-05-30 20:02] zoli commented on #2001
I will try to tackle this issue. It seems nobody else is working on it.

[2022-05-31 02:14] #1844 closed

[2022-06-01 06:13] 1ncend1ary opened #2094 "Menu bar icon does not update when automatically changing theme on MacOS"
### Your Environment

- Version used: 7.11.5 dmg
- Operating System and version: OSX 10.15.7
- Desktop Environment: –
- Browser Name and version: –

### Expected Behavior

See Steps to Reproduce.

### Current Behavior

See Steps to Reproduce.

### Steps to Reproduce (for bugs)

1. Select appearance: Auto under General settings

<img width="426" alt="изображение" src="https://user-images.githubuser

[2022-06-01 08:16] tennox commented on #1883
Still relevant, albeit neither me or the dev or someone else has started working on it 😅

I might, some fine day, but currently I'm busy :/

[2022-06-02 14:37] aguscaba opened #2105 "Error: Cannot load model. Version to load is newer than local (7.11.5)"
### Steps to Reproduce

I opened the android app, it got updated, after that i closed from phone and opened on pc (synchronization enabled) and it threw the mentioned error

1. Have SP 7.11.5.0 installed on windows with synchronization enabled and auto backup
2. Open the Android App from phone.
3. Accept the update request from phone (at the end of the update it was on 7.11.5).
4. Start working fr

[2022-06-03 03:53] baiger commented on #405
How has this been going? I'd like to take this up if nobody is working on it.

[2022-06-03 14:13] johannesjo commented on #405
Hi @baiger ! This is great news! Could you maybe outline your thoughts on how you'd like to implement this?

[2022-06-03 14:34] johannesjo commented on #2094
Thanks for opening this up! PRs are welcome!

[2022-06-03 14:58] aguscaba commented on #2105
Hey johannesjo thank you very much for taking time on it, I have a question please, from phone I cannot see the "Export data" button but from windows I cannot do anything because the mentioned error message is shown above all, I cannot get rid of it as it keeps appearing.

Could you please help me to get the data?

[2022-06-03 17:43] johannesjo commented on #2105
Hm that's weird. It should be there. You need to open the menu first (the burger icon on the top left), then you need to select "Settings" on the bottom left and then you need to scroll down to "Sync & Export", where you need to expand "Import/Export". There you should find the "Export Data" button.

[2022-06-03 18:29] #2077 closed

[2022-06-03 18:38] aguscaba commented on #2105
In android the button doesn't seems to be there.
![Screenshot_20220603-132555_Super Productivity](https://user-images.githubusercontent.com/67975/171925429-5a2c5f79-903c-49fd-8962-2b405afa12d3.jpg)

[2022-06-04 02:10] #1848 closed

[2022-06-04 02:10] #1850 closed

[2022-06-04 03:03] DianaGiulietti opened #2107 "Time zone is not correct both in browser and in PWA"
### Your Environment

- Version used: 7.11.5 (PWA)
- Operating System and version: Mac Monterey 12.4
- Browser Name and version: Version 102.0.5005.61 (Official Build) (x86_64) and PWA

### Current Behavior

1. I noticed my completed tasks had disappeared (noticed at 10pm EST but it may have happened earlier)
2. "Today" icon shows tomorrow's day
3. Weirdly, I think the worklog is still tracking ta

[2022-06-04 06:11] saratoga8 opened #2108 "TypeError: n.data.repository is null"
### Steps to Reproduce

1.
2.
3.
4.

### Error Log (Desktop only)

### Console Output

### Stacktrace
[code]

### Meta Info
META: SP7.11.5 Browser – en-US – Linux x86_64 – Mozilla/5.0 (X11; Linux x86_64; rv:101.0) Gecko/20100101 Firefox/101.0

### Actions Before Error
[code]

[2022-06-04 21:21] VGuerreiro opened #2109 "Onedrive cloud provider?"
First of all, I want to thank you for this amazing app!

Are there any plans to add OneDrive as a cloud provider for the Sync&Export functionality?
There are options for DropBox and GoogleDrive but I can't figure out how to set it up with OneDrive.

[2022-06-05 02:14] #1852 closed

[2022-06-05 14:51] kaibrune opened #2110 "App preventing logout or shutdown"
### Discussed in https://github.com/johannesjo/super-productivity/discussions/2083

<div type='discussions-op-text'>

<sup>Originally posted by **kaibrune** May 20, 2022</sup>
Hi togehter,
another thing I noticed is that the app hinders the shutdown or logout process on macOS Catalina and above. Somehow the system is not able to force quit the app, so the shutdown or logout process is not able to

[2022-06-06 19:41] aguscaba commented on #2105
Also @johannesjo is there any way to anonymize the Json file so that I can share it with you?

I got stuck only being able to use it from phone (but I usually try to let it away so I don't get distracted :( )

[2022-06-08 09:30] fam4r commented on #1606
I am interested in that feature too, I think it makes sense

[2022-06-08 23:16] baiger commented on #405
My thought is simply to add a due date option to tasks and timeline view ordered by due dates (omitting all tasks without due dates). I imagine both can take advantage of existing code of scheduled reminders. Once that is done I can take a look at reminders, related settings, and other stuff.

[2022-06-09 02:14] #643 closed

[2022-06-09 19:24] jjackson107 opened #2113 "Suggestion - Distracting Website/App Blocker"
Hello,
I'd like to see an option built into Super Productivity to block a set list of websites or applications from being run for a user-defined period of time. This would probably be its own section under the "Productivity Helpers," but should also integrate into the Pomodoro Timer too (ex. "Block websites in your distraction list while there is an active Pomodoro timer"). Maybe there could also

[2022-06-10 00:03] rugk commented on #25
It would be nice if you could publish this as a [flatpak](https://flatpak.org/) on [flathub](https://flathub.org/) e.g.
Flatpaks are a new software distribution mechanism for Linux distros, can thus installed on any distro and are easy to update.
Here is [how to get started](http://docs.flatpak.org/en/latest/getting-started.html).

Though most likely you know much of that… the thing I see is you a

[2022-06-10 02:14] #1871 closed

[2022-06-10 13:20] rcp87 opened #2115 "Gitlab integration issue"
Hi,
First of all congratulations for this great software.
I have a problem with integration with Gitlab. Fetching issues is working, but there is a problem with issue data from Gitlab not recovering it.
As you can see data not recovering for Gitlab section in the issue, and an error appears below: 404 Project not found.
But issues are being imported, so I don't know what is the problem. If you cou

[2022-06-11 22:22] zhartus opened #2118 "Add to task line Today's Time Spent (near to Full Time Spent and Estimate)"
## Problem Statement

In the list of tasks, we always have the opportunity to see the total time spent on the task and the estimated time. But it is also often necessary to know how much time was spent on a specific task today. Now for this you need to make a few extra clicks, and this must be repeated separately for each task.

## :grey_question: Possible Solution

It would be great to be able to

[2022-06-12 02:15] #1882 closed

[2022-06-13 02:15] #1625 closed

[2022-06-13 13:42] FilBot3 commented on #25
Currently working on this. I'm close to getting Super-Productivity to compile in the Flatpak so it can be built from source instead of using binaries, which is what the Flathub maintainers would like. This then opens up the application to working on ARM as well as x86 CPU architectures. However, I would recommend any generic replies such as wanting this to be done moved to the discussion linked ab

[2022-06-13 17:33] JoseOlin commented on #235
Still relevant and a hard one to find workarounds in my case :)

After brainstorming or defining goals for the week, it is very common that one task becomes a subtask of another or that a task should be divided into smaller pieces.

[2022-06-13 22:19] rugk commented on #25
Sorry I though the discussion rather was about the specific installation/build issue you had there (see the title there).

But anyway, great to hear progress on that! :blush:

[2022-06-15 10:40] arrobeselias opened #2121 "An option to add multiple timers with the pomodoro option"
Hi, I'm reposting a feature request I made last year, I'm still struggling with this and it will totally change the game for me

I use Superproductivity mainly for study. It's an awsome way to keep track of the subjects I done and what is left. Also spliting the study hours for topics
When studying I like to go for 2h each topic. Then I choose a subject and start. So my flow is:

1. I read a book

[2022-06-15 10:56] johannesjo commented on #2105
Hey @aguscaba ! I am very sorry, I got confused. Actually data export is currently disabled for the android version, since it is not working (it just wasn't for my mobiles android version, which was an older one).

You might be able to access the data directly from your sync providers file system. From there you might be able to import it again in the webapp (https://app.super-productivity.com) fr

[2022-06-15 19:13] Nanco300 opened #2122 "Error: Uncaught (in promise): TypeError: 'clipboard-write' (value of 'name' member of PermissionDescriptor) is not a valid value for enumeration PermissionName.copy/<@https://app.super-productivity.com/main.d4cb8d7da2417afc.js:1:1725870copy/"
### Steps to Reproduce

1.
2.
3.
4.

### Error Log (Desktop only)

### Console Output

### Stacktrace
[code]

### Meta Info
META: SP7.11.5 Browser – pt-BR – Win32 – Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:101.0) Gecko/20100101 Firefox/101.0

### Actions Before Error
[code]

[2022-06-16 09:39] #2035 closed

[2022-06-18 08:33] JFC-B opened #2124 "Add Sub task to my Day"
## Problem Statement

Unable to add only sub task to my day so I am forced to add to whole task to the day. Which is annoying because, for example, the predicted time is fooled.

## :grey_question: Possible Solution

Add the possibility to add sub task to the day (without all the others sub task go to the day with him).

## :arrow_heading_up: Describe alternatives you've considered

ø

## :heavy_p

[2022-06-20 17:31] aguscaba commented on #2105
Hi, now I was able to export by deleting the local files within windows appdata folder and trying to resync, got below error:
![2022-06-20 12_18_29-Super Productivity](https://user-images.githubusercontent.com/67975/174651948-1117c8e0-1b8a-42c9-a08b-1aab0a11404c.jpg)

With below error:

[code]

Also clicked on the export data button from the above image ![2022-06-20 12_18_29-Super Productivity](ht

[2022-06-21 02:14] #1888 closed

[2022-06-21 06:14] JonathanH-UK commented on #1024
@johannesjo please can you reopen this?
I'm still hopeful that you might be able to implement this at some point.

I already sponsor this project but please let me know if there's a way I can help to financially sponsor this specific feature?

Thanks (und mit freundlichen Grüßen)
Jonathan

[2022-06-22 11:39] ItsABlackScreen commented on #2064
Same thing happening on Fedora 35 Appimage, when there is a timer started there is constant disk write, which on a harddrive really slows the system down.

[2022-06-23 11:04] bepolymathe commented on #690
Any news about local file sync or import .json feature ?

[2022-06-26 19:07] WilliamDormer opened #2130 "Tooltips on windows desktop app."
## Problem Statement

When trying to perform certain actions on the application (specifically the windows desktop, but I think this is universal) you cannot tell sometimes what the icon means. For example, when looking at the notes section, there is an icon of a sun. I have no clue what that does. There is no tooltip, and no confirmation when pressed as to what it does. This is a consistent patter

[2022-06-26 19:12] WilliamDormer commented on #2130
Now that I look further, it seems like this may be isolated to that particular spot in the program. But still needs a fix. (I also understand that the sun means add to your day lol)

[2022-06-27 02:15] #1903 closed

[2022-06-27 02:15] #1870 closed

[2022-06-27 02:15] #1695 closed

[2022-06-28 17:06] nickcomua opened #2131 "TypeError: Cannot read properties of null (reading 'issues')"
### Steps to Reproduce

1.
2.
3.
4.

### Error Log (Desktop only)

### Console Output

### Stacktrace
[code]

### Meta Info
META: SP7.11.5 Electron – en-US – Linux x86_64 – Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) superProductivity/7.11.5 Chrome/100.0.4896.75 Electron/18.0.4 Safari/537.36

### Actions Before Error
[code]

[2022-06-29 08:48] amorenoz opened #2132 "Segmentation fault in Fedora 36"
### Your Environment

- Version used: (snap) 7.11.5
- Operating System and version: Fedora 36
- Desktop Environment: Gnome

### Expected Behavior

It should not crash

### Current Behavior

The snap application periodically crashes.

### Steps to Reproduce (for bugs)

I have just created a bunch of tasks and starting recording time on one of them. after a while (not focusing or interacting with th

[2022-06-29 18:43] Evynly commented on #2109
@VGuerreiro You should be able to connect to OneDrive through WebDAV - check out [this guide](https://winscp.net/eng/docs/guide_microsoft_onedrive) (while it isn't specific to Super-Productivity, the steps performed to set up the connection should be similar)

[2022-06-30 08:45] zoli opened #2133 "On task complete fill the spent time"
## Problem Statement
Personally I have some tasks that I won't track the time while doing it (e.g walking or running daily), But on creation of the task I made an evaluation that how much it will take. Currently when I'm marking the task as done If I want the time I spent on the task to count I should manually add the spent time.
I would like some sort of feature that it automatically adds the est

[2022-07-01 02:15] #1925 closed

[2022-07-02 00:40] meximan opened #2142 "Feature Requestion: Please add an option "NEVER" to the "**_remind at_**" section"
How can I turn off reminders so I am not redirected to the app constantly (which breaks my focus on current tasks)?

I've already looked through the settings and turned off what I thought would fix this, but haven't figured it out.

Possible Solution / Feature Requesti:
Please add an option "NEVER" to the  "**_remind at_**" section  so that I don't get these reminders while still being able to kee

[2022-07-03 01:53] woaidangyang opened #2145 "Prevent syncing theme status between windows and mac"
I use Super-productivity both on a Windows PC and a macbook, syncing the data using Dropbox. My Windows PC is in Dark mode while the macbook is in light mode. Super-productivity on my PC always switches to the dark mode automatically after I sync the data with the one on my macbook.

Is there a way to prevent Super-productivity to sync the theme status?

Thanks!

[2022-07-04 02:15] #1926 closed

[2022-07-04 02:15] #1924 closed

[2022-07-05 12:54] dinesh-58 opened #2149 "App isn't listed in Windows notifications priority list"
- Version used: 7.11.5 (both setup & Windows Store version)
- Operating System: Windows 10 Home

### Expected Behavior

In order for notifications to show during focus mode, the specific app has to be added to the priority list `Settings> System> Focus Assit> Customize your priority list`

### Current Behavior

However, the app doesn't show up in that list. I tried with both the setup & the window

[2022-07-08 02:20] aripollak commented on #1413
Still relevant, and I think the drag/copy functionality is missing from jira links too.

[2022-07-09 02:16] #1934 closed

[2022-07-09 04:17] sunjam commented on #914
Open please

On Fri, Jul 8, 2022, 7:16 PM github-actions[bot] ***@***.***>
wrote:

[2022-07-09 09:28] Nukiloco opened #2151 "Add the ability to make a new line on the task items"
## Problem Statement

Currently for each of the items and sub items in my project. There seems to be no way for me to add in a new line to add a new line to the text of the tasks. So my task text currently wraps around.

## :grey_question: Possible Solution

A possible solution is to allow people to make a new line by using ``Shift + Enter``.

## :arrow_heading_up: Describe alternatives you've con

[2022-07-09 12:06] diruoling opened #2152 "Cannot sync with NextCloud"
### Your Environment

- Version used: 7.5.11
- Operating System and version: 7.5.11 on Windows 11, 17.0 on Android 10
- Desktop Environment:
- Browser Name and version:

### Expected Behavior

Sync tasks with NextCloud via webdav

### Current Behavior

The error: "Unknown Sync Error: Error: Invalid response: 504 Gateway Timeout"

### Steps to Reproduce (for bugs)

It happens every time on sync or

[2022-07-10 02:15] #1929 closed

[2022-07-10 19:12] ashutoshsaboo commented on #530
@johannesjo any plans to get this shipped sooner, it'd be very useful to have for sync? Looks like @CristoJV dropped the idea :(

[2022-07-11 02:15] #1605 closed

[2022-07-12 01:47] JIAJE opened #2153 "Pop-up alerts for Android"
I hope to add a pop-up reminder similar to the desktop on Android

[2022-07-12 04:17] JoseOlin commented on #1380
Still relevant ;) IMHO

[2022-07-12 11:24] flossgeek commented on #1513
I'm having the exact same problem. Perhaps this issue could be reopened?

[2022-07-12 12:53] johannesjo commented on #2151
Hi there! This is intentional, but I leave this open for discussion in case others need this as well.

[2022-07-12 13:47] johannesjo commented on #2133
Thanks for the suggestion! That's a nice idea! Could you explain to me how the flow would look like? Is this a general option or is it just something for just special tasks?

[2022-07-12 13:51] johannesjo commented on #2142
Thanks for opening this up! Are we talking about the task schedule dialog that opens if you click "Schedule Task"? You can remove a reminder for these tasks by clicking on the little clock icon next to it and then in the dialog you click on the midle icon where there is a crossed out alarm clock. This should remove the reminder.

[2022-07-12 17:53] johannesjo commented on #2105
Sorry for the very late reply. I was away and then on vacation and did not find any time to work on the project in between. Just checked my mails, but I was unable to find yours. Could you send it again to me by any chance?

[2022-07-13 06:49] Bbillyben opened #2155 ""Done on" date display in task description"
## Problem Statement

The date where a task is marked as done is not displayed anywhere.
It would be a great added value for the project follow up!

## :grey_question: Possible Solution

The information is available in the json in task description, input `"doneOn":'timestamps'`

It could be displayed in task description under "created on".

let me know if you need any more information.

[2022-07-13 07:33] tribly commented on #1957
Still relevant.

[2022-07-13 10:39] johannesjo commented on #2105
Thank you! Unfortunately I am unable to reproduce the issue. Do you encounter this every time? Could you maybe try to import the file you send me or to export and then re-import the data again. The model versions  from your file (or a new export) should work no problem with the current SP version 7.11.5.

[2022-07-13 11:11] zoli commented on #2133
If we want to keep it simple, I Think it would be good to place it on task repeat config as a checkbox for example. Because we don't have specific task config currently and also I think the pain of adding the spent time manually is mostly for repeated tasks (at least for me it is) not for other single tasks.

[2022-07-13 12:39] eteisman opened #2156 "The app randomly closes my day, when I try t start a timer"
I accidentally closed the day, which is not what I wanted.

Then I choose "Wait, I forgot something">
Then when I try to start the timer, ... it will just automatically close the day again.
It asks for confirmation, but if I press cancel, it just closes the day.
Fireworks show in the background, but I am NOT done!
There seems to be no way to continue working at all now.

### Your Environment

- Ve

[2022-07-13 12:40] eteisman commented on #2156
I finally stopped and restarted the app.
It seems to be working again now.

[2022-07-15 05:36] dinesh-58 commented on #2149
Strange. The app showed in the list today. I manually set it to have top notification priority inside windows settings so it might have caused that. Or, maybe I wasn't looking properly at the list before ¯\_(ツ)_/¯

[2022-07-15 08:56] LuckyType opened #2159 "Conditional autodelete of backlog tasks"
## Problem Statement
Using the Jira integration, i have two Projects Setup. The first project should only contain all of the issues assigned to me, the second project should contain all issues.

Why do i need the second project?
Often times i help out others with their issues, and spend time with them working for solutions, thus i need the option to track time on issues not assigned to me.

The Pr

[2022-07-15 15:03] johannesjo commented on #2133
Makes sense to me! Let's do it like this! PRs are welcome for this!

[2022-07-15 15:07] #1964 closed

[2022-07-15 19:38] iSaluki commented on #25
I think this should be prioritised over snap support as flatpak is more widely used and supported.

[2022-07-17 02:15] #1947 closed

[2022-07-17 02:15] #1944 closed

[2022-07-17 02:15] #1942 closed

[2022-07-18 02:16] #1617 closed

[2022-07-18 19:51] Ekleog commented on #1967
AFAICT, still relevant

[2022-07-18 19:52] Ekleog commented on #1966
AFAICT, still relevant

[2022-07-20 15:18] aripollak opened #2162 "TypeError: Cannot read properties of null (reading 'avatarUrl')"
### Steps to Reproduce

1. Clicked on the history next to a jira-linked task that has updates

I'm able to reproduce this issue with a particular very old jira ticket where neither the reporter nor assignee has an avatar set up.

### Error Log (Desktop only)

### Console Output

### Stacktrace
[code]

### Meta Info
META: SP7.11.5 Electron – en-US – Linux x86_64 – Mozilla/5.0 (X11; Linux x86_64) Ap

[2022-07-20 23:36] santiyounger commented on #235
@JoseOlin You are right, any workarounds to the lack of this feature become extremely manual and tedious. Hope it can be implemented in the future

[2022-07-21 15:16] CapedBaldy0 opened #2163 "Error: Project not found"
### Steps to Reproduce

1.
2.
3.
4.

### Error Log (Desktop only)

### Console Output

### Stacktrace
[code]

### Meta Info
META: SP7.11.5 Browser – en-US – Win32 – Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.0.0 Safari/537.36

### Actions Before Error
[code]

[2022-07-21 19:10] rklec commented on #1014
The issue is still there.

[2022-07-22 02:16] #1618 closed

[2022-07-22 09:49] sroener commented on #920
Hi,

I didn't find this config in the options section. I think this is still relevant and would be a very convenient solution.

[2022-07-22 11:51] Sunaked opened #2164 "Error: Uncaught (in promise): TypeError: Cannot set properties of undefined (setting '_lastParams')TypeError: Cannot set properties of undefined (setting '_lastParams') at http://localhost:10/main.ed9a9aeb5f620523.js:1:298286 at Generator.next () at http://localhost:10/main.ed9a9aeb5f620523.js:1:297751 at new t (http://localhost:10/polyfills.863cca7d8b9d1abd.js:1:17834) at ho (http://localhost:10/main.ed9a9aeb5f620523.js:1:297486) at save (http://localhost:10/main.ed9a9aeb5f620523.js:1:298236) at n. (http://localhost:10/main.ed9a9aeb5f620523.js:1:299416) at Generator.next () at h (http://localhost:10/main.ed9a9aeb5f620523.js:1:297542) at T.invoke (http://localhost:10/polyfills.863cca7d8b9d1abd.js:1:6575)"
### Steps to Reproduce

1.
2.
3.
4.

### Error Log (Desktop only)

### Console Output

### Stacktrace
[code]

### Meta Info
META: SP7.11.5 Browser – en-RU – Linux x86_64 – Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.0.0 Safari/537.36

### Actions Before Error
[code]

[2022-07-22 15:44] opport opened #2165 "Error: Uncaught (in promise): TypeError: cannot use 'in' operator to search for "globalConfig" in "\u1BE1\u0831\u420C\u10F6\u05D0\u21A0\u4EF1|\u6037\u603A\u082E\u302D\u4251\u7400\u1862\x96..."importCompleteSyncData/"
### Steps to Reproduce

1. Open webapp @ https://app.super-productivity.com/
2. Import settings.
3. Error occurs.
4.

### Error Log (Desktop only)

### Console Output

### Stacktrace
[code]

### Meta Info
META: SP7.11.5 Browser – en-US – Linux x86_64 – Mozilla/5.0 (X11; Linux x86_64; rv:102.0) Gecko/20100101 Firefox/102.0

### Actions Before Error
[code]

[2022-07-24 02:15] #1955 closed

[2022-07-24 02:15] #1954 closed

[2022-07-24 02:15] #1667 closed

[2022-07-24 02:15] #1951 closed

[2022-07-24 02:15] #1659 closed

[2022-07-25 02:22] akang22 opened #2169 "Error: Uncaught (in promise): Error: TypeError: Cannot set properties of undefined (setting '_lastParams')Error: TypeError: Cannot set properties of undefined (setting '_lastParams') at n. (https://app.super-productivity.com/main.d4cb8d7da2417afc.js:1:2260570) at Generator.next () at h (https://app.super-productivity.com/main.d4cb8d7da2417afc.js:1:2257611) at T.invoke (https://app.super-productivity.com/polyfills.863cca7d8b9d1abd.js:1:6575) at Object.onInvoke (https://app.super-productivity.com/main.d4cb8d7da2417afc.js:1:3733601) at T.invoke (https://app.super-productivity.com/polyfills.863cca7d8b9d1abd.js:1:6515) at I.run (https://app.super-productivity.com/polyfills.863cca7d8b9d1abd.js:1:1971) at https://app.super-productivity.com/polyfills.863cca7d8b9d1abd.js:1:16770 at T.invokeTask (https://app.super-productivity.com/polyfills.863cca7d8b9d1abd.js:1:7193) at Object.onInvokeTask (https://app.super-productivity.com/main.d4cb8d7da2417afc.js:1:3733416)"
### Steps to Reproduce
1. Navigate to task page
2. Track time for a task
3. I believe I let the task run for at least 24 hours. I may have been low on RAM at some point so there could also be issues there.

Sorry I can't be more detailed on this. I was not making use of any special functions.
When reloading, it shows
'There is only very little disk space available (-17592185975169mb). This might a

[2022-07-25 02:23] akang22 commented on #2169
Possible duplicate of #2164

[2022-07-25 08:20] nicola-lunghi opened #2170 "Set focus mode on windows 10/11"
Windows 10/11 has a focus mode.
Would be great if sp can set it automatically when working on a task and unset it on break

Thanks for this amazing software!!!!!

[2022-07-25 12:07] aninternetuserx commented on #427
In case it's useful for someone, since this feature is not available right now, the workaround I found is to use the "comment" section of the repeating task to add the little steps of the task and they repeat with it :)

[2022-07-26 22:04] mikaelosterberg opened #2171 "TypeError: Cannot read properties of undefined (reading 'start')"
### Steps to Reproduce

1.
2.
3.
4.

### Error Log (Desktop only)

### Console Output

### Stacktrace
[code]

### Meta Info
META: SP7.11.5 Electron – sv – Win32 – Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) superProductivity/7.11.5 Chrome/100.0.4896.75 Electron/18.0.4 Safari/537.36

### Actions Before Error
[code]

[2022-07-28 06:17] ashutoshsaboo commented on #446
Hey @johannesjo ! This would be really incredible if it can be implemented, i've been trying to search for a local-only privacy-first todo app since long haven't found any better alternatives than super productivity. The only major con is lack of reminders on mobile apps especially (but desktop apps too), as system notifications. Any plan if this would be implemented soon? Happy to help out for be

[2022-07-28 13:00] codingantoine commented on #2131
It happened to me with GitHub integration because the token did not have the right access "repo".

[2022-07-28 15:00] balporig opened #2173 "Task dependencies / Linked tasks"
## Problem Statement

There is no way to represent a connection between separate tasks (not the same as subtasks) from the same or different projects. One task can depend on another task, represent a different kind of relationship, like `is caused by`, `causes`, `relates to` etc.

## :grey_question: Possible Solution

A right click `Add relationship` option on selected task. It will bring a popup

[2022-07-29 11:33] johannesjo commented on #2163
Hey there! Thank you very much for reporting this!

It might be that for some reason a bit of your data got into an invalid state that I didn't account for and that I can't reproduce. It would be great if you could share a copy of your data to contact@super-productivity.com, so I can debug this on my computer. You can create an export by navigating to "Settings" and then to "Import/Export" or you

[2022-07-29 11:36] johannesjo commented on #2170
Pull Requests are welcome for this!

[2022-07-29 12:23] scaramouche88 commented on #2132
Exactly same problem here.
It worked nicely for the last 3-4 days and since yesterday it started to crash periodically with the same kind of report.

Any idea why?
(cause the app is really nice, I would prefer to keep using it and not migrate :) )

[2022-07-29 16:31] nicola-lunghi commented on #2170
Apparently is not documented
I found this
https://github.com/bitdisaster/windows-focus-assist
@riverar can you help?

[2022-07-29 16:40] riverar commented on #2170
@nicola-lunghi How can I help? What do you need me to do?

[2022-07-30 23:25] quaintdev commented on #2001
I think this would be an excellent addition to the app because then I can use syncthing and everything syncs up nicely!

[2022-07-31 02:16] #1965 closed

[2022-08-01 08:51] ced75 commented on #905
Still relevant :)

[2022-08-02 02:26] ashutoshsaboo commented on #1847
Still relevant

[2022-08-02 19:50] diogomsfranco commented on #1847
Still relevant

[2022-08-02 20:53] DoumeDuSud opened #2181 "Sub-Task complete button missing"
### Your Environment

- Version used: 7.11.55 from F-Droid
- Operating System and version: Android (EMUI) 12.0.0
- Desktop Environment:
- Browser Name and version:

### Expected Behavior

Having the same button available than in web or Desktop version

### Current Behavior

Not present

### Steps to Reproduce (for bugs)

 - create a sub task
 - long clic to show the menu
 - possibility to close th

[2022-08-02 21:46] DoumeDuSud commented on #2181
Sorry my bad, I didn't notice I need to swipe teh task to left to "Completed" it

[2022-08-02 21:46] #2181 closed

[2022-08-03 02:15] #1291 closed

[2022-08-04 07:50] bytrangle commented on #2170
@nicola-lunghi Is there a module we can use to set Focus Assist in Windows? The module you gave seems to only read the status of Focus Assist.

[2022-08-04 08:03] bytrangle commented on #2130
@WilliamDormer Which icon of the app is not accompanied by text or tooltips? I couldn't find any, nor can I find a sun icon. But I'm using Mac version so not sure if that makes a difference.

[2022-08-04 09:06] bytrangle commented on #2155
Hi @Bbillyben , just want to confirm how I can get the JSOn for the task description? The only way I know is to export, which will generate a JSON file which contains the field `"doneOn": <timestamp>"`

[2022-08-04 09:38] Bbillyben commented on #2155
Hi @bytrangle

I don't have any knwoledge about super-prod app, I've just open the exported json.
But if the info is written in the json it should be available in the db (if there is any db...).

Anyway, if you can look into this I would be very grateful, I needed to find that date again today!

[2022-08-04 19:17] WilliamDormer commented on #2130
Idk how else to describe it. In the notes section, there is the sun icon, and when you hover there is no tooltip. I think there is a good chance it is platform specific, but since it was a while ago I don't remember which platform I encountered this error on. Probably windows, but it could have been mac.

[2022-08-04 21:24] zoli commented on #2001
Exactly I want this feature to use it with syncthing. And it is almost done, I will create a PR for it next week.

[2022-08-05 10:32] JonathanH-UK commented on #1610
Definitely still interested in this one :+1: @johannesjo Please message me if I can help to sponsor it.

[2022-08-05 10:39] nicola-lunghi commented on #2170
I've sent an email to @riverar waiting for a response on this :-) I'll keep you posted.
The current API seems only to be able to query the focus state.

[2022-08-07 21:04] Kenneth-bit opened #2185 "TypeError: Cannot read properties of null (reading 'issues')"
### Steps to Reproduce

1. New Project
2. Enter Github Details (Username/Repository Name)

### Error Log (Desktop only)

### Console Output

### Stacktrace
[code]

### Meta Info
META: SP7.11.5 Electron – en-GB – Linux x86_64 – Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) superProductivity/7.11.5 Chrome/100.0.4896.75 Electron/18.0.4 Safari/537.36

### Actions Before Error

[2022-08-08 02:14] #1975 closed

[2022-08-08 06:09] riverar commented on #2170
`IQuietHoursSettings` has a property setting function entitled `ActiveQuietMomentProfile` that takes in a profile ID and should allow you to turn various profiles on/off. (https://withinrafael.com/2019/09/19/determine-if-your-app-is-in-a-focus-assist-profiles-priority-list/)

[2022-08-09 02:15] #1402 closed

[2022-08-10 02:48] JoseOlin commented on #1186
Still relevant

What sections of the code would you recommend reading thoroughly in order to try adding this functionality?

[2022-08-10 11:18] kaibrune commented on #2110
![shutdown_blocker](https://user-images.githubusercontent.com/33369042/183888420-a68763f2-48d9-4837-8823-dc01e92a1519.png)

[2022-08-10 13:59] CapedBaldy0 commented on #2163
[ANONYMIZED-super-productivity-crash-user-data-export.txt](https://github.com/johannesjo/super-productivity/files/9300638/ANONYMIZED-super-productivity-crash-user-data-export.txt)

[2022-08-10 17:26] rlDawson60 opened #2187 "Error: Cannot determine remind option. Invalid params"
### Steps to Reproduce

1.  I have some tasks of both the repeating and non-repeating type.
2.  I was in a meeting (non-repeating) that was being tracked by SP. I noticed that I needed to adjust the start time of another meeting later the same day.
3.  When I clicked on the icon for "Show/Hide Additional Info" the application crashed producing the files.
4.

### Error Log (Desktop only)

### Conso

[2022-08-11 02:13] #1823 closed

[2022-08-11 09:11] bytrangle commented on #2142
![schedule-task-dialog](https://user-images.githubusercontent.com/28924121/184100620-4575fc78-a811-41f2-bf5c-3153cd86e282.png)

Where is the little clock icon in the Schedule Task dialogue?

Anyway, it is not obvious how to remove the reminder. I think It would be helpful to add a "Don't remind option" to the dropdown list for "Remind at".

![remind-drop-down](https://user-images.githubusercontent

[2022-08-11 14:19] guitarzero opened #2192 "Do not display "Completed Tasks" / SLOW"
Hi
Thank you very much for this great project i have been using for about 2 years
I have now a lot of "completed tasks" and they make Super Productivy run VERY SLOWLY. I cannot use it anymore. I can try deleting "completed tasks" manually but it will take me ages.
Is it possible to hide these "completed tasks"
Is there a one-click button to remove all completed tasks ?
Thanks

[2022-08-12 02:15] #771 closed

[2022-08-12 02:15] #684 closed

[2022-08-13 02:14] #1986 closed

[2022-08-13 12:50] johannesjo commented on #2192
Hey there! There is not, but I am open to adding one (with double confirmation required). For now you can manually edit the export by removing everything from `taskArchive` so that it looks like this:
[code]

[2022-08-13 13:08] #2155 closed

[2022-08-15 03:22] Maltergate opened #2196 "Make an API call with numbers of pomodoros done at the end of the day."
## Problem Statement
I use Beeminder to keep on track with my objectives, with a number of pomodoro to do as daily objective. Currently, I have to manually update the counter on the Beeminder website daily.

## :grey_question: Possible Solution
Allow the possibility to make an API call at the end of each pomodoro, or enable one API call to the beeminder API when clicking on "finish my day".

## :a

[2022-08-15 14:55] Ekleog commented on #1902
Still relevant

[2022-08-16 11:01] johannesjo opened #2199 "Sometimes, I finish a task when the Pomodoro timer is still running and hasn't reached 0 yet. If I mark the task as complete without stopping the timer, the timer is stuck at something like 15:30, 10:20 etc."
Sometimes, I finish a task when the Pomodoro timer is still running and hasn't reached 0 yet. If I mark the task as complete without stopping the timer,  the timer is stuck at something like 15:30, 10:20 etc.

Then I want to start the next task and track Pomodoro. I will need to click "End Pomodoro session" to start the new session at X, where X is the duration of a Pomodoro session. Without doing

[2022-08-16 13:07] hugaleno commented on #2005
This is already implemented.

[2022-08-16 13:07] #2005 closed

[2022-08-16 21:39] tg-x commented on #2115
ran into the same problem, the issue ID is stored incorrectly, you can see this by right-clicking the issue and click open in gitlab.
instead of issues/1 it tries to open something like issues/111648708 which could possibly be a timestamp instead of the issue ID

[2022-08-16 21:43] tg-x commented on #2115
another issue is that after import an #undefined tag gets added to each issue

[2022-08-17 11:19] kemaro1 opened #2202 "TypeError: Cannot read properties of undefined (reading 'title')"
### Steps to Reproduce

1.
2.
3.
4.

### Error Log (Desktop only)

### Console Output

### Stacktrace
[code]

### Meta Info
META: SP7.11.5 Electron – en-US – Win32 – Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) superProductivity/7.11.5 Chrome/100.0.4896.75 Electron/18.0.4 Safari/537.36

### Actions Before Error
[code]

[2022-08-18 02:17] #1691 closed

[2022-08-18 06:04] fkohrt commented on #2022
I believe it is still relevant, but not urgent.

[2022-08-18 15:09] 13hannes11 opened #2203 "Improved exporting for time keeping"
## Problem Statement

I use the tool for exporting into a time reporting tool. I would like to be able to export a task where I have subtask and task as different columns.

I would like my exports to look like this

[code]

[2022-08-18 15:26] tubia commented on #1574
As a further reference, the new version continues not to work with CalDav integration. The overall sync with WebDav, accessible through the Settings, doesn't work either with Nextcloud.

I could also work myself on the issue if anyone of the dev team could point me where to look in the code.

[2022-08-19 06:58] zoli opened #2204 "Enable stoping ongoing task from another device"
## Problem Statement
I think it would be good if there was the possibility to start a task from for example desktop and pause it on android app. Currently it seems the sync doesn't save the data of ongoing task.

## :grey_question: Possible Solution
There could be a ongoing task when saving data to sync which saves the beginning of time which the task has started. Then we can show the ongoing task

[2022-08-19 06:59] zoli commented on #1014
I would like to take on this.

[2022-08-19 07:35] g-kartik opened #2205 "Alarm Sound For Reminding the Tasks"
## Problem Statement
Currently, for reminding the tasks, there is only a one time notification sound  which is generated by the smartphone and is same as other app's notifications. It is very likely that people would miss to notice it and will not be able to distinguish clearly.

## :grey_question: Possible Solution
An arbitrary MP3 file which can be uploaded from the local storage of the device o

[2022-08-19 10:19] johannesjo commented on #2163
Thanks for the data export! Unfortunately I am unable to reproduce this. What did you do before the error occurred?

[2022-08-19 10:35] johannesjo commented on #2204
Hey there! Can you explain this in a bit more detail?

What I understood is:
1. This should work through syncing as is (and not through a websocket or similiar)
2. That we use a special sync property (or new store property) to save the last tracking session started time for this to work

Problems I can see with this is, that there will almost always be a special sync conflict, since the desktop de

[2022-08-19 10:37] johannesjo commented on #2203
Thanks for opening this up! I am open for adding this as another option!

[2022-08-20 19:32] fkohrt commented on #2023
This is still relevant as it also happens with v7.11.5.

[2022-08-21 02:15] #2004 closed

[2022-08-22 02:15] #1435 closed

[2022-08-24 05:32] ced75 commented on #1763
Still relevant.

[2022-08-24 17:08] rsmyst opened #2208 "Request to Expand clickable area on a task to focus it"
## Problem Statement
Hello, this application is very nicely made but i have a few gripes.
First of all, i would love if i can select a task without actually going into the renaming field.
Often times, the focus in the application is taken away from the task when i click settings or some other menu button. To bring focus back to the task and use keyboard shortcuts on it, i am currently forced to cl

[2022-08-24 17:18] rsmyst opened #2209 "Request for Natural Language Processing during task scheduling"
## Problem:
Currently, user is forced to:
1. Make task
2. Right click task
3. Click schedule
4. Schedule Task

It would be incredibly convinient if super productivity added a feature in the syntax of tasks during creation that allowed users to set due dates (scheduling) within the same line. Todoist does something very much like this and honestly probably saved me hours and hours of time.
<html><b

[2022-08-25 06:44] zoli commented on #1014
After checking the code, I think the problem is OS specific even OS version specific for windows.
What I found in linux systems for at least i3 (which I use myself), Gnome, Ubuntu the problem is that the status bar background is dark no matter the theme is light or dark, So I think the default should be to use dark colors (tray icon with white color) for those.
I don't use windows but from what I

[2022-08-26 08:55] johannesjo commented on #2208
Thanks for opening this up! Great suggestion! I am all for changing this up!

[2022-08-26 08:57] johannesjo commented on #2209
I am all for improving this, but probably won't find the time to dig into the subject myself.

[2022-08-26 09:00] johannesjo commented on #1014
@zoli ! Makes sense to me! Thank you!

[2022-08-27 02:15] #2011 closed

[2022-08-27 02:15] #2006 closed

[2022-08-27 12:02] RationalFragile commented on #2028
Yes, this issue should be closed.
I couldn't wait 4 months for the release, so what I realized is that I can use the installer version of super productivity and then I would be able to extract the .asar and modify it directly; and that's what I did.

So I already tested it for a month or so and it solved the issue of missed timers. And didn't introduce any issues.
Anyway, thanks.

[2022-08-27 12:03] RationalFragile commented on #2028
Yes, this issue should be closed.
I couldn't wait 4 months for the release, so what I realized is that I can use the installer version of super productivity and then I would be able to extract the .asar and modify it directly; and that's what I did.

So I already tested it for a month or so and it solved the issue of missed timers. And didn't introduce any issues.
Anyway, thanks.

[2022-08-27 12:03] #2028 closed

[2022-08-27 18:45] #1014 closed

[2022-08-28 02:16] #1978 closed

[2022-08-29 04:42] rsmyst commented on #2151
Personally, I don't particularly see the need in my use case for multi line tasks since i could just text wrap long tasks.
But i can see how multiple lines would make the task itself look much more organized and easy to digest.

[2022-08-29 09:05] scaramouche88 commented on #2001
Hi!
Quite a noob on synching here...   So If I understand the last merging on the topic, it's possible to synch a linux and an Android apps, right? (@zoli ? :) )

If yes, since I never used syncthing, can you explain how to do it?
(an external tutorial might do the job, I like to learn new stuff by myself)

[2022-08-29 10:35] zoli commented on #2001
Yes.

[Syncthing](https://syncthing.net/) is a tool (there are other tools for this purpose to) to sync folder or files between devices, you can checkout their website.
Most of Superproductivity data is saved in a single file, So if you sync that file between two devices (e.g android and desktop) with Syncthing then your Superproductivity on both devices will be closely on same state.

[2022-08-29 15:02] j0ma commented on #2209
Just chiming in here as a Ph.D. student working on NLP and a new user of `super-productivity`: there are definitely date parsers out there (e.g. [alvinwan/timefhuman](https://github.com/alvinwan/timefhuman)), so it might not be necessary to implement this logic from scratch. Not aware of any libraries in TypeScript though 🫤

[2022-08-29 17:44] scaramouche88 commented on #2001
Thanks.
I tried today but on the android app (both playstore and f-droid) there is no "localfile" option in the synch menu. Only Dropbox, GoogleDrive or WebDAV. Maybe the new release is not yet on those markets? Or I am doing something wrong?

[2022-08-29 19:52] johannesjo commented on #2001
Hey there @scaramouche88 ! The new version is stuck in the verification process atm. If you like you can test the new feature by compiling the android app yourself.

[2022-08-30 07:28] bytrangle commented on #2209
@j0ma I don't know much about NLP, but what do you think about this [date parser](https://github.com/wanasit/chrono) in Typescript?

[2022-08-30 07:39] bytrangle opened #2212 "Short syntax for projects doesn't return all the projects that match a query"
### Your Environment

- Version used: 7.11.5
- Operating System and version: macOS Monterey 12.5
- Desktop Environment:
- Browser Name and version:

### Expected Behavior

When adding a new task and type `+`, then type the first few characters of a project name, the drop-down list should contain a list of all the projects that match the query.

### Current Behavior

The drop-down list seems to onl

[2022-08-31 02:16] #2019 closed

[2022-09-01 00:48] andresantacruz opened #2216 "Words became an array of squares?"
![image](https://user-images.githubusercontent.com/18551142/187808551-2ff4f58f-5378-48dd-9603-246d38aefc1f.png)

Installed the app some hours ago but didn't use it yet and in that occasion simply closed the app by the tray icon. Now, some hours later, tried to open the app to start using it and faced with the screen above.

- Version used: Don't know the exact version, but just installed it via sn

[2022-09-01 14:22] colonwq1 opened #2223 "Detailed Log"
Hi,

first of all: I like using super-productivity very well.
For planning / logging my work it would help if I can see when I started / paused the timer for a project.
If it would be available in the reports / exports of the worklog would be very nice and enough for my need.

Hopefully it will be integrated to super-productivity. :)

Many thanks in advance.

Kind regards

[2022-09-01 14:22] steve-biggs commented on #1284
Yes, still relevant, keep open please.

I think a settings option to activate a "continue" button or similar would be best. Then we meet @NumDeP, @giTran-s and my objective of being able to read the tips, and @johannesjo objective of the default being a quick and automatic continuation from the splash screen, e.g. for new users. This way, there is no lag from an arbitrary X seconds delay that may

[2022-09-01 14:25] steve-biggs commented on #1186
Bump! This is an issue for me too. @JoseOlin suggestion of 3 / 9 or similar is a good idea IMO.

[2022-09-01 14:26] F3mic commented on #2223
Hi,
I have the same thoughts.
It's much needed.
Regards

[2022-09-02 01:41] j0ma commented on #2209
Interesting find! Seems like the [feature set](https://github.com/wanasit/chrono/blob/master/README.md) is pretty close to what OP wanted:
[code]

Can't really say anything informative about integrating it to this project, but 1.2k stars and 10 years of development history (first commit in 2012!) certainly make it look promising.

[2022-09-03 02:16] #1756 closed

[2022-09-04 02:16] #2026 closed

[2022-09-04 08:00] podivilov commented on #427
Hey @johannesjo, will this feature be added in future release?

[2022-09-04 11:38] aninternetuserx commented on #427
I think he already answered that @podivilov

[2022-09-04 11:39] podivilov commented on #427
Oops!

[2022-09-05 04:27] JoseOlin commented on #1186
Yep @steve-biggs, and one that is apparently relatively easy to implement, since projects already have that behavior. Perhaps an option can be added to the settings in a future version.

@johannesjo, could you help me by telling me how and in what section of the code the counter that appears as the Today icon in the sidebar is calculated?
I did a code read and I can find the list of projects and t

[2022-09-05 15:00] icaruntu opened #2232 "Add tasks completed count to Quick History and Work Log"
## Problem Statement

The Quick History and the WorkLog show the tasks added or worked on that day and the time worked. I believe it would be a great productivity incentive to also show the number of tasks completed that day.
As an example, if I add a task today and schedule it for next week, I currently see that task counted in the Tasks number for today on the Quick History. I want to be able to

[2022-09-06 02:15] #1904 closed

[2022-09-08 10:09] fedehub commented on #1847
Still relevant

[2022-09-10 02:15] #2031 closed

[2022-09-10 02:15] #2029 closed

[2022-09-10 19:49] lerra opened #2238 "Webdav sync sync username and overwrites in a multi-device/user setup"
### Your Environment
Ubuntu 22.04 / Linux and latest version of the snap package
two android devices running android 12 and latest version of the app
Syncing towards a webdav server with separate usernames
### Expected Behavior
Syncing between should work and not touch username fields for sync, sync settings should be local settings.

### Current Behavior
When having user1,user2,user3 setup using

[2022-09-10 19:51] lerra opened #2239 "Android support for share to support"
## Problem Statement
When I find something interesting in my webbrowser and I want to follow up in a later stage, I want to use the share feature to add a task with the URL, Right now I need to manually copy the URL, start the app and add it my self

## :grey_question: Possible Solution
When I share from my android browser I want to have a option to add a todo in super productivity

[2022-09-10 22:48] keerah opened #2240 "[UX bug] List scrolls up to the top after a task completion"
Not actually a real bug, but a big UX annoyance when the task list is long.
After I click "Mark as done" on a task/subtask the list scrolls all the way up to the top.
This makes me manually search for it again.
It would be much more convenient if the list position would remain the same
Thank you!

[2022-09-11 10:58] milotype commented on #1901
This issue still exists in version 7.11.5

BTW, localized versions are also needed for the dates, not just the years. In Croatian both need to be treated as ordinal numbers.

[2022-09-12 15:42] Nidhin-mohan opened #2241 "heating issue on ubuntu 22.04"
I am on ubuntu 22.04. after installing the app version system heating up

[2022-09-13 02:17] #2039 closed

[2022-09-13 02:17] #2038 closed

[2022-09-13 02:17] #1780 closed

[2022-09-14 12:40] Sundjata commented on #427
I've started using the app more consistently and this is a killer issue for me. The repeating tasks really aren't useful to me without the subtasks attached and the ability to track time during each sub task. I want to know which step of the process takes the most time and I want to track that over an extended period of time. The alternative would be to only use parent tasks and to create separate

[2022-09-14 14:33] johannesjo commented on #2241
This could be caused by something completely unrelated. Are you sure this is caused by the app?What is shown on the System Monitor app if you only start this app and nothing else? Is there a high CPU usage indicated?

[2022-09-14 14:37] johannesjo commented on #2238
Not sure this is a bug, since the app is intended to be used by the same user. I agree however that it would be better for these settings not be synced.

[2022-09-14 14:41] johannesjo commented on #1186
https://github.com/johannesjo/super-productivity/blob/bec40c57e5b8e96b68d6eaf5c2f50cd791d8af28/src/app/core-ui/side-nav/side-nav.component.html#L18

[2022-09-14 14:56] lerra commented on #2238
To give some background, it is the same user but i have device accounts
with different access in webdav but if that is the case and it will not get
fixed I will create a separate account only for super productivity. As long
as I know what you decide:)

It's been an annoying problem for three months that i finally figured out
the root cause:)

Big thanks for the project you built!

On Wed, Sep 14,

[2022-09-15 02:26] Nidhin-mohan commented on #2241
I removed the app  ,now using the  web app and  it's now working  fine I couldn't find any other issue . Let me check this once more today.

[2022-09-15 13:05] paraflu commented on #2115
I've made some hack to the service and mapping.

https://github.com/paraflu/super-productivity/commit/c345d9df3871968509c1c6c8247a2fe2cee22cc8

But I don't really understand this commend https://github.com/johannesjo/super-productivity/blob/bec40c57e5b8e96b68d6eaf5c2f50cd791d8af28/src/app/features/issue/providers/gitlab/gitlab-issue/gitlab-issue-map.util.ts#L36 but reverting to issue.id it work (o

[2022-09-15 15:13] Hjasani opened #2242 "TypeError: Cannot read properties of null (reading 'issues')"
### Steps to Reproduce

1. integrate new project with github
2. go to that project

### Error Log (Desktop only)

### Console Output

### Stacktrace
[code]

### Meta Info
META: SP7.12.0 Electron – en-GB – Linux x86_64 – Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) superProductivity/7.12.0 Chrome/100.0.4896.160 Electron/18.3.9 Safari/537.36

### Actions Before Error
[code]

[2022-09-15 19:00] DevAles opened #2244 "TypeError: Cannot read properties of null (reading 'issues')"
### Steps to Reproduce

1.
2.
3.
4.

### Error Log (Desktop only)

### Console Output

### Stacktrace
[code]

### Meta Info
META: SP7.12.0 Electron – en-US – Linux x86_64 – Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) superProductivity/7.12.0 Chrome/100.0.4896.160 Electron/18.3.9 Safari/537.36

### Actions Before Error
[code]

[2022-09-15 19:00] #2244 closed

[2022-09-16 02:18] #2036 closed

[2022-09-16 02:18] #1685 closed

[2022-09-16 12:52] johannesjo commented on #2238
To be honest: I likely won't work on this myself anytime soon. But in case someone comes along with a PR, I promise to review and merge it as quickly as I can.

[2022-09-16 12:57] johannesjo commented on #2115
Thanks @paraflu ! This is something @cbergmann added to allow for issues from multiple projects. Maybe we need some special handling for either case?

[2022-09-16 13:04] paraflu commented on #2115
Well I don't know how try "issue from multiple projects" :S

[2022-09-16 18:22] savornicesei opened #2245 "Jira: Response contained invalid data"
### Your Environment

- Version used: 7.12.0, self-contained exe
- Operating System and version: Windows 10

### Expected Behavior

### Current Behavior
I have created a new project in SP and enabled Jira integration. We're using Jira Cloud so the url is https://organization.atlassian.net/jira/software/projects/BOO and I've generated an API token for it.
When getting data, the `Jira: Response cont

[2022-09-17 02:17] #2065 closed

[2022-09-17 04:17] f8-ptrk opened #2246 "iCAL timeline integration - wrong time due to TZ"
### Bug Description

When connecting a (google) calendar via iCAL timeline integration some events are displayed at the wrong time if the TZ the event was created in a TZ that differs from the one that the calendar is in.

### Your Environment

- Version used: 7.12.0 - .deb - github download
- Operating System and version: debian 11
- Desktop Environment: fluxbox

### Expected Behavior

All events

[2022-09-17 21:16] ffcruz85 commented on #746
@johannesjo has this been completely removed? I don´t see it on the android menu. I had never used file attachments before, but just seeing it on the desktop now made me think it would be super nice to have it on mobile. The use case i had in mind was for decluttering my desk actually - I have random bills or pieces of paper I have to perform a task for, so create a task, snap photo of the related

[2022-09-18 12:29] aripollak commented on #1443
Still relevant even when running in Wayland mode.

[2022-09-19 16:00] bytrangle opened #2247 "Task scheduled for tomorrow. When opening the Schedule dialogue, "Later Today" is highlighted."
### Your Environment

- Version used:  7.11.5
- Operating System and version: macOS Montery version 12.5
- Desktop Environment:  N/A
- Browser Name and version:  N/A

### Expected Behavior

When scheduled a task for anytime after today, then open the Schedule dialogue again, Later Today shouldn't be highlighted.

### Current Behavior

Later Today is highlighted. This is confusing for users because

[2022-09-20 07:39] Maddosaurus commented on #2034
Ah, sorry, didn't see that the bot closed this as stale. This is still relevant :)

[2022-09-21 02:16] #1874 closed

[2022-09-21 09:58] kaibrune commented on #2071
This is still a topic. :(

[2022-09-21 10:01] agilare commented on #1632
Hello,

In my Superproductivity desktop version 7.12.0 (on Windows 10) I encountered the same problem, with exactly the same configuration as @gregorwebmaster and result error "Bad Request"
My console :
[code]

[2022-09-21 15:07] Maddosaurus commented on #2034
@johannesjo could you reopen the ticket as well? Seems like I'm either not seeing that option or I'm not allowed to do that.
Thank you very much :)

That said, are you planning to join Hacktoberfest with this repo? I'd definitely love to get a PR in next month for a first rendition of this functionality!

[2022-09-23 02:15] #2043 closed

[2022-09-23 14:09] johannesjo commented on #2071
Hi there!

You can grant access via:
[code]
Executed from a terminal.

[2022-09-23 14:14] johannesjo commented on #746
Exactly. I am all for adding support for something like this, but I likely won't find the time to work on this anytime soon.

[2022-09-24 02:18] #2072 closed

[2022-09-24 11:49] agilare opened #2252 "Task note with markdown : small display problems with quotes and lists"
### Your Environment

- Version used: 7.11.6 Desktop
- Operating System and version: Windows 10
- Desktop Environment:
- Browser Name and version:

### Expected Behavior

- quotes could be clearer
- lists without line break in that situation

### Current Behavior

I'v a task note markdown

[code]

but the display contain some defects :

![image](https://user-images.githubusercontent.com/8960215/19

[2022-09-26 02:15] #1497 closed

[2022-09-26 13:35] kaibrune commented on #2001
Any updates on this? Still stuck in the verification process? :D Would love to see the file sync option on mobile.

[2022-09-26 16:24] AlanSanchezP commented on #374
I came here just to upvote this request, and to add another possible alternative for those who can find it suitable for their needs:

[Pomodoro Logger](https://github.com/zxch3n/PomodoroLogger) has an integrated kanban board per project. I couldn't find a way to use the pomodoro timer in more than one list per board (it has a "focused list" marker that tells the app which list represents your ongo

[2022-09-27 09:26] rklec opened #2257 "Jira: URL/link created/opened for inline links is wrong"
### Your Environment

- Version used: 7.12.0
- Operating System and version: Windows 10
- Browser Name and version: N/A

### Steps to Reproduce (for bugs)

Create a link of any kind in Jira.

Then click on that link in SuperProductvity (here click on "TEST-1031"):

![grafik](https://user-images.githubusercontent.com/71322635/192485701-647cb1cd-0678-4718-a13f-6a56a4321c3a.png)

### Expected Behavio

[2022-09-28 02:15] #2037 closed

[2022-09-28 14:14] Dragomitch opened #2261 "TypeError: Cannot read properties of undefined (reading 'id')"
### Steps to Reproduce

1. Create a Task without a project with a duration ( 50m for eg)
2. Create a subtask to that task
3. Attribute a project to the Task
4. Move the subtask to an Existing other task ( the point was to transfer the pointer time)
5. This creates already an inconsistency ( in my case, a blank subtask in the Existing other task)
6. Trying to move and/or create a new subtask in tha

[2022-09-28 15:49] ximemira opened #2263 "Superproductivity for wear os"
I’m a ux designer and researcher concerned with interoperability and privacy, so I use your app in on all my devices.
I got a smartwatch running wear os 2 and thought it’d be great if it too could sync with the app. I cannot imagine how complex this might be to implement.
The use case :

1. Use the phone / computer to create tasks and set the today list
2. Use the smartwatch for handling the pomod

[2022-09-28 16:21] ximemira commented on #2121
I could use that feature ! 👍

[2022-09-28 16:45] luisovalles commented on #2115
Thanks for such good software.
I am trying to integrate with gitlab and it imports the issues to the backlog perfectly. but there are some vital functionalities don't seem to be working.

I have the same problems commented by other users.

When opening the issues in the browser the URL seems to be wrong.
https://gitlab.com/57738621/issues/115892466

This would be the correct one in my opinion.
htt

[2022-09-28 17:09] paraflu commented on #2115
I've solved the problem settings superprod with the name of the project instead of the project id.

The undefined tag and access to issue detail are solved here https://github.com/johannesjo/super-productivity/pull/2243

[2022-09-29 02:15] #2076 closed

[2022-09-29 02:15] #2074 closed

[2022-09-29 02:15] #2075 closed

[2022-09-29 02:15] #2073 closed

[2022-09-29 06:52] S7venLights commented on #374
Pitty it's only built for desktop, I need time tracking on the move

[2022-09-30 06:58] UsernameIsAlreadyTakenByMe opened #2264 ""Add new Task" dialog - The state of the window should remain when I navigate away."
## Problem Statement
"Add new Task" dialog disappears when I navigate away from the window and I need to open it again. Doing a simple copy-paste action is frustrating this way.
![image](https://user-images.githubusercontent.com/12459222/193209818-2e0f8d88-2d59-47e4-ab57-035a235771e2.png)

## :grey_question: Possible Solution
The state of the window should remain when I navigate away.

## :arrow_h

[2022-09-30 07:55] elchinorris opened #2265 "StartUp - DB INIT Error"
### Your Environment

- Version used: **Super Productivity 7.12.0**
- Operating System and version: **Windows 10 Pro**
- Desktop Environment:  **Windows Desktop**
- Browser Name and version:  **Desktop App**

### Expected Behavior

**The app had information and Tasks from two projects and between 100/200 tasks, most of them had been close.
At startup have to show all these data.**

### Current Beh

[2022-09-30 11:34] Jogiio opened #2266 "Comments in Worklog / Quick History"
## Problem Statement

I'm always frustrated when I make my timerecording in the companys system / billing to the customer and I do not have the possibility in my Worklog / Quick History to see the comments (=Details) of the task in the Super Productivity App.

## :grey_question: Possible Solution

In each of the the two views (normaly I'm using the Worklog) please make it possible that I can see t

[2022-09-30 15:29] CavaleriOmar opened #2267 "On Android 12 ( MIUI 13 ) the f-droid version stops at the slightest touch of the interface."
Adroid 12 MIUI 13.0.5

Installed from F-Droid (update 03 may 2022)

With every touch on the screen

[2022-10-01 10:15] asi309 commented on #2240
I can work on this

[2022-10-01 20:55] S7venLights commented on #374
I have started a list of kanban apps with time trackers and I'll add there if I find any.
https://github.com/stars/S7venLights/lists/time-tracking-with-kanban

[2022-10-03 02:14] #1778 closed

[2022-10-03 22:07] Nukiloco commented on #2089
Is this still an issue with the modern versions of Super Productivity?

[2022-10-04 02:15] #2080 closed

[2022-10-04 19:36] ffcruz85 opened #2276 "Sound Notification for Idle Handling and Time Tracking Reminder"
## Problem Statement

One of my biggest problems is sitting down to work, and getting off track with some small distraction before even opening superproductivity and starting a task.

## :grey_question: Possible Solution

Enable sound for the Idle Handling and/or Time Tracking reminder notifications.  For the UI, I would just add toggles for those in Settings>Sound under the existing checkbox for

[2022-10-04 20:49] CavaleriOmar commented on #1847
Still relevant!!!

[2022-10-05 02:15] #1851 closed

[2022-10-05 03:51] JoseOlin commented on #516
.

[2022-10-05 10:34] johannesjo commented on #2276
I'd also like to see this (as on optional featue)! PRs are welcome!

[2022-10-05 13:44] johannesjo commented on #2266
I would also like to see a way to do this. A modal displaying all the task data, might be a good solution.

[2022-10-05 13:49] johannesjo commented on #2089
This can happen if you modify the timezone on your computer (effectively going to the past ;)). It's not really a bug, but we might offer the user a better way out, in case this happens.

[2022-10-05 13:53] johannesjo commented on #2208
Thanks @davidzcode ! Let me know, if you have any questions! Ideally we solve this without any additional markup, because of the performance impact when there are many tasks. Also important to consider is how it looks when editing single line text, multiline text and in different screen sizes or a task with no text at all.

[2022-10-05 21:25] MikeMorenoDSP commented on #645
Also getting this issue (504)
iPhone 12 running iOS 15.5 using Safari and Dropbox.
Going to test if there are more alternatives than "Alook Browser".

[2022-10-05 23:36] JoseOlin commented on #516
I think this is still an important funcionality to keep our tasks more organized.

[2022-10-06 02:15] #1740 closed

[2022-10-06 02:15] #506 closed

[2022-10-06 03:54] latipun7 commented on #2068
@johannesjo Re-open this issue, please.
It would be great to have this feature implemented.
Thank you very much.

[2022-10-06 07:44] Aries298 opened #2284 "Undone daily tasks shown as complete on the next day"
### Your Environment
Version used: 7.12.0 installed from exe
Operating System and version: Windows 10

### Expected Behavior
I create projects, each containing some tasks set to occur daily. I don't manage to do all of the tasks but I still click "Finish Day" and "Save and go home". On the next day the undone tasks should vanish and get replaced by a set of new daily tasks.

### Current Behavior
L

[2022-10-07 02:15] #2087 closed

[2022-10-07 02:15] #2088 closed

[2022-10-08 08:10] Aries298 commented on #2284
Update
I resolved this issue by clicking "Add taks planned for tomorrow" after finishing day. I mistakenly assumed it's done automatically. You can close this issue or treat it as an enhancement suggestion rather than a bug.

[2022-10-08 15:01] DuskXi opened #2286 "TypeError: Cannot read properties of undefined (reading 'start')"
### Steps to Reproduce

1. Add ical url on Android version
2. Click sync
3. Switch to timeline page
4.

### Error Log (Desktop only)

### Console Output

### Stacktrace
[code]

### Meta Info
META: SP7.12.0 Browser – zh-CN – Linux aarch64 – Mozilla/5.0 (Linux; Android 5.0; SM-G900P Build/LRX21T) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/59.0.3071.125 Mobile Safari/537.36

### Actions Before Err

[2022-10-09 02:15] #1381 closed

[2022-10-09 15:21] fam4r commented on #293
Still relevant.

[2022-10-09 20:42] PatataPotatoTrue opened #2289 "App is not working in background"
### Your Environment

- Version used: 7.12.0
- Operating System and version: Android 11 MIUI 13.0.16
- Device: Redmi Note 11

### Expected Behavior

I think that the app with all the permissions that I gave should work in background, count the time of the tasks and don't crash when is open from the multitask

### Current Behavior

Well, when I start tracking the time of a task and change to anothe

[2022-10-10 12:33] realmrealm commented on #1902
I just want to say this is something that has been quite an issue for me. I have meetings I need to prepare for weekly along with emails I need to send out to teams/groups of people. I usually have this as a weekly reminder on monday and then get to it hopefully monday, but sometimes it needs to be tuesday. When I have monday off (or it's a holiday) I may not open SP on monday and then when tuesda

[2022-10-11 02:15] #2079 closed

[2022-10-11 02:15] #1812 closed

[2022-10-11 08:20] johannesjo commented on #1902
Thanks @realmrealm this could be an approach!

[2022-10-11 14:06] martin-forum opened #2290 "Android Dropbox Sync (without google play services)"
Since some weeks the dropbox sync is not working anymore.
Setting up a new dropbox connection from the private profile (which has no google play services installed) is not possible because the button get authentication code is not opening the browser.

And yes, in the work profile with google play services it is working.

### Your Environment
The android version I am using on a Pixel 6 with Graphe

[2022-10-12 02:16] #1579 closed

[2022-10-13 02:10] jaypey commented on #2247
I can take this one!

[2022-10-13 04:48] Genne23v commented on #2162
I would like to contribute on this issue. Can you assign me to this issue? Thanks in advance

[2022-10-14 03:26] nitaicharan-webera commented on #333
I also would like to have this feature.

[2022-10-15 02:16] #1162 closed

[2022-10-17 02:16] #2094 closed

[2022-10-17 02:16] #1439 closed

[2022-10-18 09:28] mdietrich16 opened #2294 "Andoid sync with Nextcloud resulting in "504 Gateway Timeout""
I'm really sorry to bring this up again, I saw many problems like this and tried the proposed solutions there. This might be a problem with my setup, but I cant't figure it out myself and I'm not willing to give up because I love the app so much.

I have a home nextcloud server which is behind a VPN (WireGuard), so I can access it with my phone and tablet outside of the home network. My Windows ta

[2022-10-18 17:15] trx0eth7 opened #2299 "[Feature] Implement global notes"
## Problem Statement
From time to time I'd like to create a global note without creating a particular task and add information in any time.
Below I've tried to describe the features that I would like to have as end user:
1. Create a folder to notes. Possible, user can click on side-menu item "Notes" such as "Tags" and "Create new folder"
2. Create a note. Possible, user can choose folder and click

[2022-10-18 20:36] mdietrich16 opened #2300 "JavaScript errors popping up semi-randomly: "Error: write EPIPE""
### Your Environment

- Version used: 7.12.0 installed from AUR (superproductivity-bin), also happens when built from source
- Operating System and version: Arch Linux
- Desktop Environment: Qtile
- Browser Name and version: N/A

### Expected Behavior

Well, no js errors.

### Current Behavior
Immediately after starting the app and actually before the window itself becomes visible, a JavaScript er

[2022-10-19 05:49] M007RA commented on #746
Hi! Please assign this issue to me. I can work on it.

[2022-10-19 17:26] GeeteshMehto commented on #2300
Hello sir, please assign this issue to me as i already worked on this kind of problem in past and has a great experience.

[2022-10-19 21:20] Genne23v commented on #2162
@johannesjo I'm trying to reproduce the issue on my local. But Jira issues are not fetched. It's just loading with spinner. I can fetch issues in desktop and web. Please let me know if I'm missing anything

[2022-10-19 21:45] Genne23v opened #2301 "Third party setup dialog box button styling enhancement"
### Your Environment

- Version used: 7.12. Web and desktop app
- Operating System and version: MacOS 12.6
- Desktop Environment: Mac M1 pro
- Browser Name and version: Chrome 106.0.5249.119

### Expected Behavior

Buttons are aligned horizontally and the gap is too narrow each other

### Current Behavior

![Screen Shot 2022-10-19 at 3 03 42 PM](https://user-images.githubusercontent.com/59734889/1

[2022-10-19 21:45] Genne23v commented on #2301
@johannesjo I can quickly fix this issue if you are ok. Thanks

[2022-10-20 15:48] Genne23v commented on #2301
Since this is an easy fix, I can send a PR quickly. Please let me know if there isn't any concern of making this change. Thanks

[2022-10-21 11:38] johannesjo commented on #2294
Can't provide much input on this apart from 500+ errors usually suggesting something wrong with your server.

[2022-10-21 11:42] johannesjo commented on #2299
I agree that the notes feature should be expanded on! There should be a dedicated full window view which allows for searching and filtering.

[2022-10-21 11:43] johannesjo commented on #2300
Thanks @GeeteshMehto ! Let me know if you have any questions!

[2022-10-22 02:15] #2113 closed

[2022-10-22 02:15] #373 closed

[2022-10-22 03:17] Rudy-MS opened #2304 "Tab Autocompletion projects/tags..."
## Problem Statement

Not able to hit the tab key to autocomplete a project name and/or tag name.

## :grey_question: Possible Solution

1. ) Enter the name of the task,
2. ) Put the "+" sign to add it to an existing project/tag name.
3. ) Type in the first few letters of the name of the project/tag.
4. ) Hit the tab key on the keyboard to auto complete the name. (something like what BASH auto com

[2022-10-22 06:09] Rudy-MS commented on #2304
Please let me know if I can help out in adding this feature. Thank you!

[2022-10-22 09:04] davidzcode commented on #2208
Hello guys, I have been working on it, and finally I decide to use the solution of @rsmyst and use reorder button for trigger focus.
What do you think?

https://user-images.githubusercontent.com/32526223/197330929-7ffed7a6-0100-43f7-b920-1418d488f3cf.mp4

[2022-10-22 09:13] rsmyst commented on #2208
Looks perfect. exactly how i imagined it. Just in case it was missed though, the reorder button disappears when the task is active AND cursor is being hovered over it. I assume you have taken that into consideration as well? Like when a task is active, there's a Play button in the place of reorder button. When hovering over this active task, the play button disappears. so I assume the click reorde

[2022-10-22 09:42] davidzcode commented on #2208
I think is no problem, I have only noticed the play button disappear when cursor is hover it.

https://user-images.githubusercontent.com/32526223/197332632-f68a2b56-76bc-48a9-91a0-f31b524b637a.mp4

[2022-10-22 10:57] johannesjo commented on #2208
This should be fixed (PRs are  welcome)! Thanks for your input on this!

[2022-10-22 10:58] johannesjo commented on #2304
Help would be welcome! Let me know if you have any questions!

[2022-10-22 15:42] rsmyst commented on #2208
No I think this current way it works is just fine. i.e. i believe it should disappear on hovering over the active task.
Thanks to @davidzcode for the fix. looking forward to the update.

[2022-10-22 17:08] Rudy-MS commented on #2304
@johannesjo My apologies...I'm not a coder sadly. I wash I was.
I should of mentioned that earlier. :(

I can post bugs and test updates like mad though. Documentation is something I would be willing to do so as well.

[2022-10-24 13:59] 73794449 commented on #2089
Yes, I know that it is not something like bug, but when dualboot Windows-Linux, this is very distracting, on Linux I have correct time, on Windows incorrect timezone, but time is the same :) I solved it with syncing every time I boot to Windows or Linux(both with correct timezone), but syncing on Windows really don't fast and need internet connection.

[2022-10-25 13:23] jthomaschewski commented on #1443
Like other electron apps, Super Productivity starts in X11/XWayland mode by default - and xwayland apps can't easily subscribe to input events from wayland.

**Idle detection seems to work in Sway/wlroots when Super Productivity is started in wayland mode by passing `--ozone-platform-hint=auto`!**

e.g. `superproductivity --ozone-platform-hint=auto`

Most of my other applications also run in wayla

[2022-10-26 16:09] clin045 opened #2306 "Google Drive sync OAuth flow broken"
### Your Environment

- Version used: 7.12.0
- Operating System and version: MacOS
- Browser Name and version: Chrome 106.0.5249.119

### Expected Behavior

Clicking "Get Authorization Code" after enabling syncing should redirect to an OAuth page that will generate a token

### Current Behavior

400 invalid_request is thrown

<img width="449" alt="image" src="https://user-images.githubusercontent.

[2022-10-27 18:42] qdrop17 opened #2309 "docker-compose.yml for self hosted sync"
## Problem Statement
I invested like 3 hours tonight to get this super promising tool up and running with two devices: A desktop and an Android smartphone.
I want to use WebDAV to sync my tasks. I managed to spin up a WebDAV container und expose it via reverse proxy (for SSL-termination) and everything was working flawlessly. But I didn't get it running on Android.

I even tried to expose the HTTP

[2022-10-28 14:48] johannesjo commented on #2309
It works on deskop, but it doesn't on Android? Most likely you need to allow cross origin requests to make it work for mobile.

[2022-10-28 15:31] johannesjo commented on #2306
Unfortunately google doesn't support this kind of authentication any more. Not sure if there is a path to migration. Help is wanted. If all fails, we need to remove google drive as sync provider.

[2022-10-28 15:32] johannesjo commented on #2306
https://developers.google.com/identity/protocols/oauth2/resources/oob-migration

[2022-10-28 16:17] antonio24073 opened #2310 "error while loading shared libraries: libatk-1.0.so.0"
### Your Environment

- Version used:
[code]

- Operating System and version:
[code]
- Desktop Environment:
[code]

### Expected Behavior

run snap app
it was working

### Current Behavior

[code]

### Error Log (Desktop only)
[code]

[2022-10-28 16:30] antonio24073 commented on #2310
I have many passwords stored in this app (calm, I have how to recover)
If at least the chrome app could share the same database.

[2022-10-28 20:28] johannesjo commented on #2310
If you configured automated backups you can look inside `~/.config/superProductivity/backups` to look for your passwords (don't recommend doing that btw ;)).

Apaart from that I am not sure what happened. Did this appear out of the blue? Did this appear after an automated snap upgrade? Not able to reproduce this. Possibly this isn't even related to the app itself, bur rather snapcraft acting up.

[2022-10-29 02:14] #2118 closed

[2022-10-29 02:14] #2108 closed

[2022-10-29 02:14] #2107 closed

[2022-10-29 02:14] #1569 closed

[2022-10-29 02:14] #509 closed

[2022-10-29 19:04] danielporto opened #2311 "Integration with TI"
## Problem Statement

## :grey_question: Possible Solution

## :arrow_heading_up: Describe alternatives you've considered

## :heavy_plus_sign: Additional context

[2022-10-29 19:11] danielporto opened #2312 "Integration with ticktick or Vikunja"
## Problem Statement
I often find myself coping the same task structure from TickTick or Vikunja into superproductivity.
Both of them have export/import features. Particularly, Vikunja is opensource and has an API to interact with.
It would be nice if both project join forces.

## :grey_question: Possible Solution
One possible solution is a bridge to import/export tasks to sync what they have in c

[2022-10-30 02:16] #2122 closed

[2022-10-30 06:36] Sunaked opened #2313 "IndexSizeError: Failed to execute 'setStart' on 'Range': The offset 275 is larger than the node's length (19)."
### Steps to Reproduce

1.
2.
3.
4.

### Error Log (Desktop only)

### Console Output

### Stacktrace
[code]

### Meta Info
META: SP7.11.5 Browser – en-RU – Linux x86_64 – Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/107.0.0.0 Safari/537.36

### Actions Before Error
[code]

[2022-10-31 01:00] serhumanos opened #2314 "[Feature] Subtask in Timeline display Proyect Name like in Normal Task (not only colored circle)"
Actually subtask display a circle with the color of the associated project, that is very cool, but I think it wil be much better if the name of the project were displayed like a normal task (next to the maybe comming soon "subtask tags" (#2234))

[2022-10-31 16:27] FilBot3 commented on #356
Yeah, my learning of JavaScript and thus TypeScript is slow going. So, if someone else has the technical capability, that would be a huge boon to this request. As much as I want to use this tool with my work for Azure DevOps, I cannot.

[2022-11-02 04:19] Uppo9 opened #2328 "[Feature] Scheduled tasks that get repeated on certain days, and end on the last day the user chooses."
## Problem Statement

This type of feature would be useful for homework. Say for example, I had a essay to do, I could just schedule a temporary task that appears on days I want to work on the essay.

## :grey_question: Possible Solution
A button should open a calendar. The calendar should allow you to click on the days you want the scheduled task to be repeated on.

## :heavy_plus_sign: Additiona

[2022-11-03 11:43] bytrangle commented on #920
I thought one can use `Ctrl + 2` to toggle between adding a new task to the bottom versus top? So this is no longer an issue, unless you're still open to make it configurable?

But adding new tasks is always a situational thing. Sometimes you want the task to be located different from what you configure globally. So in the end, you still need the shortcut for toggling.

[2022-11-03 14:02] sroener commented on #920
I can see that point, but would it be possible that the last setting is remembered between sessions?

 I just tested it by toggling with `Ctrl + 2`, but the next time the program is started, it resets to the default.

[2022-11-03 14:56] sroener commented on #920
@bytrangle Thank you for the extensive answer.

Yes, my preference would be adding tasks to the bottom and moving them around, if they have a higher priority.

I would agree that users should not be forced to do it one way or the other. In my opinion option 1 would work well.

Another option to consider, would be a feature where the program remembers the state of where to add the next task. This w

[2022-11-04 03:08] kulasbastian opened #2333 "[Feature request] Export a list of all tasks in a project or tag"
Hi!

It would be useful to be able to export a list of all undone tasks in a project, tag or for everything.
Better if there is an option to export CSV so that irrelevant data can be manually filtered out based on the need.

An example use case is giving this list to a supervisor as your planned tasks for the day, or as a list of all your pending tasks for a project.

Thanks!

[2022-11-04 10:20] johannesjo commented on #920
I also think option 1 is the best, as this might confuse existing users otherwise. PRs are welcome! :)

[2022-11-05 02:50] 42Willow opened #2334 "LocalFile Sync directory selection improvement"
## Problem Statement

Local File Sync requires a directory of the sync file to be inputted in this format: `<dir><filename>`

## :grey_question: Possible Solution

When you select the sync file path box it should open a window for saving the sync file, or a window to select a directory.

## :heavy_plus_sign: Additional context

![image](https://user-images.githubusercontent.com/70784752/200668073-

[2022-11-05 10:09] johannesjo commented on #2334
Hey there! You need to select a file rather than a directory. The usability could of course be improved here.

[2022-11-05 13:22] francois072 commented on #1865
Yes, this is still relevant bot

[2022-11-05 23:04] 42Willow commented on #2334
Which directory does the file need to be in?

[2022-11-06 07:37] 0xcrypto commented on #2306
@johannesjo did you considered implicit grant flow https://developers.google.com/identity/protocols/oauth2/javascript-implicit-flow

[2022-11-06 19:06] johannesjo commented on #2334
Anywhere you want.

[2022-11-06 19:07] johannesjo commented on #2306
I would be alright with switching to this method. Probably won't find the time to work on this myself. PRs are welcome!

[2022-11-06 19:43] 42Willow commented on #2334
Yes but what do I enter into the box to get it to work? I keep getting the same error...

[2022-11-07 08:49] sbaeurle opened #2335 "Prompt to ensure exiting application without ending the day keeps reappearing when pressing cancel"
Windows Store App -

- Version used:  v7.12.0 - appx bundle
- Operating System and version: Windows 10 Enterprise 1909

### Expected Behavior

- When exiting the app without finishing the day, a prompt should appear if this is the desired action.
- Pressing cancel should not exit the application and return to the normal application state

### Current Behavior

- Cancel takes you to the finish day

[2022-11-08 09:13] hydrandt commented on #1443
I'm facing this problem on Ubuntu 22.10.

## Installed with snap

- When started without any extra arguments, the idle tracking doesn't work, nothing logged.
- When started with `--ozone-platform-hint=auto`, window title bar is missing; rendering is slightly broken, and following error is logged on startup:

[code]

Issue was discussed on Snapcraft forum, I asked a followup question: https://forum

[2022-11-08 13:01] jthomaschewski commented on #1443
You could try to start with feature `WaylandWindowDecorations` to get window title bar back:

`--ozone-platform-hint=auto --enable-features=WaylandWindowDecorations`

[2022-11-08 14:54] hydrandt commented on #1443
Cheers, indeed that adds the window decoration, however, the buttons (minimize, maximize, close) don't work. Not a big deal for me, no need for the title bar.

[2022-11-08 17:41] ximemira commented on #782
Hi,
I think this problem is back, I have just updated super productivity SuperProductivity
Version used: 7.12 dmg downloaded directly from github
Operating System and version: Mac os Ventura 13.0 (22A380)
I tried opening the link on firefox and on safari, with the same result.

The new version didn’t recognize my local backup file so I had to redo the sync settings to get it back, though :
![image

[2022-11-10 09:08] codeling opened #2339 "Sync errors after removing tag (/ update to 7.12.0)"
### Your Environment

- Version used: 7.10/11 (not sure anymore) -> 7.12.0, the setup installer version
- Operating System and version: Windows 10

### Expected Behavior

After deleting a tag, everything keeps working as expected. Also, after an update of super-productivity, it keeps working

### Current Behavior

I deleted a tag (and updated superproductivity in close proximity, I think after del

[2022-11-10 12:50] ZakCodes commented on #782
I'm having the same problem as you @ximemira. However, it doesn't seem to be the same thing as what is described in this issue. If I were you, I would create a separate issue for it. Maybe you could reference this issue in case it's related.

[2022-11-10 13:57] johannesjo commented on #782
Sounds good @ZakCodes !

[2022-11-11 11:21] tribly commented on #1957
Still relevant.

[2022-11-13 05:43] zoli commented on #2133
Relevant.

[2022-11-13 14:05] telepath commented on #2335
I have the same issue.
Every time I click the "Remove from My Day" button, the message pops up, cancel drops me into the finish day screen.
Disabling "Confirm before exiting the app without finishing the day first" does not help.

[2022-11-13 14:12] telepath commented on #2335
after quitting and restarting the app, the issue is gone, but now I don't get the message even when the option is enabled and I quit without finishing the day.