[2019-04-24 10:53] johannesjo commented on #159
@theCalcaholic thanks for the info.

Not sure if there is a good way to make this work as not only the tasks need to be saved, but also the jira/git issue data, the configuration, the projects and several other things. While custom fields are possible, there isn't a good way to store arrays and objects. Unclear is also what would be the best way to store the time tracking data as there is DTSTART

[2019-04-24 20:58] ThatRobVK commented on #163
No problem, that's fair. When my time frees up a bit I may be able to help out. Keep up the great work!

[2019-04-27 16:54] johannesjo commented on #161
Closing due to inactivity.

[2019-04-27 16:54] #161 closed

[2019-04-27 16:55] johannesjo commented on #158
ping @fla15

[2019-04-27 16:55] #104 closed

[2019-04-27 16:56] johannesjo commented on #79
Closing this due to inactivity.

[2019-04-27 16:56] #79 closed

[2019-04-27 17:26] johannesjo commented on #150
As I understood the question @jeensg expected the jira sub task to be imported as sub tasks when importing the parent task which AFAIK is not possible atm.

Doesn't seem that there is a huge demand for this feature and as I don't need it myself, I will close this for now.  If more people need it we can reopen the issue of course.

[2019-04-27 17:26] #150 closed

[2019-04-27 17:27] johannesjo commented on #157
I'm closing this due to inactivity.

[2019-04-28 15:34] BananaLoaf commented on #27
Fixed this bug for me on Manjaro, but I was launching google-play-music-desktop-player, not super-productivity
`sudo snap install core`

[2019-04-28 17:22] makeworld-the-better-one commented on #27
I've had this bug with other programs. If you run `echo $GTK_MODULES` you can see the libcanberra is there. By running `unset GTK_MODULES` you can remove it, and all applications that reported the error work fine. You can add this command to your `~/.bash_profile` or the Zsh equivalent, whatever you use. It worked for me with other stuff, but I have never used this program before.

[2019-05-09 23:20] servomekanism opened #167 "Chrome-sandbox error can't start"
The appImage binary (./superProductivity-2.6.1-x86_64.AppImage) can't start on my linux box.
It reports the following:
[code]

[2019-05-10 07:02] ArjenR commented on #167
Hi, I happened to run in to this one also.

IIRC it is due to a new security option in Electron and user namespaces that needs to be enabled using `sysctl` in your kernel for this to be allowed.
`kernel.unprivileged_userns_clone=1`

[2019-05-10 15:05] danielestevez commented on #167
It seems that workaround by @ArjenR or the solutions here https://github.com/electron/electron/issues/17972 do not work with snap installed app -> https://github.com/scratux/scratux/issues/1#issuecomment-488665831
Still trying to find a solution,,,,

[2019-05-10 15:45] ArjenR commented on #167
I use the appimage. So if you cannot be without, perhaps downgrade to an ealier version or switch to appimage as workaround?

[2019-05-10 15:49] danielestevez commented on #167
Never used appImage.
i won't downgrade just in case i get some data corruption :fearful: and for AppImage i guess it's the same problem, i cannot export my data and import to the AppImage version

[2019-05-10 16:13] ArjenR commented on #167
The data is not stored inside the snap or appimage, but in your userprofile.
`~/config/superProductivity/`
Just make a backup of that one to be sure there is no corruption.

[2019-05-10 16:27] danielestevez commented on #167
btw i could open the snap version by running from the directory
/snap/superproductivity/current/superproductivity --no-sandbox

Now working in trying to recover my data

[2019-05-10 22:41] johannesjo commented on #167
Thanks everybody for looking into it. Don't have my linux laptop with me, but downgrading electron might fix this. Can't say if this will have any side effects though. I will publish a pre release in a minute or so (candiate/edge channel for the snap version).

Would be really nice if someone could test this and report if the issue still persists.

[2019-05-11 11:43] servomekanism commented on #167
version 2.6.3 works in my system! ;)

[2019-05-11 11:56] servomekanism commented on #68
Thank you very much for this.
Awesome work!

[2019-05-11 14:25] KonTy opened #168 "Feature Reaquest: Integration with Microsoft ToDo"
Have you thought about integrating with Microsoft ToDo? Microsoft ToDo is free and has some nice features. One in particular will work with Super Productivity very nicely. They basically have My Day concept.

 I imagine a workflow like this:

- You'd go through your lists in ToDo
- move them to "My Day" which would become trackable tasks that you would track time for.

On top of that there is alre

[2019-05-11 14:39] KonTy commented on #68
Let me pile on here are say yeah. Your app is so awesome it is very intuitive and low friction. Adding new Items is easy, tracking time, etc. It is awesome. Having global hotkeys is also awesome. I mean so many cool features.

[2019-05-12 09:10] Kl4tch opened #169 "[Feature Reaquest] Auto-switch theme in MacOS Mojave"
Electron has API for dark theme in MacOS mojave, it's so simple

https://youtu.be/Lp-K-kYQ7KE

Can you please support auto-switch theme mode please, like other apps?

[2019-05-12 09:18] Kl4tch opened #170 "[Feature request] Version number in setting and changelog"
First, thanks again for this great app
It's not easy to track what you do. After 2 weeks of use version u forget what version you use. So, can you in settings place:
1) version of app (or how can I check it), link to page to last versions
2) link to changelog (or something like that), I want to fast get known about new features )
Not to open browser, find in github your app, then find changelog, t

[2019-05-12 09:21] Kl4tch opened #171 "[Feature request] Donate button"
Some people I'm sure want to donate u for this app, why do not place number cards/ wallets where we can donate to you )

[2019-05-12 11:55] johannesjo commented on #168
Thank you very much for the suggestion. To be honest I personally don't see the appeal in relying on two different ToDo applications. Microsoft ToDo is nice but Super Productivity is (imho) offering better options for  project oriented task management while it isn't on the same level for every day level simple tasks and the cleanness of UI. But maybe it's just me, as I don't actively use Microsoft

[2019-05-12 12:20] johannesjo commented on #171
Thank you very much for the suggestion. I thought about it before – of course, who doesn't like getting money and more importantly it would be wonderful to work fulltime on the project. For now I think the app isn't popular enough to justify adding one. There is annoying tax related stuff to consider and I don't imagine anybody wanting to send more than a couple of bucks.

If somebody wants to don

[2019-05-12 18:08] johannesjo commented on #170
Thanks for the suggestion. I kept it simplistic for now, but I plan to make it a little bit more sophisticated in the future. Might be nice to showcase new features in a modal at startup for example.

[2019-05-13 08:18] thomasnordquist commented on #167
The initial comment provides a workaround to disable the sandbox for Linux builds.
https://github.com/electron-userland/electron-builder/issues/3872

[2019-05-13 13:58] danielestevez commented on #167
Thanks @johannesjo !! I can confirm the snap version works in Ubuntu without the workaround of `kernel.unprivileged_userns_clone`

[2019-05-14 08:03] Anyeos opened #172 "Please, don't flush the disk continuously"
I noted that superProductivity flush the disk each second when I have a running task.
That is just contradictory because it is not very productive. Because when I do some disk demanding task like processing a video or building a software it just drain a little of the speed in the process (because random disk access).
At the same time it reduces the lifetime of my hard disk when I am doing nothing

[2019-05-14 09:15] johannesjo commented on #172
Not really sure what could cause this. Maybe it's an electron thing.

Do you really mean flushing, like in:

[2019-05-15 07:33] ytee opened #173 "[Feature Request] Add projects and tasks from command line"
Is it possible to add projects / tasks from command line? Or an import will also be good.

[2019-05-15 19:50] KonTy commented on #168
Yeah, I see your point, I think if we added a couple of features then I would totally switch from Microsoft ToDo to this app.
1. Sync using OneDrive
2. Day View (where I could add tasks from different projects and show them on one page so I don't have to switch projects to see my other tasks)
3. Hashtag view where if I add a #some-hashtag. to my tasks like (#randomization) I want to be able to get

[2019-05-19 15:46] johannesjo commented on #173
Not yet. But I agree that this would be nice. Currently I'm quite busy with other features, but this is on my wishlist, too.

[2019-05-27 20:41] johannesjo commented on #172
After digging into this I find that there is nothing unusual going on. Date must be saved while tracking.  Sure you could do everything in  memory and only save on starting or closing the app, but that would mean that data can be lost and it would complicate development by quite a bit. If you have an idea to improve dealing with this issue, please let me know.

[2019-05-27 20:41] #172 closed

[2019-05-29 18:46] johannesjo commented on #104
I'm pleased to announce that it is now also possible to export and import the data of a single project.

[2019-05-29 22:39] #167 closed

[2019-05-30 19:53] Ghoughpteighbteau opened #174 "Jira Request Error. Superproductivity isn't including the host in the request"
### Your Environment
* Version used: latest master
* Operating System and version: Arch Linux
* Desktop Environment: XFCE

### Expected Behavior
Jira should link the tickets

### Current Behavior
Fails to send the request

### Steps to Reproduce (for bugs)
I'm not sure if this is reproducable everywhere, but simply trying to enable the jira integration in the electron app seems to fail. More infor

[2019-05-30 21:08] johannesjo commented on #174
May I ask how exactly the host url looks like (something in the form of `https://example.com:1234/maybe/a/path` should suffice)?

Mine looks like this `https://example-host.com`.

[2019-05-30 21:17] Ghoughpteighbteau commented on #174
You mean as it's entered in the form? just as it is in clientRequest. lightship.atlassian.net

![host field](https://i.imgur.com/ddBgXmi.png)

[2019-05-30 22:41] johannesjo commented on #174
Normally just the host should work fine, but apparently there is something wrong with the code dealing with that case. I'll check it tomorrow. Thanks for reporting!!

[2019-05-31 10:40] #170 closed

[2019-05-31 10:45] johannesjo commented on #168
Sorry for not answering earlier. I think that I might add support for all the things you're missing step by step, but these are big features, so it will take some time.

Time Boxing is already a thing, you just need to activate it under "Misc Settings"

[2019-05-31 10:47] johannesjo commented on #169
The feature is implemented. Let me know if it works out for you.

[2019-05-31 10:47] #169 closed

[2019-06-03 16:54] KonTy commented on #168
Yeah to be honest I didn't expect an answer. I should start contributing myself. I'm still trying to wrap my head around some of the behavior of your app once I think I understand how it works I could start contributing. For example time boxing was not obvious to me that it existed :)

[2019-06-03 17:03] johannesjo commented on #168
I can imagine :) I'm not a Designer and I don't have any data on how people use the app, so I'm always glad for ideas to improve the UI.

Please let me know if you have any questions on how something works!

[2019-06-03 18:03] KonTy commented on #163
Have you thought about ding it just a a view? Meaning I can go around each Project and add tasks from each project to "My Day". All this will do is show tasks in "My Day" in one list. but the logic of checking out the project etc what you mentioned above could stay the same with no changes. Same applies to showing tasks with hashtags. It is just a "view" all the other logic stays the same.

[2019-06-03 23:11] jac1013 commented on #171
I installed super-productivity and I liked what I saw, haven't use it yet but I'm pretty sure I'll be using it.

I was looking the donate button too. I'll go with the second option you mention here (donate to a charity).

Thanks for this!

[2019-06-04 01:38] jac1013 commented on #157
Hey @johannesjo can we reopen this? I can contribute on this if needed, maybe having an option in the vertical ellipsis button of tasks to "sync" the worklog with JIRA.

[2019-06-04 16:20] jac1013 opened #176 "Duplicated worklog in JIRA after marking a task as done"
### Your Environment
* Version used: superProductivity_2.7.4_amd64
* Operating System and version: Linux Mint 19
* Desktop Environment: Cinnamon

### Expected Behavior
* When marking a task as done and uploading the worklog onto JIRA those should only appear once and not twice, it seems like the application is making the request twice because I see the success message blinking and appearing twice.

[2019-06-04 19:52] Kl4tch commented on #169
Hello, thanks for updates

[2019-06-04 21:20] johannesjo commented on #163
@KonTy it is not as simple unfortunately. Data is split up into chunks into different entries of a indexeddb. The task in backlog and the daily to do list are in such a chunk. Every project has a couple of those chunks. The task data is then loaded to a redux store which is in turn used to update the data and save it back to the database (always as a complete chunk). To make it work well, I probab

[2019-06-04 21:22] johannesjo commented on #176
Thank you very much for reporting. I'll look into it as soon as I can (maybe this Friday).

[2019-06-06 19:47] johannesjo commented on #176
Hopefully this should be fixed with the next release. Please let me know if it works out for you.

[2019-06-08 01:54] KonTy commented on #163
@johannesjo hmm yes sounds pretty complicated. Have you ever thought about converting it to SQLite? I mean I think with having a real DB backend perf issues will go away. Think about it Adobe Lightroom uses SQLite for storing hundreds of thousands pictures with metadata and even thumbnails.

But you are rights in the sense that first and foremost you will need an interface something like ITaskProv

[2019-06-08 19:09] johannesjo opened #177 "Provide docker image"

[2019-06-08 22:52] tobiasgraeber opened #178 "[Feature request] GitLab Integration"
Any plans to add a GitLab Integration to import of Tickets (?) and maybe also sync of ticket Time/Estimates - primary for the self hosted GitLab instances (not just gitlab.com)

Nice work! Keep going :)!

[2019-06-09 11:06] Kl4tch opened #179 "[Bug] Auto-switch theme in macOS mojave doesn't work"
Hello, thanks for updates
But for macOS Mojave it doesn't work
https://www.youtube.com/watch?v=3USEf8L_Xto&feature=youtu.be
Left - app on electron too

[2019-06-09 15:05] #177 closed

[2019-06-10 08:27] endorama commented on #178
Feels a duplicate of #156 :)

[2019-06-10 08:30] endorama commented on #157
I just get bitten by the behaviour described in #176.

As a note to anyone implementing this, any action that sends the worklog to Jira should "remeber it" to avoid sending it twice.

@jac1013 just my 2c but an option there would be more than enough!

[2019-06-10 14:29] jac1013 commented on #157
@endorama you are right, I commented about the "remember" behavior in #176, I'll work on this whenever the duplication issue is solved.

[2019-06-10 15:24] johannesjo commented on #178
Closing this in favor of #156 thanks @endorama and thanks for the suggestion @tobiasgraeber . The feature will probably come sooner or later, but it's not on top of my to do list to be honest.

[2019-06-10 15:24] #178 closed

[2019-06-10 15:26] johannesjo commented on #169
#179

It should work if you restart the app, but live switching doesn't work. I'll look into it.

[2019-06-10 15:29] johannesjo commented on #163
@KonTy IndexedDB shouldn't be too much slower I assume. The problem is more on a view model level.  I think I have to do some tests. Maybe it's possible to just have single task model and not split them up.

[2019-06-10 15:35] johannesjo commented on #157
@jac1013 that's great to hear. The issue should be resolved, but there isn't just a new release ready. I 'll make one later today.

[2019-06-10 18:46] johannesjo commented on #179
This should be hopefully fixed with the next release. Unfortunately I can't test it atm because I don't currently have a mac available.

[2019-06-11 16:55] jac1013 commented on #176
Hey @johannesjo this is fixed now, thank you very much!

[2019-06-11 16:56] jac1013 commented on #157
Thanks @johannesjo I'll tackle this in the weekend.

[2019-06-11 17:09] #176 closed

[2019-06-13 15:59] amblyline commented on #33
I could help you translating to Polish. In Poland we have population of almost 40 mln. But... if quantity of highly organized Chinese people, spanish and portuguese speaking is not motivating you enough, then I'm afraid 40mln is nothing ;) Open the doors to them, they will help you grow this amazing app.

[2019-06-13 21:45] johannesjo commented on #33
@amblyline it's not about motivation :) actually I've several branches with the feature lying around with the feature ready to go. I could either use a Technology which is a little bit outdated and potentially makes the app a bit slower or I could use one which will make the build 5mb bigger for every language I add, or could provide separate binaries for every language.

The other problem is rela

[2019-06-14 17:17] daya opened #180 "Configurable Sounds & Volume Control"
First of all, many many thanks for creating such an awesome product.

Earlier I was using Gnome Pomodoro and it had a configurable sound and I had it configured to play a relaxing Piano music since I find the ticking sound to be a bit annoying :(

Is it possible to let user's specify the mp3 or ogg file to play during a pomodoro session

[2019-06-14 17:24] daya opened #181 "Sub Tasks within Sub Tasks"
### Your Environment

* Version used:
* Operating System and version:
* Desktop Environment:
* Browser Name and version:

### Expected Behavior

### Current Behavior

### Steps to Reproduce (for bugs)

1.
2.
3.
4.

### Console Output

### Error Log (Desktop only)

[2019-06-14 17:52] daya opened #182 "Collpasing & Expanding Subtasks list"
Enhancement Request: It would be great to collapse and expand the sub task list specially when creating a TODO or planning your day

[2019-06-14 19:48] MarianyFerreira opened #183 "Android App"
What are the changes to come up with an android app on Play Store?

[2019-06-14 20:14] MarianyFerreira commented on #183
You can now add the app to your phone's home.

For this you need to install the Super Productivity extension in App Chrome Mobile. After this will appear a message asking if the user wants to include the App on the home screen.

[2019-06-14 20:35] MarianyFerreira commented on #183
App notifications do not work. In case of smart band and watches connection is realy important the notification push

[2019-06-15 15:05] jac1013 commented on #157
@johannesjo I noticed that before having this we need what @endorama pointed out here. I want to know first if this is something you think should be done before trying to come with a solution for it.

I saw that the problem is that worklogs are not saving the ID from JIRA, because of that, we don't know if a worklog is created in JIRA or not so the system assumes that all the worklogs in an issue

[2019-06-15 20:59] jac1013 commented on #157
Ok guys, so I read the code a bit more to understand what's happening, I think a _decent_ solution for this is to always create a new worklog whenever the play button is clicked (this, only locally), also, when a worklog is created in JIRA we need to _mark them_ as submitted (or something like that) so we don't create new worklogs in JIRA out of those (which will be duplicates).

The problems that

[2019-06-16 21:03] jtagliaf commented on #68
I just stumbled upon this app by total surprise and it just blows my mind how well crafted this app is! It combines everything i ever wanted in one app and the idea with finishing your workday and having a small recap is just the best !!! Thank you so much

[2019-06-17 14:03] johannesjo commented on #183
Hello @MarianyFerreira an android app is on the to do list, but not really on top of it. Much of how the app works is tailored to using it on the desktop and for some of the concepts I'm not sure how well they will translate to mobile. Just to name one example I wouldn't know if idle time tracking makes sense in any way for mobile.

Personally I use the web app on mobile just to add a task, when I

[2019-06-17 14:07] johannesjo commented on #182
You mean like a button or something instead of the entry from the context menu (when clicking the three dots)?

[2019-06-17 14:10] johannesjo commented on #181
Hey there! Thanks for the suggestion. Currently I have no plan to add such a feature. Another layer would add a lot of complexity to some other features like the jira work logs. Personally, when I need sub tasks for sub task, I convert the sub task to a main task.

[2019-06-17 14:13] johannesjo commented on #180
Glad that you like the application. I understand that the ticking sound is annoying. Personally I never use it. The idea of playing some music instead is neat. I'll think about how to best implement it.

[2019-06-17 14:45] MarianyFerreira commented on #183
I believe that the desktop application fulfills what is proposed by it. In my opinion, if it were to make some adaptation to the Mobile, small things, without changing the functionalities (they are very consistent). It would only change things like notifications, maybe it would create a widget to keep track of the timer of a task, stop, etc.

The app design fits well on small screens so I do not t

[2019-06-17 14:47] johannesjo commented on #157
@jac1013 thanks for digging into to this. Not really sure what a good solution could be for the problems your described. There will be definitely cases where it will be hard to impossible to make assumptions what the right thing to do is. People use the time tracking features in different ways. For some just the rough amount of time spent is important and they don't want to be annoyed with having

[2019-06-17 15:17] daya commented on #182
It could be either a button or an entry in context menu, ideally with a shortcut like Alt + "+" to expand and Alt + "-" to collapse.

[2019-06-17 15:24] daya opened #184 "Ability to move a task to another project"
The potential of this app is huge.

It just occurred to me that **_I can track everything_** that I do **_if I can capture the time spent_** in a new project (coz you know life happens). So when the app prompts "You have been idle" a feature allowing you to capture the time spent in a new project. Currently I cannot create a new project and if I do temporarily capture that time spent in a placehol

[2019-06-17 15:48] KonTy commented on #183
@MarianyFerreira this is so philosophical but this app is designed for the desktop at the core, Most of productive things you do are on the desktop, and even though it would be nice to have it on a phone there are so many things we want to do on the desktop that I wouldn't want to spend time doing it for the phone. It just doesn't make sense currently.

Believe it or not even though Chromium and E

[2019-06-17 15:52] KonTy commented on #184
So basically you want an ability to move a task to a different Project?

[2019-06-17 15:56] KonTy opened #185 "How do you complete yesterday's tasks?"
I find myself forgetting to Finish my day quite often if could be because my last hour was a meeting or I got distracted but someone coming into my office and whatever. So basically I leave without "Finishing my day". What is the workflow I can use to "Finish" yesterdays' day when I get in the next day in the morning? Is it possible?

[2019-06-17 16:22] johannesjo commented on #185
Thanks for the suggestion! Currently there is no workflow for this unfortunately, but I like the idea a lot, because this happens to me too quite often :) I will definitely work on this.

[2019-06-17 16:24] johannesjo commented on #184
Or would it be enough to allow tracking idle time to a (new or old) task on existing project?

[2019-06-17 16:45] johannesjo commented on #183
@KonTy Just putting the app into a cordova wrapper would not be too hard actually. Publishing to the store is a little bit annoying though.

@MarianyFerreira In general I'm more worried on the conceptual area, because I don't what the typical use case would look like. I might be wrong, but I am assuming that 99.9% of the people using the app have an office job, in which they work from a desktop co

[2019-06-17 16:55] johannesjo commented on #182
Just to make sure that I understand you correctly. The existing functionality

* the "Add sub task" button from the context menu/
* the keyboard shortcut for "add sub task" ("a" per default)
* +/- button on the left of the list, if there are sub tasks * using arrow left to collapse and arrow right to expand an existing list of sub tasks

Is not what you're looking for?

[2019-06-17 17:01] endorama commented on #157
Assuming that we know start date and time and duration of a worklog, is it
possibile to use this to map "local to remote" worklogs?

So we should be able to "ignore" remote worklogs with matching data even
without an explicit id.

Does it make sense? It feels "loosely coupled" to me :)

[2019-06-17 17:12] endorama commented on #157
Looking at Jira API docs (
https://developer.atlassian.com/cloud/jira/platform/rest/v3/#api-rest-api-3-issue-issueIdOrKey-watchers-delete)
what I described should be doable.

I'd also noticed that there is an "id" field in the Worklog model, so we
may be able to use it locally?

This clashes with what is stated before:

because of that, we don't know if a worklog is created in JIRA or not

So I'm

[2019-06-17 17:29] KonTy commented on #185
This case I suggest being able to chose tasks with a checkbox and select a day that you want to finish. Because sometimes you can back from a weekend and it is not yesterday, it is 2 days ago :)

[2019-06-17 17:44] johannesjo commented on #185
This would be also an approach. I thought more along the lines of opening the daily summary view again allowing you to make a ll the changes which are then tracked for the last active day.  To mark tasks as completed we could use the very right column of the "today" tab. The date of completion shouldn't matter too much anyway, as it ain't used for anything atm.

What do you think about it?

[2019-06-17 20:04] daya commented on #184
@KonTy yes that would be an effective solution.

@johannesjo no this won't work as it is limited to existing projects.

Now imagine there is a functionality which gives you a Time Spent report a Global Metrics (over a configurable time period) across all projects, that would be super amazing.

[2019-06-17 20:10] daya commented on #182
@johannesjo yes you are right. The first 2 items already exist and next 2 items are needed.

[2019-06-17 20:58] johannesjo commented on #182
The latter two also exist :)

[2019-06-17 21:13] johannesjo commented on #184
Space in the task context menu is a bit precious and I don't want to put too much functionality inside it. Any ideas for an alternative way to make this feature accessible?

[2019-06-17 21:18] johannesjo commented on #179
Should be fixed, I assume. Please let me know if it isn't.

[2019-06-17 21:18] #179 closed

[2019-06-17 21:18] johannesjo commented on #174
Should be fixed. Please let me know if it isn't.

[2019-06-17 21:18] #174 closed

[2019-06-17 21:26] KonTy commented on #184
Oh yeah showing graphs on tasks completed, procrastination rate, "out of box" tasks etc. I was holding those suggestions back, coz I know @johannesjo is very busy as it is, and it sounds like for cross project features the app will have to be re-architected.

@johannesjo you know what might help is a simple setup guide where you could explain how to setup a dev environment step by step A-Z includi

[2019-06-17 21:30] daya commented on #182
Indeed they do now that I see it, thanks.

[2019-06-17 21:33] johannesjo commented on #184
Maybe this is something for a  new feature request :) This should be doable i think, because the data would only be needed to be read, which is a lot less complicated.

@KonTy The Development setup is described in the readme, and pretty easy:
[code]

But you're right, I should expand on that.

I think the IDE you use shouldn't matter much or are you missing anything specific?

[2019-06-17 21:37] #182 closed

[2019-06-17 21:41] KonTy commented on #185
That would work and if it is easier to implement then sure. I think "date completed" will matter more once we can get to report side of things. Looking at statistics is cool to see when I said I will complete a task vs when I actually completed. There are many cool graphs we can do with this.

[2019-06-17 21:50] KonTy commented on #184
Yeah I saw those instructions but it is not enough for brainless installation where you just follow step by step. So yes expanding a little bit would help. Also how to debug things would help as well.

Let me think about this. I think IDE matters when you start talking about debugging and ease of adding code. Think about it this way, if we want to project to grow and want more people to contribute

[2019-06-19 01:16] jac1013 commented on #157
@johannesjo I like your approach of considering users first, I don't know how users are using the application nowadays, I think my case is one that is not considered from the core functionality of it (Having a task and log time to it multiple times without completing it). I don't see an easy solution for this, it will require multiple changes on how the worklogs are being handled today in the syst

[2019-06-19 21:23] daya opened #186 "Schedule Overview"
short of duplicating the tasks in Calendar (for which integration is not available), How do I list all scheduled tasks along with dates and times across all projects? This list overview will give me an idea on how to plan my tomorrow or next week.

[2019-06-19 21:32] daya commented on #184
@johannesjo yes, and the move of a task to another project should carry its time stats along. One other use case you can think about is re-categorization or converting a parent-task to a sub task or vice versa. When parent task is converted to a sub-task it will still carry its time stats along. This use case will be super helpful for re-categorization of a task into something more abstract.

[2019-06-19 22:22] daya opened #187 "Repeating Tasks"
To analyze my time spent in everyday tasks leading to efficient time allocation a very helpful feature is a "Repeating/Reccurring Tasks" e.g. everyday chores/tasks in our home that need to be done.

Currently I have to create the same task over and over again to capture my time spent, hoping that when a Time Spent report is available I will have a good insight into what consumes my time.

[2019-06-20 12:38] jac1013 commented on #157
Ok guys, so I've been using SP this whole week, so I'm going to clarify some points about my previous post.

This is not like I described in my edit, when we "Finish working" all tasks are gone (good), when we find the task again they will have the worklog of the previous day, meaning that the worklog will be entered in JIRA again whenever we finish that task and upload the worklog to JIRA (again)

[2019-06-20 15:01] KonTy commented on #186
Yes I don't believe this feature exists and there are a lot of suggestions like this one. Planning the day is not the strongest point of this app at the moment. Not only due dates but also people suggested #hashtag support for things like #waitingfor #next #tomorrow etc. We need ability to plan a day more effectively for sure.

[2019-06-20 15:21] johannesjo commented on #186
Good suggestion. Makes a lot of sense to me.

[2019-06-20 15:24] johannesjo commented on #187
Thanks for the suggestion! Agreed! It would be good to have this feature.

[2019-06-20 16:45] umm7yass opened #188 "Add support for GitHub Enterprise"
I currently can't utilize this at work, as I cannot connect it to my companies self-hosted GitHub.

[2019-06-20 21:16] johannesjo commented on #188
Hey thanks for opening up this issue. Currently I have no need for such a feature myself and a lot of other stuff to do for this project. But if anybody wants to work on this, I gladly accept Pull Requests.

[2019-06-21 16:54] johannesjo commented on #186
The feature is developed and will be there with the next release. Beta Testing would be appreciated :)

[2019-06-21 19:27] ErnestUTN opened #190 "Add Refresh Button (To Sync With Jira or Github.. etc)"
Greetings

I was hoping that the  button that used to refresh the remote tasks to backlog could be brought back since it was useful to force the update sometimes.

Regards!

#31

[2019-06-21 21:29] johannesjo commented on #190
Yes you're right. I having a bit trouble of figuring out the right ui for this. but I will implement it at some point.

[2019-06-22 23:20] johannesjo commented on #187
I was sitting in the train today and were able to write up a rough concept on how to implement the feature:

* We call the model repeatTaskCfg, because I always write reoccurring wrong (:
* On a model basis we use separate task every time, because otherwise we get in trouble with deleting, sub tasks etc
* Use separate model and feature for repeatTaskCfg because it is probably cleaner
* A visual cl

[2019-06-23 01:18] MSDDR opened #191 "Add desktop notification for exceeded time estimate"
The pomodoro timer is nice but that workflow style doesn't suit me to well. Instead could we set timers for individual tasks (without break) and have the timer for the task notify us when the allotted time has passed. Also in addition can we get options to have the timer give us a desktop notification or a louder warning I keep missing it if I have music or a video playing in the background.

[2019-06-23 22:11] KonTy commented on #187
First of all this is an awesome spec!!!

I have a couple of questions.

I know this is a first attempt. Here is an idea to consider

Daily
Weekly
Monthly
Yearly
or
Reoccurs every X weeks on checkboxes for each day of the week.

In my experience this can handle pretty much every case. Here is an example
https://www.uvic.ca/systems/assets/images/screenshots/emailcalendar/facultystaff/outlook2010/rec

[2019-06-23 23:03] johannesjo commented on #185
I also wrote down some notes on this. Not really final yet:

### What to display:
* Daily Planner but without "Wait I forgot something" and "Take a moment to celebrate".
* Instead we display "You forgot to finish your day X Days ago  or yesterday + Date
* Button will not be "Save and go home" but "Finish Day"
* Add a second button with "I don't acare"
* The week tab should probably be hidden

###

[2019-06-23 23:39] johannesjo commented on #191
The feature is already kind of implemented. You can set a time estimate on task. If You then set the option "Notify when time estimate was exceeded" under Misc Settings on the Settings Page, you will be notified, once you exceed this estimate. Let me know if this works out for you.

[2019-06-24 00:36] MSDDR commented on #191
I tried that setting out but just getting the "Time estimate exceeded for x" notification within the app itself isn't too helpful. Having a desktop notification or having the app popup and would be far more ideal.

[2019-06-24 01:53] KonTy commented on #185
You know what  I just of man? I think it would be really beneficial for you to create a series of tutorials on how you intended to use the app. All of us have a lot of ideas but maybe we are missing the workflow that you have intended. For me the biggest categories are
1. In the morning when you come in how do you plan your day?
     For example I look at all tasks with due date for today. Some I

[2019-06-24 19:39] johannesjo commented on #185
Good idea. Thought about it before and might do it some time in the form of a video maybe. But atm there is so much other stuff to do. :)

[2019-06-24 20:44] johannesjo commented on #191
I just checked and actually there should be a desktop notification. Could you provide a little more information on which version you are using and which OS you're on?

[2019-06-25 00:13] KonTy commented on #185
Yeah true dat.

[2019-06-25 00:14] KonTy commented on #191
Let me test this as well.

[2019-06-25 00:24] KonTy commented on #191
Just tested it on my Win10 box did **not** get a system wide notification. I did get a bubble at the bottom of the app but no Windows Notification.

Operating System: Windows 10 Enterprise 64-bit (10.0, Build 17763)

[2019-06-25 22:03] johannesjo commented on #191
Hm that's weird @KonTy thank you for testing this! Could you maybe debug the code on your system? The relevant bits are here:
https://github.com/johannesjo/super-productivity/blob/d2b153ccf9664ae6a950dcaea1934ecc5a769790/src/app/core/notify/notify.service.ts#L30-L54
And here:
https://github.com/johannesjo/super-productivity/blob/d2b153ccf9664ae6a950dcaea1934ecc5a769790/src/app/features/tasks/store

[2019-06-26 14:19] susnick opened #192 "Make flash drive standalone version work"
I am trying to specify the data location using commandline so i can keep my data on a portable thumb drive. I am using the version 2.7.8 exe running from my thumb drive and not the installed version. When I start via the commandline I do not get any information printed to the console.

Per the ReadMe "When starting the app via the command line the path to where emergency backups are saved is print

[2019-06-26 19:14] johannesjo commented on #192
Thanks for opening up this issue. Currently there is no way to specify a data, but it might be something we need to add. Haven't explored how well the flash drive version to be honest.

[2019-06-27 12:15] susnick commented on #192
Well, you have my vote. Thats my only struggle with otherwise awesome software. When i move between different computers I dont have the same tasks.

[2019-06-27 18:59] KonTy commented on #192
@susnick I know this might not work for everyone (including myself) but have you considered Google Drive Sync?

[2019-06-27 20:50] KonTy commented on #191
So I debugged it and everything looks fine. What I figured out is that it actually does create a notification but it is not shows by the system. If I click a notification history the notification is there. So what is happening is that it is raising a silent notification because my focus settings are set to only show notifications for Alarms. So I wonder if it is possible so raise an Alarm?
![Captu

[2019-06-27 23:10] johannesjo commented on #185
The feature is basically done. To activate it you need to work on a project (e.g. track time) and then close the app without clicking "Save and go home".

Let me know what you think :)

[2019-06-27 23:55] johannesjo commented on #191
@KonTy Thank you very much for digging into this!

I checked, but I'm afraid that afaik this is not possible at least not without a considerable amount of effort.

[2019-06-28 02:22] KonTy commented on #191
Perhaps we can add a link to the popup inside the app "Not seeing Desktop Notification?" and link it to a wiki how to disable Focus Mode in Windows.

Another option is tg create a Window which would be Modal Top Most window just like email clients do it for reminders. And make it configurable weather to show it or not.

[2019-06-28 17:08] johannesjo commented on #191
I go with a note about how to check your settings for now. Chances are, that some people don't want to see those notifications if they have configured their system like this.

[2019-06-28 23:31] johannesjo commented on #192
Just a quick update. This is unfortunately not as easy as I thought. It will take same time to get this working.

[2019-06-30 13:25] johannesjo commented on #187
The feature is implemented and should be available as pre release as well as in the snap edge channel soon. Please let me know what you think!

[2019-07-02 16:14] aschmeelk opened #193 "Error when opening from notification."
### Your Environment

* Version used: 2.7.8
* Operating System and version: Win10 home
* Desktop Environment:
* Browser Name and version:

### Expected Behavior
Expected app to gain focus and display the task from notification

### Current Behavior
Displayed Error: Object error

### Steps to Reproduce (for bugs)

1.
2.
3.
4.

### Console Output

### Error Log (Desktop only)

[2019-07-02 17:25] johannesjo commented on #193
Thanks for reporting. Is there anything more written than Object Error?

[2019-07-02 22:46] johannesjo commented on #192
Ok I found a solution. Not super user friendly I admit, but it should work. You can now specify the data directory via a command line flag like this:
[code]
Will be out with the next release.

Let me know if this works for you.

[2019-07-02 23:11] susnick commented on #192
That would be perfect.

[2019-07-03 08:28] xantof commented on #184
Just discovered this app and this was the first thing I tried to do!
So +1 for this feature

Appreciative of your work!

[2019-07-03 08:42] johannesjo commented on #184
Would it work for you, if there was a button to switch the project from the Dialog?

[2019-07-03 16:47] aschmeelk commented on #193
No, I believe that was it.

On Tue, Jul 2, 2019 at 1:25 PM Johannes Millan <notifications@github.com>
wrote:

[2019-07-03 20:39] #183 closed

[2019-07-03 20:55] johannesjo commented on #193
I am afraid that this is not enough information to go on. Is the error reproducible somehow?

[2019-07-03 22:18] johannesjo commented on #192
@susnick I made a release just for you ;)

[2019-07-04 19:22] aschmeelk commented on #193
It happened when I got a notification (using win 10) of a scheduled task
coming up. I clicked on the notice, the app popped up, and then threw up
the error message I reported.

On Wed, Jul 3, 2019 at 4:55 PM Johannes Millan <notifications@github.com>
wrote:

[2019-07-04 20:50] johannesjo commented on #193
Ok thank you. I'll have a look next week. Maybe I'm able to reproduce the issue.

[2019-07-05 15:37] daya commented on #184
@johannesjo Yes that would work too. Though in a bigger context the ability to move any task (except ones created in JIRA etc) to another project would be good to have even when not prompted by "You have been Idle" dialog i.e. on every task the right click menu should have that option.

[2019-07-08 12:39] susnick commented on #192
You're the man! Works like a charm.

[2019-07-08 13:50] #192 closed

[2019-07-08 15:28] KonTy commented on #193
I tried to reproduce this and it didn't repro for me. The behavior is inconsistent though, sometimes when the time is up, the app moves to the foreground sometimes it doesn't. Sometimes it just starts blinking/flashing the app icon in the Taskbar.

[2019-07-08 15:39] KonTy opened #196 "[FEATURE] Export task summary into CSV"
I've been using this app for about 1.5 months now and I really love it. By this time I think I figured out I can live without or found workarounds for all of the features that I wanted initially. The only feature I keep coming back to and I really regret it not having it is analysis. To me what good does a productivity tool do for you if you can't analyze how effective you are at producing feature

[2019-07-08 18:06] johannesjo commented on #196
Thanks for your suggestion! For my own needs I'm currently satisfied with metrics feature, but that doesn't mean that I'm against such feature. A button on the metrics page opening a modal with all those options you mentioned could be a good way to integrate it. Would you be interested in doing so yourself?

[2019-07-08 18:13] KonTy commented on #196
In your opinion how much work/learning would this require? Also where would one start here?

[2019-07-08 18:24] johannesjo commented on #196
That strongly depends on the existing knowledge ;)

But I think the amount of effort is limited and on top of that the feature can (and should) be implemented in way that it is interconnected with just a few other parts of the app, so chances to break something else are slim. The most complicated part is probably getting all the data, but to keep it simple you just could use  `getComplete` form th

[2019-07-10 00:14] johannesjo commented on #184
The feature is available now in the master branch and should be downloadable with the next release. Please let me know if it works out for you.

[2019-07-10 14:33] theCalcaholic opened #197 "[FEATURE] Tags for tasks"
### Description
To increase flexibility and possible use cases, it would be a very useful feature to be able to add tags to tasks and filter by them.

## User Story

As a agile developer with potentially many clients and products
I want to have a flexible way of organizing and filtering my tasks
so I can further analyse them, e.g. to identify money sinks or for billing.

* Tags should be unobtrusi

[2019-07-10 15:34] theCalcaholic commented on #196
Isn't this feature precisely what the export function does (except for the arbitrary time window maybe)?

[2019-07-10 15:41] johannesjo commented on #196
@theCalcaholic now that you mention it, it seems to look this way. What might be missing atm is support for a list for all projects and a specified time frame mentioned in the request.

[2019-07-10 18:18] KonTy commented on #197
Another way to think about this is the way Todoist has implemented this feature. Where you can add a @label  anywhere in the task title or description and it will show up in the labels section
![Screenshot_10_21_14__10_39_AM](https://user-images.githubusercontent.com/9524513/60994014-759e0e00-a304-11e9-81b2-4c5f13a70028.jpg)

[2019-07-10 18:22] KonTy commented on #197
I do agree with the sentiment that the whole query mechanism might need a little improvement.. Being able to filter/query/slice work items imho is essential for a productivity tool.

[2019-07-13 17:33] barrel0luck opened #199 "superProductivity snap fails to start on Fedora 30"
### Your Environment

* Version used:
* Operating System and version: Fedora 30
* Desktop Environment:  GNOME 3.32
* Browser Name and version:  N/A

### Expected Behavior
 The app should open.

### Current Behavior
The app doesn't open.

### Steps to Reproduce (for bugs)

1. On Fedora 30 install snapd.
2. Install superProductivity.
3. Open superProductivity.

### Console Output

Trying to run supe

[2019-07-15 13:59] johannesjo commented on #199
Thanks for reporting. Are you running wayland or xorg as a display manager? Ubuntu runs fine, but it seems that there might be a general problem for snaps on fedora :/

[2019-07-15 15:23] barrel0luck commented on #199
Ah, I'm running the default wayland session. I can try the xorg session and report as well in a while. It's just that I can't log out right now. I'll update the xorg situation in a while.

[2019-07-15 17:12] johannesjo commented on #33
I made a lot of progress. I even bought a copy of [babel edit](https://www.codeandweb.com/babeledit) to to easily add some google translations.

What's left to do is extracting the translations from the templates. I really would appreciate some help!!! It's not terribly complicated, but it's starting to annoy me as it is taking so much more time than anticipated.... :)

You can check the last coup

[2019-07-16 22:19] barrel0luck commented on #199
I tried the app on Xorg and it worked perfectly! It doesn't work on Wayland only then I guess! Apologies I did not think about that when writing the bug report!

[2019-07-16 22:22] johannesjo commented on #199
@barrel0luck Don't be! It's good to know that the App is not working with Wayland, especially since more and more distros are shipping with Wayland as default display manager. I will investigate!

[2019-07-17 13:16] johannesjo commented on #199
I think I fixed it it with the latest edge release also for wayland. Could you maybe be so kind to also check it on your machine?
[code]

[2019-07-17 18:34] barrel0luck commented on #199
Works perfectly now! Thanks!

[2019-07-18 11:24] #199 closed

[2019-07-18 14:50] theCalcaholic commented on #197
@KonTy Adding tags when creating a task is a nice idea. Probably something for the polishing phase of the implementation though :)

@johannesjo If you are okay with the described feature, I would start working on a PR (I can't make any promises on the amount of time I can dedicate though).

[2019-07-18 16:06] johannesjo commented on #197
@theCalcaholic that would be great!! I'm just about done with the internationalization. Would make sense to include those changes, so please pull in the latest master :)

Personally I've the following spec in mind (though I'm open to suggestions and adjustments of course):
* tags are displayed below the task title using the material chip component. I think its good to see them right in the overvie

[2019-07-18 16:09] #186 closed

[2019-07-18 16:09] #185 closed

[2019-07-18 16:10] johannesjo commented on #33
Puh! Feature is there and available in the snap edge channel. Please let me know what you think!

[2019-07-18 16:10] #33 closed

[2019-07-18 16:11] #184 closed

[2019-07-18 16:12] johannesjo commented on #162
Thanks again for your effort! Very cool to have the feature on board!

[2019-07-18 16:12] #162 closed

[2019-07-19 11:14] theCalcaholic commented on #197
Thanks for your elaborate input on this - these are very good points. :)

Now that you mention it, I think we should definitely separate tags into their own model, otherwise we'll run in several performance issues and limitations.

Do you think they should hold references to the tasks they are assigned to (for faster filtering, etc), to model the de-facto many-to-many relation?
Otherwise we would

[2019-07-19 13:56] johannesjo commented on #197
I would suspect that this is more complicated to handle than the other way round or having references for both the models.

I think that should be ok regarding the performance. A little bit tricky might be, that we would have to do this for the task archive. But that should be doable (preferable via a tag effect). I will extend the model instances in the `persistence.service.ts` in a bit to allow

[2019-07-19 14:52] theCalcaholic commented on #197
Alright :)

In general, do you have any performance pitfalls to look out for? In the discussions about a joined view for multiple projects I got the impressions, that some things might bear unforeseen challenges in that regard.

[2019-07-19 15:49] johannesjo commented on #197
As long as we use a project based model, we hopefully shouldn't run into trouble as the model is limited to a per project base and done tasks are put into the archive. I don't know how familiar you are with the hole rxjs and store stuff. If this is new to you there might be a lot to swallow. https://ngrx.io/ is a good place for getting started.

What might be a tad tricky is adding the full model

[2019-07-19 16:28] theCalcaholic commented on #197
Alright, thanks :)

I've been working with react and Flux a few years ago, so that shouldn't be a problem

[2019-07-21 20:59] johannesjo commented on #193
No luck for me neither. Please let me know if the issue persists for you.

[2019-07-21 21:00] johannesjo commented on #196
@KonTy does it work for you as is?

[2019-07-22 20:53] Wattos opened #200 "[FEATURE] Enable Dbus again - Ideally via a setting"
I have a Thingm blink(1) (See https://blink1.thingm.com/) that I would love to integrate with Super productivity.

Basically, as long as I am focusing on a task, I would love to change the color of the LED. I would be able to do that fairly easily if Super Productivity offered one of the following options:

1) Web hook support on changing of the state
2) Dbus support on changing of the state

It s

[2019-07-22 21:15] johannesjo commented on #200
Thanks for creating this issue (and congrats for opening up the 200th issue!!! ;)). Almost forgot about it. I have some fuzzy memory about some issues with `dbus-native` on non linux systems when I was rewriting the whole application to work with angular 2+.

I'm always looking to get more people on board developing this app. Would you maybe be interested in supplying a PR yourself for the reinteg

[2019-07-23 05:38] Wattos commented on #200
I'll try to cook something up. Ideally, I would also like to make it work on non-Linux environments, so having a "call a command line script", also an option.

Could you provide quick guidance on how you would see it within the code base? Is it okay if I just clean up the existing dbus code or would you want me to put it into features/dbus or maybe something more focused like:

`features/integrati

[2019-07-23 13:55] johannesjo commented on #200
That's a really interesting suggestion! Thinking about it, communication could even be 2 way, which would be a great basis for #173 , but that's probably something for later on.

I probably would call the feature and module `externalInterfaces` or something along those lines, as integrations sound a little too broad to me. Not sure if we need to additional modules for the interface handlers.

Most

[2019-07-23 16:26] KonTy commented on #196
@johannesjo sorry I was out of the loop for awhile. You know I was thinking about exporting into CSV from a analytical point of view meaning I want to analyze how I spend my time. (After all why have a productivity app if you can't analyze the effect of it on productivity). But then this weekend it dawned on me, you can also use this feature for Tracking the time for a small business. You know at

[2019-07-23 19:43] Wattos commented on #200
Well, as always, naming is not easy and there are more opinions than developers when it comes to that. I am happy to name it externalInterfaces, but this is where I would say that this does not really describe what it is, what it does.

At the end, I believe that this is really part of integration and having multiple of these, dbus, cli, http and then the list could continue, (maybe native IFTTT).

[2019-07-23 22:53] johannesjo commented on #200
Hmhm. You're totally right! I agree that `interface` or `externalInterface` is not really ideal neither :) Sometimes I think that good naming is the most important and most difficult thing in programming... My problem with integrations is that I use the terms "Jira-Integration" and "Git-Integration" very often. So this might be a little bit confusing semantically.  API(s) is probably correct, as w

[2019-07-23 23:09] johannesjo commented on #196
Hey! There are a couple of options for exporting your data already in place (because like in the US some of my employers wanted some sort of worksheet, usually on a monthly or weekly basis):
* There is the export function for today on the daily summary
* There is the export function for the current week on the daily summary
* There are the export week, month and year functionalities under worklog

[2019-07-24 14:19] KonTy commented on #196
I agree about the server tracking thing. That's what I love about your app it doesn't need and backend services and can be standalone. Please keep it that way too. Personally I hate cloud services when I'm forced to use them for any feature, unless I choose to push them there myself proactively, like with your apps case, where I might choose to push it to Google.

As far as export features, I was

[2019-07-26 14:53] johannesjo commented on #160
I'm closing this for now as there is not much resonance so far.

[2019-07-26 14:53] #160 closed

[2019-07-26 15:00] #196 closed

[2019-07-26 22:29] johannesjo commented on #168
I'm closing this in favor of the other issues:
#163 #201 #159

There is currently no encryption, but the data can be compressed now.

[2019-07-26 22:29] #168 closed

[2019-08-08 07:57] msbentley opened #202 "Error when polling JIRA for updates"
When I click through JIRA issues in a project, when SP tries to reload I get the message:

"Jira: polling changes for issue"

and then a pop-up as in the screenshot, with the message:

TypeError: Cannot read property 'toISOString' of undefined

![Selection_019](https://user-images.githubusercontent.com/1671065/62685326-be5bec00-b9c2-11e9-81ca-63132afacfa3.png)

### Your Environment

* Version used

[2019-08-08 14:42] johannesjo commented on #202
Thanks for reporting. I'll have a look!

[2019-08-08 22:28] johannesjo commented on #202
Ok this is hopefully fixed with the next release. Thanks for reporting again!

[2019-08-09 07:12] msbentley commented on #202
Fantastic, thanks - I'll git it a try when released and report back!

[2019-08-09 14:03] Revulse opened #203 "Feature Add - Task Priority"
Would it be possible to add a way of selecting a priority for each task? Say each time you create a task, default priority is "Normal", then we can change to high or low and possibly add a slight color change overlaying the task within the task list. This would help understanding whats important at a glance.

For now I've basically created separate projects for low priority and high priority, but

[2019-08-09 21:54] johannesjo commented on #203
Thanks for taking your time to open up this issue! There is currently a tag feature on the way #201. Maybe it could it could be used to fulfill the same the same purpose?

[2019-08-13 14:06] TobiasDev opened #204 "Pomodoro settings, how do I add minutes, instead of hours?"
I have been trying to use the Pomodoro timer in the app, but I can't figure out how to set the work time to be 25min and short break 5min and long timer 15min. Whenever I try to write anything with minutes, or with 0 hours the line goes red and I can't save the settings.

Can anyone let me know what I'm doing wrong?

![image](https://user-images.githubusercontent.com/5912371/62948206-3e7bba80-bde4

[2019-08-13 14:32] johannesjo commented on #204
Which version are you using?

[2019-08-13 14:33] TobiasDev commented on #204
I believe latest: Super Productivity 2.10.6

[2019-08-14 10:22] TobiasDev commented on #204
Seems to be fixed in 2.10.7. :)

[2019-08-14 10:22] #204 closed

[2019-08-16 07:47] msbentley commented on #202
Looks fixed in 2.10.7, many thanks!

[2019-08-16 07:47] #202 closed

[2019-08-16 11:30] AndreaPravato opened #205 "website is offline for more than 24h"
### Expected Behavior
http://super-productivity.com and app.super-productivity.com should have minimal downtime ideally

### Current Behavior
site and app are offline since 1-2 days ago

[2019-08-16 15:33] johannesjo commented on #205
Thank you very much for letting me know. Seems like my webhoster messed up the server migration. :/ I'll look into it...

[2019-08-16 15:54] ronaldofas opened #206 "Problem when repeating a taks"
The program crashes when i use the advanced option "repeat task"

Error:

"An error occurred
Please Report

Error: No component factory found for e. Did you add it to @NgModule.entryComponents?"

* Operating System and version: Windows 10

### Expected Behavior
Mark  the task to repeat over a number of times

### Current Behavior
The program crashes

### Steps to Reproduce (for bugs)
Create a task

[2019-08-16 15:56] johannesjo commented on #206
Are you using one of the exe files to start the app, or are you using the store version?

[2019-08-16 16:36] johannesjo commented on #206
Ok I think I found the issue. Thanks for reporting. Next release will be out shortly.

[2019-08-17 01:13] johannesjo commented on #205
Should work again! Thanks once more!

[2019-08-17 01:13] #205 closed

[2019-08-18 15:21] idopshik opened #207 "Can't launch an app"
### Your Environment

Version used: tried stable and edge.
OS: Ubuntu 19.04 disco
Kernel: x86_64 Linux 5.0.0-25-generic
DE: XFCE
GTK Theme: Numix [GTK2]
Icon Theme: elementary-xfce-darker

### Current Behavior
When I choose superproductivity in launching menu - nothing happen.
if I try to launch it from console - got an error.

I've checked  /snap/superproductivity/337/ folder - there is no "data-

[2019-08-18 15:38] johannesjo commented on #207
Thanks for reporting! I'll look into it tomorrow.

[2019-08-18 22:37] Fusion commented on #97
Hi. Why was this closed? Was it implemented? Thanks!

[2019-08-18 22:40] johannesjo commented on #97
No it wasn't. But here hasn't been any activity for quite a long time. :)

[2019-08-19 14:10] jthelle opened #208 "Cannot start timer (Error: Parameter "key" required)"
### Version and platform info
 ~  snap list | grep superproductivity                                                                                                          ✔
superproductivity     2.10.8                      337   stable    johannesjo    -
 ~  unity --version

[2019-08-19 16:43] mwhobrey opened #209 "Jira Settings are not repopulating"
### Your Environment
* Version used: 2.10.8 - Setup.exe
* Operating System and version: Windows 10 v. 1903 b. 18956.1000

### Expected Behavior
After enabling and entering in the Jira connection and query settings, they should be editable in the future and Jira should remain enabled.

### Current Behavior
Jira becomes disabled after leaving the settings screen. It is important to note that Jira co

[2019-08-19 22:26] johannesjo commented on #209
Thank you very much for reporting. I'm debugging right now. Definitely some weird behavior. Meanwhile you should be able to display the settings again, by selecting your current project from the project switcher menu again.

[2019-08-19 22:52] johannesjo commented on #209
I think I fixed it. Will publish a patch release soon.

[2019-08-19 22:55] johannesjo commented on #208
Thanks for reporting! What's your system language?

[2019-08-19 23:18] johannesjo commented on #207
This might not be specific to superproductivity. Does this thread help by any chance:
https://www.reddit.com/r/voidlinux/comments/ayc03i/pixbuf_error_cant_open_gtk_applications_anymore/
?

[2019-08-20 05:50] idopshik commented on #207
Bingo.
 I've searched and struggled hours before opening that issue. I knew the problem was in distro itself.
The only strange thing was - all the other programs worked well.
All these people trying to resolve "Could not load a pixbuf" or "Could not open display"- had problems with many other apps, not with only one.
Anyway - problem tackled. Thx

[2019-08-20 05:50] #207 closed

[2019-08-20 09:20] johannesjo commented on #207
Glad that you made it work!How did you fix your problem in the end?

[2019-08-20 12:44] jthelle commented on #208
Thanks for a quick response! App language is English. My system language is English (United States), formats are Ireland.

[2019-08-20 12:46] johannesjo commented on #209
Release should be out now.

[2019-08-20 12:46] #209 closed

[2019-08-20 13:28] johannesjo commented on #206
Release is out! Please let me know if the issue persists for you.

[2019-08-20 13:28] #206 closed

[2019-08-20 13:36] johannesjo commented on #208
Can you consistently reproduce the error? So far I'm unable to do so and I'm wondering what's happening in "???" :)

[2019-08-20 17:10] fla15 opened #210 "[color request] custom dark theme colors (customs stylesheets?)"
hi. I don't like the dark theme color can you add another color for dark themes? like arc (arc-dark) or nord or another
https://www.pling.com/p/1167639/
https://github.com/horst3180/arc-theme
https://github.com/arcticicestudio/nord

[2019-08-21 07:18] jthelle commented on #208
Yes 100% reproduction rate. What i did at the ??? was just setting up some general settings. This is my first install of the application.

I found the log file in the ~/snap/ folder, the relevant part is here:
[2019-08-21 10:14:21.364] [error] Frontend Error: Error {} Error
    at e.handleError (file:///snap/superproductivity/340/resources/app.asar/dist/main.38262e3e6a3b9272c703.js:1:3760324)

[2019-08-21 09:52] jthelle commented on #208
Also this same error occurs when the application asks what I would like to do with the time when it was idle, and I try to assign the time to a Jira task.

[2019-08-21 13:34] johannesjo commented on #97
Also this is kind of related: #188

[2019-08-21 14:02] johannesjo commented on #210
Hey there! Thanks for the suggestion. I am currently on setting custom theme colors. Background colors for the dark theme are not yet editable, but the the feature will lay the groundwork for that.

[2019-08-21 14:18] johannesjo commented on #208
Thanks you. I fixed some jira related issues in the 2.10.9 release, maybe you can try again with that version?

I've to admit that I'm really in the dark about what causes the error. Could you maybe provide your jira settings (without the credentials of course) and the pomodoro settings, you're using? What also would be interesting, if this happens without the pomodoro timer being enabled or witho

[2019-08-22 00:56] Revulse commented on #203
Ahh yes, perfect.

[2019-08-22 00:56] #203 closed

[2019-08-22 14:15] jthelle commented on #208
Disabling Jira integration made the the app not crash (but the Pomodoro timer didnt count). So this lead me to search for a solution in the Jira settings.

I exported all data to a file from the settings and found the key "key" used in the task data structures. It was set to either "indeterminate" or a username ("jukka.helle" in my case).

So, naturally I tried disabling "Check if the currently wo

[2019-08-22 14:37] johannesjo commented on #208
Thank you very much for digging into this! I found the problematic piece, which was introduced with the new internationalization. I will make a new release soon, so the assignment check will work again.

[2019-08-25 21:31] johannesjo commented on #193
Closing due to inactivity.

[2019-08-25 21:31] #193 closed

[2019-08-25 21:34] johannesjo commented on #200
Hey there! Are you still interested in doing this?

[2019-08-30 21:18] johannesjo commented on #208
The release should be out. Please let me know if the issue persists for you.

[2019-08-30 21:18] #208 closed

[2019-09-03 18:58] KonTy commented on #210
This is great especially for color challenged people they will be able to set a their own high contrast colors!!! Right now the contrast is not ideal for people with color vision issues.

[2019-09-04 15:55] kylejrp opened #211 "Keyboard Shortcuts Documentation"
I love this software so far - great work!

I'm having difficulties finding the keyboard shortcuts. Are these documented anywhere? Is there any way to discover these shortcuts in the interface?

[2019-09-04 15:56] kylejrp commented on #211
Hah, of course I find the shortcuts immediately after posting the issue. Sorry - didn't realize that they were in the settings!
![image](https://user-images.githubusercontent.com/6742479/64271281-e8d19400-cef1-11e9-8ce0-1ce878a35cbf.png)

[2019-09-05 09:52] tiotrom opened #212 "Adding it to AUR?"
I was curious if you plan to add it to AUR. Cheers!

[2019-09-05 09:53] tiotrom opened #213 "Not starting in Manjaro Gnome"
I get this error:
[code]

[2019-09-05 09:55] johannesjo commented on #212
Hey there! Thanks for opening up this issue.

To be honest, I have no experience with publishing to AUR and Deployment to PPA was a really huge pain in the *** while only a few people using it. So I'm open but a little hesitant.

Installing the snap package is not a valid option for you?

[2019-09-05 09:57] tiotrom commented on #212
I use Arch...but please leave this open and I will try to help out with it ;) - I see you have an appimage version which should be quite easy to transform into AUR. We did so for Jitsi-Meet recently like so https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=jitsi-meet-electron

[2019-09-05 09:57] johannesjo commented on #213
Thanks for reporting. I will try updating electron. Hopefully that will fix the issue.

[2019-09-05 10:00] johannesjo commented on #212
It would be great having the app available for arch without me having to care about it!! :D

I'll try to have a look at #213 tomorrow.

[2019-09-06 16:24] KonTy commented on #200
Very interesting discussion guys. IMHO I think this is an overkill currently to be honest because there are a lot of other features that are more important.

Also off topic blink(1) is insanely over priced! You can pick up 3pack Trinket for $10 on Aliexpress and each trinket can control not only while bunch of LEDs but also LCD screens
https://www.instructables.com/id/RGB-LED-lighting-effects-with

[2019-09-06 16:27] KonTy commented on #203
@Revulse Also you could just drag tasks up and down, that's what I do, the order is preserved and it is the best visual representation of priority since the most important item is at the top of your stack.

[2019-09-06 16:39] KonTy commented on #213
I don't think updating to new electron will solve the problem though. This Linux distro is more restricted and the sandbox needs root privileges, Debian has the same issue AFAIK.

@tiotrom have you tried this?

<code>
sudo chown root chrome-sandbox

chmod 4755 chrome-sandbox
</code>

I think we need to do this, if we wanted to solve it for SuperProductivity and solve it during install
https://wiki

[2019-09-06 16:44] KonTy commented on #200
Haha with the trinket you can go nuts like this and it will still be cheaper then blink(1)

https://www.amazon.com/Adafruit-RGB-LED-Neopixel-Ring/dp/B00K9M3WXG/ref=pd_bxgy_201_img_2/133-6144336-4886060?_encoding=UTF8&pd_rd_i=B00K9M3WXG&pd_rd_r=73618cd2-fa26-48ac-a9df-d555f3229a9b&pd_rd_w=fg9Se&pd_rd_wg=llYNX&pf_rd_p=a2006322-0bc0-4db9-a08e-d168c18ce6f0&pf_rd_r=0C915JXW6RX56GTP12YT&psc=1&refRID=0C9

[2019-09-07 13:07] tiotrom commented on #212
Ok I think it is already added... https://aur.archlinux.org/packages/superproductivity - interesting that I could not find it. It si great to see that!

[2019-09-07 13:11] johannesjo commented on #212
Ah yes, now I remember. @Morganamilo maintains that (thanks again btw! :)).

Last update was quite a while ago though. Maybe there is a possibility to automate this somehow.

[2019-09-07 13:13] tiotrom commented on #212
There is another version, git, https://aur.archlinux.org/packages/superproductivity-git - probably it takes the latest build from git, right? That's more automated as far as I understand.

[2019-09-07 13:14] tiotrom commented on #212
Unfortunately none of the versions work....I reported them to their respective AUR pages...

[2019-09-07 13:15] tiotrom commented on #213
It works now. Manjaro got a big update and now I see that it works....I know for example that they updated the electron to 6.0.7-1, though appimages should be self contained. In any case, it works now....interesting...

[2019-09-07 13:18] johannesjo commented on #212
Thank you!

Let's give @Morganamilo some time to respond. It might be better to work on an automated solution (travis is already configured) for the releases.

[2019-09-11 13:07] dennistobar opened #215 "(bug) Forms with formly without translate"
I've tried to apply the new translated strings into the dialogs, but formly doesn't applies the translated strings.
As I see, the export of items in `project-forms-cfg.const.ts` exports the key of json strings but in `dialog-create-project.*` don't apply the translation.

* Version used: from sources, master commit
* Operating System and version: Fedora 30 and web version

### Expected Behavior
If

[2019-09-11 13:26] johannesjo commented on #215
Thanks for reporting. I'll check this!

[2019-09-13 16:05] soheilred commented on #102
How about the app's font size? The initial font size a little bit too big to my eyes, and I need to reduce the font size every time that I open the app. Is there any way to fix this?

[2019-09-13 16:50] johannesjo commented on #102
@soheilred yes there is. You can use Ctrl+Scrollwheel to zoom in and zoom out.

[2019-09-13 17:24] johannesjo commented on #215
Ah ok. That's I haven't made a release yet. Your translations should be there with the next one

[2019-09-13 17:38] johannesjo commented on #215
The next release will be out in a bit. You can download it from the edge channel:
[code]

[2019-09-13 17:46] johannesjo commented on #213
I'm closing this. Please let me know if you encounter any other issues.

[2019-09-13 17:46] #213 closed

[2019-09-13 19:46] soheilred commented on #102
That would be the shortcut to change the font size. But, I mean is there any way to set the font size, and the next time that the app is opened, it keeps the previous font size.
Or, I can put it in this way: the font size that the user has previously set has to be saved somewhere in the config files. If that size can be set to a fix value, which then the user is able to change, that is going to pr

[2019-09-13 22:56] johannesjo commented on #102
@soheilred Would you maybe be willing to provide a pull request for that?

[2019-09-14 03:19] dennistobar commented on #215
mmmm.... I didn't see the changes in the current commit history on master (HEAD) about this issue. I don't tell about the translated string in #214, this issue is about the modal: the strings are translated in `es.json` but formly is not rendering them.

Anyway, I'll try to see the new changes on Monday.

Regards!

[2019-09-14 10:45] johannesjo commented on #215
Yes. The translations were missing there. I added them. Now they should appear.

[2019-09-14 14:19] soheilred commented on #102
@johannesjo I wish I could. But, I have never coded in Electron.

[2019-09-14 14:20] johannesjo commented on #102
Alright. No problem :) I make the changes myself. Thanks for suggesting the changes.

[2019-09-14 15:41] johannesjo commented on #102
Looks like the feature was already implemented, but there is a critical issue with electron:
https://github.com/electron/electron/issues/5708
I check if i can find a workaroud.

[2019-09-14 15:54] soheilred commented on #102
@johannesjo Yes, you're right. Seems to be an open issue on the Electron side.
I did a quick search and found [this page](https://github.com/electron/electron/issues/1731).
Especially [this comment](https://github.com/electron/electron/issues/1731#issuecomment-104163088) was interesting.

[2019-09-14 15:57] soheilred commented on #102
Based on what other people have suggested on the link, I think calling `app.exit` instead of `app.quit` should do the trick.

[2019-09-14 15:58] johannesjo commented on #102
Problem is that it also that the locaStorage is always deleted completely (at least on my system with ubuntu 18.04) when I just click the close button. It only works when the app is closed from the daily summary.

[2019-09-14 16:18] johannesjo commented on #102
I think I found a solution. Should be out available the edge channel in a bit.

[2019-09-16 15:35] KonTy commented on #102
Ah that is why all my Tasks disappear. I thought I did something wrong. Turns out it is a bug. I lost 3 months worth of Tasks to this bug and since I don't sync with Google or Jira that's info lost forever :)

[2019-09-16 15:47] johannesjo commented on #102
@KonTy if you use the electron version there are automatic backups to check for the data. The path of them should be printed out if you start the app from the command line.

Not sure if this is related to your issue though, because the bug doesn't seem to affect the IndexDB which the tasks are saved to.

[2019-09-16 15:54] KonTy commented on #102
To be honest I don't have any details, I just came in one morning after a vacation actually, the app got upgraded automatically by the Microsoft Store. I launched it and all of my Tasks were gone. I shrugged it off and moved on.

[2019-09-16 23:24] dennistobar commented on #215
Thanks :)

[2019-09-16 23:24] #215 closed

[2019-09-19 16:27] Ghoughpteighbteau opened #216 "Can not "Finish your day", notification keeps appearing."
### Your Environment

* Version used: superproductivity-git 2.11.1.r17.g1ae80248-1
* Operating System and version: Arch
* Desktop Environment: XFCE

### Expected Behavior
I can't "finish" a previous day. When I click dismiss or "finish day" in the notification, I expect that to clear the nag.

### Current Behavior
I did finish that day last day, the nag is incorrect, and even attempting to do so n

[2019-09-20 15:18] johannesjo commented on #216
Thanks for reporting! I look into it.

Meanwhile: Did you know that you can disable the naggers completely in the settings?

[2019-09-22 13:40] johannesjo commented on #216
Unfortunately I am unable to reproduce this issue. Could you maybe check your local database for possible wrong values? You can look at it by opening up the console and going to application. There you have to select IndexedDB on the left panel and navigate SUB_STORE.

![Screenshot from 2019-09-22 15-36-12](https://user-images.githubusercontent.com/1456265/65388707-c42d4700-dd4e-11e9-8af9-5d0e4b31d

[2019-09-24 07:49] kirawrath opened #217 "Configuration not carried over after update"
Hello,
I have opened today superproductivity, to notice it has a new layout (thus I figured it was updated), however all my tasks, configs and everything else was gone.

I have reverted to the previous version, and now it is working as before, however now I can't export the configuration, due to an error that seems related to the rollback (thus, there are two bugs reported in this ticket).

### My

[2019-09-24 17:20] Ghoughpteighbteau commented on #216
Sorry for the delay in response. Works getting interesting on my end ;)
I'm  Pacific Daylight Time, BC (GMT-7)

So based on the information you gave me here's what I did:
* I opened up the dev console. In `entities.DEFAULT.lastCompletedDay` The time was set to 2019-09-19
* I turned last day reminders and got a notification to complete day 2019-09-23.
* I finished that day per notificaiton
* `lastC

[2019-09-25 08:38] kirawrath commented on #217
As for my issue, I am happy with just keep using the older version for the foreseeable future, I am a bit too busy to fix this at the moment. Thus I am not in need for assistance regarding this matter, I just wanted to report my issue so you can look into it if you wish, but you can also close it for all I care.

[2019-09-25 12:59] suschizu opened #218 "Mac binaries for version 2.12.3"
hey @johannesjo! Will there also be a .zip or .dmg download available for version 2.12.3?
Thanks :)

[2019-09-25 13:17] johannesjo commented on #218
Thank you very much for pointing this out. They somehow got lost in the build process. Will check this later this evening.

[2019-09-25 13:47] fiuzaB opened #219 "Creating task - Improvement"
### Your Environment
* Version used:
* Operating System and version: Windows 10

### Expected Behavior
There should be a button to create a new task. Mayble close to the "Ready to Work". I spend some time trying to figure out how to add a task. It's awesome to be able to just tap enter and the task is added but not very intuitive (of course, that´s my opinion )

### Current Behavior
Today is hard

[2019-09-25 13:49] fiuzaB commented on #68
Thanks for all your hard work :)

[2019-09-25 14:39] johannesjo commented on #219
You're absolutely right! This needs to be improved. Will require quite some changes, though. I'll work on that as soon as i can.

[2019-09-25 15:31] johannesjo commented on #217
Alright then. Data loss is the worst case. Should never happen! Sorry for the trouble. If you run into this again and can share some insights later on it would be very much appreciated.

[2019-09-25 18:37] johannesjo commented on #218
Done! Thanks for the reminder!

[2019-09-25 18:37] #218 closed

[2019-09-25 18:40] fiuzaB commented on #219
If you need any help, count me in.

[2019-09-25 19:07] johannesjo commented on #219
Oh that's great to hear!

My general idea is to redo the whole ui for the add task use case using a combination of todoists approach of a split input bar (one input for the title, one for the due date of the task) and the general design of microsoft todo: an empty input at the buttom of the list, which is always visible on the task list page.

The most complex part in respect to the code required

[2019-09-25 21:31] fiuzaB commented on #219
I got the part of the todois approach but I didn't understand very well the empty input at the bottom. I mean, we have a lot of space. If we set an element at the bottom of the screen, we will have a big empty space in between the first input and the last, right ? The reason you want to have this "bottom input" is to minimize the amount of clicks the user has to do before inserting a new task ?

Y

[2019-09-26 14:41] suschizu commented on #218
Great thanks!

I noticed another small thing:

In the README -> Download & Install -> MacOS

homebrew-install: your casks name is superproductivity (no Uppercase)

So it should be this way:

brew cask install superproductivity

And your cask is well maintained :)

Best regards,

Brigitte

Designer & Developer @ CoreCode
CoreCode Ltd. | https://www.corecode.io/
Reg.#: C 78581 | VAT#: MT23896136
Vil

[2019-09-26 16:40] johannesjo commented on #218
Good catch! Thank you!

Thanks for the cask goes to @LouisStAmour. Wouldn't have thought about it myself :)

[2019-09-26 17:49] johannesjo commented on #219
Thanks for the feedback! :) Maybe let's go with a simple button for now.

This is what I mean by the bar at the bottom.
![image](https://user-images.githubusercontent.com/1456265/65711954-480c6980-e096-11e9-8ac7-80f45c8c69fa.png)

![image](https://user-images.githubusercontent.com/1456265/65712135-a3d6f280-e096-11e9-8ecb-4480b4d8e46a.png)

[2019-09-27 17:50] KonTy commented on #219
We could also use this opportunity to do some natural language processing using SugarJS library
https://sugarjs.com/

I love the Idea just typing "My todo due @tomorrow" and the it will be added automatically. This will save so many clicks.

[2019-09-27 17:53] KonTy commented on #219
Oh man I wish I had more time for this, there is so much we can do with your app! So many cool ideas floating around.

[2019-09-28 15:11] johannesjo opened #220 "Add optional task completion sound"
I like the ping of ms todo. Something similar might be nice for super productivity.

[2019-09-28 15:15] johannesjo commented on #212
@tiotrom it seems like @Morganamilo is not responding. I've not experience with AUR whatsover. Would you maybe help me to prepare publishing my own package? The other 2 are not up to date and I really would like to automate the process.

[2019-09-28 15:17] johannesjo commented on #210
Ideally I'd like to provide a feature where users can load their own custom stylesheet where they can specify the underlying css variables and overwrite every other style they want (also allowing for background images...).

[2019-09-28 15:19] johannesjo commented on #211
No worries. I'm closing this. Let me know if you have any improvement suggestions!

[2019-09-28 15:19] #211 closed

[2019-09-28 15:30] #191 closed

[2019-09-28 23:56] gerroon opened #221 "QA: Can this be proxied?"
Hi

 I am thinking to run the Docker version then  proxy it via Apache. is it possible?

[2019-09-29 00:42] johannesjo commented on #221
Probably :) not much experience in this field.

May I ask for the reason? It's just a static wep page in the end.

[2019-09-29 01:57] gerroon commented on #221
I would like to access it from outside while password protecting it with Http auth.

[2019-09-29 13:45] johannesjo commented on #221
Unfortunately this wouldn't be of much use. All data is stored client side and not saved to any server. You can set up syncing via google drive, but password protecting your data is not possible atm. This might be definitely something we should add in the future but for the time being my efforts are more focussed on the desktop version of the app. I am very open about suggestions though.

[2019-09-29 14:20] johannesjo commented on #216
Hey there! Sorry for not replying earlier. The full comparision code looks like this:
[code]

This is what I did in the browser console to check the code:
[code]
Which correctly returns false... So it seems like the logic works correctly (would probably be smart to write a unit test for it :)), which probably means that some of the values entering the function is not correct for some reason. It mi

[2019-09-29 14:26] johannesjo commented on #216
Ok yes. I messed that one up... Thank you very much for help!

[2019-09-29 16:26] gerroon commented on #221
Hi

I realize the client side storage. The reason I want to host it because so that it does not need to be installed. Some companies do not allow software installation.

Ideally it would have been so nice if this  was a truely a self hosted application with some kind of backend database.

[2019-09-29 16:38] johannesjo commented on #221
Yes I agree. It would be nice to have the option. It's definitely on the agenda to rework how the model is saved into much smaller chunks. If we got this, it should be possible to provide rest adapter of some sort. I'm a little afraid of reworking the model, as it is probably a lot of work and will likelybreak a lot of things. Has been on my to do list for quite some time now and I will likely do

[2019-09-29 20:27] johannesjo opened #222 "Integrate simple task export with google time sheet export"
Google time sheet export shouldn't require an extra tab at the daily summary. So an integration with the simple time sheet export would be nice.

[2019-09-29 20:30] johannesjo opened #223 "Add guided tour"
The app has a lot of features. We would need some kind of guided tour to make it easier for new users to get on board.

What to show:
* basic features
  * creating tasks
  * creating projects
  * time tracking
  * daily summary
  * short syntax (e.g. "my task 2h/3h")
* advanced
  * jira integration
  * git integration
  * evaluation & metrics

[2019-09-29 20:38] johannesjo opened #224 "Split up database into much smaller chunks"
The approach to save the data always on a feature level is limiting us very much. Better syncing and possible other adapters (#221) would benifit from this. The idea is that each entity (e.g. a task) gets their own entry.

I would be glad if anybody could share their experience with splitting up data for indexeddb in a similar fashion.

[2019-09-29 20:41] johannesjo opened #225 "General performance bottleneck search"
The app has grown quite a lot in functionality throughout the year. A general performance monitoring to identify areas which hinder a smoother user (forced redraws, data loading, etc.) would be a good thing.

[2019-09-30 10:57] Heart1010 opened #226 "Enabling Google Drive Sync gives me an error"
### Your Environment

* Version used: Web App
* Operating System and version: Win10
* Desktop Environment:
* Browser Name and version: Latest Chrome

### Expected Behavior
I've just found Super Productivity - great work!
When I want to use it in my browser there is no login. So this only works on that computer, correct?
But if I want to be able to see my tasks at work pc and at home pc how should

[2019-10-01 15:47] KonTy commented on #221
Haha a good reason to bump a major version of the app.

[2019-10-01 15:48] KonTy commented on #223
IMHO the app is already intuitive as it is and doesn't need any tour, but that's just me :)

[2019-10-01 15:54] KonTy commented on #224
Is this a precursor for creating different API adapters, like plugging it into MSTodo, Todoist apps? This would be so awesome. I'm just thinking about possibilities of plugging it into other ecosystems this would be so wild!!!! Todoist for example runs everywhere and MS Todo also runs premmy much everywhere. I'm thinking about things like Cortana/Siri/Hey Google integration, location based tasks,

[2019-10-01 15:59] KonTy commented on #225
Great idea, I haven't had per issues yet, but I can see why you would want to do that.

[2019-10-01 16:13] KonTy commented on #226
@johannesjo this brings up a good point have you been able to update the Windows Store app. I didn't get any Update notifications for the App since version 2.10.5 I believe from May 31st.

[2019-10-01 16:45] Ghoughpteighbteau commented on #216
arg. Sorry, I've wanted to get to this, but arch has updated to node V12 and its not building super-productivity right now. If I can work out which changes I need to make to get it building I'll submit a patch.

[2019-10-01 17:22] reinhart1010 opened #227 "Fix popup on mobile firefox"
Though installable as a PWA and Electron, It might be helpful to add a fullscreen toggle button on the app to enhance focus and avoid browser UI cluttering.

Personally, I am having an issue with using this in Firefox for Android in BlackBerry Q5 (BB10) that the Google Drive sync popup overfills the device viewport height which has been reduced by browser controls. (See screenshot)

![IMG_20191002

[2019-10-01 17:59] fiuzaB commented on #219
I'll take this, if that is alright.

[2019-10-01 19:36] fiuzaB commented on #219
Something like this ?

![like_this](https://user-images.githubusercontent.com/11810770/65994348-7957b180-e469-11e9-9fb5-40e52ddaffaf.PNG)

Or ( I like this one ):
![or_like_this](https://user-images.githubusercontent.com/11810770/65994390-8bd1eb00-e469-11e9-95a9-bd46ef2a7f9a.PNG)

[2019-10-01 19:41] KonTy commented on #227
wow that's a mouth full :) life is so complicated these days. I wanna go back to the day when Windows was the only thing we cared about.

[2019-10-01 19:43] johannesjo commented on #227
Thank you very much for opening this up! To be honest Firefox hasn't been a strong focus so far, as not too many people seem to use the wep app and those who do are likely to be using chrome followed by mobile chrome and safari. Nevertheless it might be good to have this fixed!

[2019-10-01 20:01] KonTy commented on #219
Personally for me looking at how the other Todo apps behave you are sort of expected to hit enter even on the phone, because even on the phone you are typing at this time and you have the keyboard up and there is an Enter key there. IMHO having an extra button adds unnecessary clutter, and it is just a matter of a learning curve to know that you have to hit enter.

If you still decided to add a bu

[2019-10-01 20:09] johannesjo commented on #219
@KonTy nice suggestion. Could you maybe open up a new issue about the short syntax? I probably wouldn't import the whole sugar.js lib. It's most of the time much more performant to code those things for the specific case at hand, but the date stuff is pretty nice!

@fiuzaB  Sorry, I think I misunderstood you. I thought you meant another button to show the add task bar (Shift+A or the + icon on the

[2019-10-01 20:14] johannesjo commented on #216
@Ghoughpteighbteau about this one? This is fixed I think, not released yet though. :)

[2019-10-01 20:17] johannesjo commented on #226
@Heart1010 I have a look at this. Thank you very much for reporting! Google changed some of their policies, so that's probably the reason why this appears.

[2019-10-01 20:19] fiuzaB commented on #219
Way better. I just checked Microsoft Todo :
![image](https://user-images.githubusercontent.com/11810770/65996974-dace4f00-e46e-11e9-961d-a2adcdd8f2a2.png) its way more classy.

No problem ! I'm using your app in a Windows machine and I'm used to hit buttons while working on Windows. So I tought if I clicked Ready To Work it would add my task to the queue :)

How about we close this task and if ppl

[2019-10-01 20:22] johannesjo commented on #219
@fiuzaB githubs issue template is pretty good now. So people should find it when they try to create a new one. I will add some more space to the read to work button. You're right that this a little confusing at the moment.

[2019-10-01 20:28] johannesjo commented on #223
I thought so too, but then I watched this video:
https://www.youtube.com/watch?v=6qG1Eg0MuSk&feature=youtu.be
:)

[2019-10-01 20:36] johannesjo opened #228 "Microsoft ToDo Integration"
While a complete sync might be impossible to pull off, as the MsTodos data model isn't capable of saving all the stuff Super Productivity does, it would be nice to make some lists syncable. The practical use case would be making your everyday general purpose to do list (Ms ToDo) available inside your working environment (Super Productivity).

Please upvote the issue if you want to see this happen.

[2019-10-01 20:39] johannesjo commented on #224
@KonTy probably not even though this might be a possibility. I opened up an issue for MsTodo #228.

[2019-10-01 21:38] KonTy commented on #219
Will do

[2019-10-01 21:45] KonTy opened #229 "Add natural language terms parsing for due dates"
### Your Environment

* Version used: 2.12
* Operating System and version: Windows 10
* Browser Name and version: App

It would be nice to add natural language terms processing to the app for due and reminder dates like Todoist does. It will save many clicks and also make the App much more geeker. Here are some of the examples that Todoist supports

What you type: | What Todoist understands:
-- |

[2019-10-01 22:05] KonTy commented on #223
I see your point but hey maybe that guy is not tech savvy? Actauly let me use this opportunity to praise your new UI!! Holy crap man now that you use a sidebar as opose to a drop down the app is even more intuitive as before. It is awesome, I really enjoy using it now, that sidebar/treeview made a huge difference. You made a lot of progress!!!! This app is making you more productive for sure. We s

[2019-10-01 22:08] KonTy commented on #228
Here is a STUPID IDEA you can store extra metadata in a JSON format in the comment field. I definitely wouldn't mind that! I'm sure some people would but this could be an optional flag. I know it could make an app slower but that metadata could be parsed on  lazy thread there is no need to real time processing we are not saving lifes here :)

[2019-10-01 22:11] Ghoughpteighbteau commented on #216
node-sass. seems the fix was to add that as a dependency. https://github.com/sass/node-sass/issues/2736
the dependency seems to be the angular build tools.
[code]

[2019-10-01 22:13] johannesjo commented on #228
Yes I had the same stupid thought ;) this could be an option. I'll think about it!

[2019-10-01 22:20] johannesjo commented on #219
@KonTy that really looks promising!

One request though: Could you maybe try to keep stuff more separated and focused on the issue titles and open up new issues for new subjects? I think it gets hard to follow for people which are looking for a solution described in the title. :D

For a less focused general discussion or just random ideas, I also opened up this spectrum chat:
https://spectrum.chat

[2019-10-01 22:24] johannesjo commented on #216
hehe. Yeah the build stuff can get messy...  Are you using npm or yarn?

[2019-10-01 22:25] Ghoughpteighbteau commented on #216
npm

[2019-10-01 22:27] johannesjo commented on #216
Might be related to that. I only have a yarn.lock but no package.lock. Also a good old clean install (deleting the node_modules folder and installing again), while normally not necessary, can sometimes fix these things.

[2019-10-01 22:29] Ghoughpteighbteau commented on #216
ahhhh. that might be it. Full pastebin of build failure here: https://pastebin.com/tdtzdasD

but I'll try removing the package-lock and see if that works.

[2019-10-01 22:32] johannesjo commented on #216
Good idea! Also v2.5.1 is already quite old now. The most recent published version is 2.12.3.

[2019-10-01 22:34] Ghoughpteighbteau commented on #216
2.5? that ... oh I see. another mistake. I forked the wrong AUR repository.

[2019-10-01 22:38] Ghoughpteighbteau commented on #216
OK. Thanks. Only thing left is this:
[code]
And it sounds like you've got that fixed.

[2019-10-01 22:41] johannesjo commented on #216
Yes. This should be fixed with the latest version.

[2019-10-02 05:56] Heart1010 commented on #226
@KonTy I tried it with the Web app, correct. There no google sync is possible (error above). Now I installed the github win setup exe and here I can enable Google Sync 👍
_(Last version in Windows Store here is also the old may release)_

![image](https://user-images.githubusercontent.com/1481680/66021201-1b1ee300-e4ea-11e9-978c-06771c1e179d.png)

[2019-10-02 15:33] KonTy commented on #219
Sorry about that. I didn't mean to randomize the thread. I just get too excited about the potential of this app. It is so close to being the *best* productivity/todo app out there.

[2019-10-02 15:37] KonTy commented on #226
Awesome I'm glad it worked just don't use the web app if possible, regular normal app gives you so much more freedom and more stable since more people are testing/using it.

[2019-10-02 16:18] KonTy opened #230 "Suggestion for a hamburger menu"
### Your Environment

* Version used: 2.12.3
* Operating System and version: Windows 10

### Expected Behavior
Hamburger menu symbol stays in the same place.

### Current Behavior
The menu symbol slides out with the project name. I spent good bit of time today trying to figure out how to hide the Navigation Menu. And just by accident pressed the 3 lines next to the project name and it worked. I wo

[2019-10-02 22:11] a4bits commented on #163
I very like this idea. It would be good also to make summary of accomplished tasks. I also work on many project daily - and I need sum hours of all of those projects to see how productive I was... It will be great add-on.

[2019-10-02 22:12] a4bits commented on #68
Thank you for this app! :-)

[2019-10-03 14:21] johannesjo commented on #219
@KonTy no worries :)

[2019-10-03 14:41] KonTy commented on #163
You do get that view already!!!! When you finish your day you get the stats, also in the left navigation pane there are a tabs called Metrics and Worklog that give you exactly that.

[2019-10-04 19:00] sunjam commented on #159
Perhaps @raimund-schluessler could advise.  They are a maintainer of [Nextcloud Tasks](https://github.com/nextcloud/tasks) CalDAV app.

[2019-10-05 11:43] bulutenesemre opened #232 "Categorization System"
Dear Developer,

I just figure out that awesome work for productivity. I just wanna give you advice; can you create categorization system for projects? Cause I want to use it during my business project and personal project it would be pretty good if I can do categorize somehow. Thank you.

[2019-10-05 14:53] johannesjo commented on #232
Hello! Thanks for opening this up. Currently I have no further plans to add a categorization of projects, because I think this might complicate things unecessarily for users who don't need such a feature. I am open for suggestions though.

[2019-10-05 17:10] tiotrom commented on #212
Unfortunately I cannot :( - I don't have the technical ability to do it nor the time. I am very sorry...

[2019-10-07 09:10] johannesjo commented on #226
The error message is unrelated to the web app this case. The error should be gone now.

[2019-10-07 12:20] a4bits commented on #163
What I see its metrics per project. Every project has its own separate metrics. Or I am reading it wrong way? It would be great to have one "master" tab for all active tasks from all projects that are not in backlog. there can be colored info for which project the task is for. I usually work on many projects and I also have tab called 'learning' for things i want and need to learn.

[2019-10-07 19:49] danielestevez opened #233 "Is there a way to disable JIRA integration now?"
I remember both JIRA and GH integrations could be disabled in previous versions but i cannot find the option now!

### Your Environment
* Version used: 2.12.3
* Operating System and version: Windows 10

[2019-10-07 20:07] johannesjo commented on #233
When pressing the three little dots next to a project on your list, you get to the project settings. You can disable jira from there.

[2019-10-07 20:10] danielestevez commented on #233
OMG., thanks, i couldn't see those!
I expected those options in the 'Edit Project' pencil icon at the "Manage Projects" option

[2019-10-07 20:10] #233 closed

[2019-10-07 20:15] johannesjo commented on #233
Yes this needs to be improved... :)

[2019-10-08 15:18] tonybounty opened #234 "tracking time and switching project"
### Your Environment
* Version used: 2.12.5 Chrome Desktop
* Operating System and version: Linux 5.0.0-31-generic x64
* Desktop Environment: Ubuntu 19.04
* Browser Name and version: Chromium Version 76.0.3809.100
* Pomodoro time setting is set

### Current Behavior
Tracking time doesn't stop when switching project. Button change from "PAUSE" icon to "PLAY", but the time continue to decrease.
![Pee

[2019-10-08 15:20] johannesjo commented on #234
Thanks for opening this up. With the current data architecture this is hard to implement. But I am working on a solution (#224).

[2019-10-09 11:23] generic-user opened #235 "Convert task to sub task and vice versa"
Hi,
As an addition to the issue mentioned here: #181

Could you implement a way of promoting the sub task to task without having to recreate it?
You could even go the other way round and:  **add tasks** to another **task** as _sub task_ when the task _does not have any sub tasks_ assigned?

## Thanks
Thanks for all the work you put into this repository. It really is a great application. 🎉

[2019-10-09 12:54] a4bits commented on #234
maybe it would be good to make it option in settings. i have something like organization task in project called other... when i switch then my organization task stops... :-)

[2019-10-09 17:14] Ghoughpteighbteau commented on #216
sorry to be a pest, which version should this be fixed in? I just tried building current master, past 2.13.0

[code]

[2019-10-09 17:18] johannesjo commented on #216
No worries. This truly weird though. Test run fine on my machine and they should on the ci. Just pushed a  new build to check: https://travis-ci.org/johannesjo/super-productivity/jobs/595727656

[2019-10-09 17:45] Ghoughpteighbteau commented on #216
By the by. I use chromium for the test env. CHROME_BIN is set to my chromium binary. And chromium is currently `Version 77.0.3865.90 (Official Build) Arch Linux (64-bit)` and not `
HeadlessChrome 72.0.3626 (Linux 0.0.0)`
Maybe something has changed?

[2019-10-09 17:49] johannesjo commented on #216
Locally my tests run with the same version:
[code]

Not sure what to make of this... :/

[2019-10-09 17:54] Ghoughpteighbteau commented on #216
arg... curse you node and your build consistency. let me try wiping my local repo out and building again.

I tried to build the dockerfile but it looks like I need a token for some kind of build server?

I'll try to get it to reproduce by making my own Dockerfile. I wonder if this is some kind of timezone shenanigans thing.

[2019-10-09 18:06] Ghoughpteighbteau commented on #216
TIMEZONE SHENANIGANS.

[2019-10-09 18:18] johannesjo commented on #216
I hate timezones! :)

To be honest I almost never use the docker image, so it hasn't received much love...

[2019-10-09 18:26] Ghoughpteighbteau commented on #216
sorry for the delay, for some reason my disk keeps locking up while I run this? Problems for future me I think.
This does reproduce the issue:
[code]

[2019-10-09 19:00] johannesjo commented on #216
Thanks for sharing! Interesting that it does that. That could explain the issue you were running into.

[2019-10-10 15:16] a4bits opened #236 "Crash / UnknownError: Internal error committing transaction."
### Your Environment
* Version used: Super Productivity 2.13.0 apt
* Operating System and version: Ubuntu 19.04
* Desktop Environment: Gnome

### Current Behavior
error that made me reload software

### Steps to Reproduce (for bugs)
really did nothing...

### Console Output
Error: Uncaught (in promise): UnknownError: Internal error committing transaction.
    at D (zone.js.pre-build-optimizer.js:8

[2019-10-10 15:30] johannesjo commented on #236
Thanks for reporting. By "Version used: Super Productivity 2.13.0 apt" do you mean AppImage?

[2019-10-10 15:35] a4bits commented on #236
i installed it by apt-get in ubuntu :-)

[2019-10-10 15:40] johannesjo commented on #236
Ahh. This isnt supported any more. Had a lot of troubles with bintray. Please use the snap version instead:
[code]

[2019-10-10 15:42] KonTy commented on #216
I have seen this issue on Windows as well. This happened where I want on vacation not finishing anything for a week obviously. Then SP wanted me to finish a day which was like a week ago. I would finish it but it would reappear. I tried many things and it would still reappear until I closed and reopened SP app, then everything was fixed.

[2019-10-10 15:45] a4bits commented on #236
will do, thanks :-)

[2019-10-10 15:48] johannesjo commented on #216
Hm, seems like I definitely should revisit this.

[2019-10-10 15:54] Ghoughpteighbteau commented on #216
:ghost: tiiimmeezooone shenanigans :ghost:

[2019-10-10 15:57] KonTy commented on #224
@johannesjo where is this problem at is it on the DB level or is this on the View/Model level? I'm thinking about like normal relational DB like mySQL or SQLite. This would be such a simple schema.
Project->Task->Subtask. And each of those would have attributes. Like Tags, Dates, TimeSpent etc. Then is SQL like it would be so simple to query on any of those fields and get all of the tasks with a t

[2019-10-10 15:58] johannesjo commented on #224
SQLite won't work on the web, so it's not an option.

[2019-10-10 16:07] KonTy commented on #224
Ok I didn't know Web was a requirement for some reason I though you are keeping it as an Electron App.

[2019-10-10 16:33] johannesjo commented on #236
And the error occurs there?

[2019-10-10 18:38] a4bits commented on #236
Error occurred only once since I installed it like week ago. With error i gave. I was working on some code using Firefox and possibly i used console shortcut when Super Productivity was focused. I assume that but I am not sure. I just saw browser web developer tools on right side of Super Productivity window from where I got this error I pasted in this ticket. Therefore I assume it may be the case

[2019-10-10 20:38] johannesjo commented on #236
Sorry for the confusion. It's a new "feature". Because issues posted here often miss the proper console output I figured that I might just open the console automatically once a critical error occurs.

Regarding your issue: I've a suspicion what might cause this, though I am not yet able to reproduce it. Please let me know if it occurs again for you.

[2019-10-10 20:49] KonTy opened #237 "Start up perf"
Hey I noticed with the latest versions of SP a huge spike in the startup times. It used to launch almost instantaneously but latest version take 7-8 seconds to launch on my 12 core Xeon machine.

Do you have a way to capture a perf trace? I'd like to debug this a bit.

[2019-10-11 00:27] johannesjo commented on #237
Yes there is at least for the web app part of the application. You can use the chrome dev tools for this:
https://developers.google.com/web/tools/chrome-devtools

For the initial load time of the electron layer I am not sure (maybe you can google for that). Might be because I updated electron. That should normally mean that things get faster, but maybe not this time. Personally I haven't noticed a

[2019-10-11 16:00] jeensg opened #238 "Crash on changing project"
### Your Environment
* Version used: deb 2.13.0
* Operating System and version: Ubuntu 19.04
* Desktop Environment: xfce

### Expected Behavior
When I change a project, it should appear, although it is empty.

### Current Behavior
When I change to an empty project, App crashes with TypeError.

### Steps to Reproduce (for bugs)
1. Start App
2. Change into empty project.

### Console Output
`TypeErr

[2019-10-11 16:25] johannesjo commented on #238
Hey thanks for reporting. I am unable to reproduce the issue. Could you maybe reload the page page with an open console (Ctrl+Shift+i) and provide me with the log there? Also please check if you if you really have installed 2.13.0. You can look it up by switching to the global settings (settings button in the bottom left of the menu and scrolling down  to Super Productivity <some version nr>.

[2019-10-11 17:19] jeensg commented on #238
Sure :-) Version is correct, even made a screenshot now.
If I'm creating a new project, it works, which is empty too.
About the emptiness I'm only ure about 1 project. It happens to exactly 2 of all of my list and I can't state if the second one was empty or not. At least all the others still work.
I added another screenshot of the error and here is the log of open console:
`Persistent store grant

[2019-10-11 17:21] jeensg commented on #238
Sorry, missed to attach the files.
![Error](https://user-images.githubusercontent.com/24763877/66671441-a58ee180-ec64-11e9-9583-e688f5d697e3.png)
![2 13 0](https://user-images.githubusercontent.com/24763877/66671443-a6277800-ec64-11e9-8795-3976e6ffb19c.png)

[2019-10-11 17:36] johannesjo commented on #238
I think I found a fix. Thank you very much for your help!

[2019-10-11 17:39] jeensg commented on #238
Thank you even more :p

[2019-10-11 17:41] johannesjo commented on #238
I am closing this. Will make a new release shortly. Please let me know if the issue persists for you.

[2019-10-11 17:41] #238 closed

[2019-10-13 22:50] johannesjo commented on #163
So I have given this some thought lately. I think I have a rough technical concept and even a path for migration that should work. I'm still having hard time to figure this out. One of the things I like about the app, that it gives my day some structure and that it gives it a certain endpoint with the daily summary. I'm really not sure how to put this together with a shared task list. Personally I

[2019-10-14 06:46] mmphego opened #239 "Opens up multiple black windows and throws a snap error"
This started with the new update

On launch it opens up multiple blank windows and upon pomodoro start or task completion it throws out the error, See snapshot below

![Screenshot_2019-10-14_08-42-09](https://user-images.githubusercontent.com/7910856/66733120-c753b880-ee5e-11e9-9835-9658a7d05572.png)

Version: 2.13.0

snap --version
[code]

[2019-10-14 13:11] johannesjo commented on #239
This should be fixed with 2.13.2 and should only occur in 2.13.0 if google drive sync is enabled but fails for some reason. Please let me know if this isn't the case for you.

[2019-10-14 13:34] kirawrath commented on #217
Hello Johannes,
snap is not allowing me to keep reverting to an older version, now I am forced to migrate my data.
I have tried your steps (which was essentially running `~/snap/superproductivity$ cp -r ./352/.config/superProductivity/backups 424/.config/superProductivity/`, however nothing changed.

I do have the backup files, and the data there seems fine, however I can't make the new version to

[2019-10-14 13:37] johannesjo commented on #217
You should be able to import the backup file under settings Import/Export. This should normally work.

[2019-10-14 13:42] kirawrath commented on #217
In my earlier comments I mentioned that this feature got broken with the update, the applications crashes when I hit Import or Export.

[2019-10-14 13:55] johannesjo commented on #217
I would try the following:
1. backup complete `~/.config/superProductivity` folder just in case
2. Keep the most recent file from  `~/.config/superProductivity/backups` at hand
3. Delete app completely (including `~/.config/superProductivity`) and do a fresh install
4. Try to use the import functionality again with the most recent backup
5. If this fails try one of the earlier ones

If all of this

[2019-10-14 14:04] kirawrath commented on #217
I followed your steps and now it works!
Maybe the trick was to copy the whole `superProductivity` rather than just the backup folder.
Thanks.

[2019-10-14 14:05] johannesjo commented on #217
Glad that it works now!

[2019-10-14 14:06] #217 closed

[2019-10-14 21:08] jeensg commented on #238
Hey, with 2.13.2 it's gone. Since the projects weren't empty at the end, you seem to have fixed another issue than I was thinking of :-D thanks anyway!

[2019-10-14 23:42] netsatan commented on #68
Thank you for making this! Great job!

[2019-10-16 11:15] a4bits commented on #163
maybe something like that...
where projects have its submenu. and there is on top "TODAY", and on right side there are written for which project task is assigned.

![super-productivity-notes](https://user-images.githubusercontent.com/40560367/66914299-ccf3fe80-f016-11e9-822a-8dc3ed462302.jpg)

[2019-10-16 16:13] KonTy commented on #163
I agree this is a very big thing that is important to understand. Here is a scenario that I ran into and how my Microsoft Todo is unitized.

I have big areas and I used Lists for them for example

- Work <-- this is a list
-- Big Data <-- this is a project
--- follow up with Johan <-- task
---- sub tasks for complex tasks
---- sub tasks for complex tasks
--- build a database <-- task
--- so on
--

[2019-10-16 17:17] johannesjo commented on #163
Thank you very much for your input. It's very helpful to me! I like the idea of converting projects basically to tags. It's probably the best approach to go.

The problem is that this would mean, that I would have to rewrite and re-conceptualize *everything*, including:

1. The task model
2. The project model
3. Persistence
4. The Jira & Git Integration
5. Daily summary
6. Metrics
7. Data export/i

[2019-10-16 17:27] a4bits commented on #163
Maybe we could help in some way in coding?

I never did app for gnome/linux desktop, etc. But it seems like HTML/CSS/JS and some other things...

But this would require some tasks to be opened, and if someone feels enough strong, could take the task :-)

[2019-10-16 17:39] johannesjo commented on #163
@a4bits Thank you! I experiment with the basics and get back to you.

[2019-10-16 18:29] KonTy commented on #163
I wish I could I'm like Johan need to earn money and don't have a lot of time for anything extra :(

[2019-10-16 18:37] KonTy commented on #163
I totally get it man, I know *EXACTLY* how it is. I'm actually shocked at times how productive you are at this. Recent changes that you've implemented like the side menu etc. are game changers already.

As far as experimenting. My suggestion is that create a new branch for v2 that way development could happen in parallel. Another suggestion is to stop taking in new features into v1 work only on bu

[2019-10-16 19:11] KonTy commented on #163
Wanna start a new project in a new repo? Like just simple pull in all of the libraries don't have any fancy UI, just a blank canvas where we could start experimenting with databases? I would do that but I've never done web development don't know where to start.

Basically here is my suggestion:
1. Create new repo
2. Create new project with all the dependencies to be able to build an Electron app
3

[2019-10-17 13:03] mmphego commented on #239
Resolved with the latest version, had to reinstall.

Thanks for the great app, it's making a difference.

[2019-10-17 13:03] #239 closed

[2019-10-18 13:52] johannesjo commented on #226
Super vielen Dank. Ich habe die Nachricht angepasst. Das mit dem "Invalid Date" sollte nach einmaligem Update nicht mehr auftauchen.

[2019-10-19 18:47] serovar opened #241 "Feature request: Pomodoro timer tray indicator"
### Expected Behavior
When the pomodoro timer is used, it would be useful to have a tray indicator that showed the remaining time, and possibly would permit to control the timer itself (playing/pausing the timer, stopping it and skipping the session, like you can do from the main window).

### Current Behavior
When using the app we have a not very useful tray icon with the static tick symbol.

[2019-10-19 21:10] johannesjo commented on #241
Hey there! Thanks for the suggestion. This was implemented at one point through a gnome shell extension. I'll try to get it running again!

[2019-10-19 21:42] johannesjo opened #243 "Improve translations"
Because they suck :)

[2019-10-19 21:48] serovar commented on #241
Hopefully it could work with other DEs.

[2019-10-22 06:33] AtjonTV commented on #224
Then how about LevelDB?

As IndexedDB is based on LevelDB and IndexedDB is inside your Browser, you can have support for both .. (When you open the IndexedDB folder of the Electron version or of a Browser, you can see a `.leveldb` folder.)

Using LevelDB would work in Electron, in Browser and on Server.

You just have to build a data structure that likes to be inside the key-value store.

The mult

[2019-10-22 17:21] johannesjo commented on #224
@AtjonTV thanks for the suggestion! I'll give it a try!

[2019-10-24 16:58] KonTy commented on #224
Why do you say that SQLite I deprecated? SQLite3 is alive and well you don't have to use WebSQL. In fact it is recommended over IndexedDB for electron apps, because it is a true database and not a keyvalue store.

https://medium.com/free-code-camp/creating-an-electron-app-using-angular-and-sqlite3-24ca7d892810
http://kripken.github.io/sql.js/documentation/#http://kripken.github.io/sql.js/documenta

[2019-10-24 17:52] AtjonTV commented on #224
@KonTy I did not say that SQLite is deprecated, I said that WebSQL is.

Yes, using SQLite in Electron may be recommended, but you cant use it in the browser.

IE 11, Safari 13 and **all versions of Firefox** do **NOT** support WebSQL.

I dont think that writing a database layer, that on Electron uses SQLite and in browser uses IndexedDB is worth the effort. (One is SQL one is Key-Value)

Using Ind

[2019-10-25 05:17] rubensfredrick commented on #187
Hi there,
I was trying to find the recurring option on a task. Couldn't find it. You say it's already implemented ? I need to set a task so it reoccurs bi weekly

I am using the app in linux : Super Productivity 2.13.3

[2019-10-25 10:36] vvchebotar opened #249 "Error during lazy work"
### Your Environment

* Version used:
* Operating System and version:
* Desktop Environment:
* Browser Name and version:

### Expected Behavior

### Current Behavior

### Steps to Reproduce (for bugs)

1.
2.
3.
4.

### Console Output

### Error Log (Desktop only)

[2019-10-25 16:03] KonTy commented on #224
First of all thanks for your reply I think we are having a healthy discussion here. I couple of thoughts.

If some technologies are not supported in some browsers I don't see a problem of restricting it to a couple of Modern browsers that 90% of people use anyway.

Who cares? 90%+ of people run Chrome. We can restrict to those browsers that are supported. BTW I'm just making a statement I'm not sa

[2019-10-25 16:08] KonTy commented on #187
Have you looked under "...\Advanced" in the menu?

![Reoccuring](https://user-images.githubusercontent.com/9524513/67586656-fee81d80-f706-11e9-9c69-aecdbf982846.JPG)

[2019-10-26 14:05] johannesjo commented on #224
Thank you everybody for your input. Currently I'm experimenting with gunjs which would lead to a completely different approach. Might not be the best fit, but it would offer very interesting possibilities and it's super fast. Nevertheless it's probably more realistic that I will end up implementing indexeddb, possibly with a wrapper like dexie.

While I would like using  a relational database, it'

[2019-10-26 14:10] johannesjo commented on #187
@rubensfredrick unfortunately currently super productivity only supports repeating tasks on a weekly basis.

[2019-10-26 14:13] johannesjo commented on #249
What kind of error are you getting?

[2019-10-26 21:26] mgrojo commented on #236
The same has happened to me. I was compiling my application and the machine was lagging. Then suddenly Super Productivity raised this error and terminated.

[2019-10-28 10:29] yoka1985 commented on #236
The same has happened to me too with the same environment. I've just left it for a few minutes and came back to get the same console output.

[2019-10-29 11:07] alexriabtsev commented on #163
+1 vote for Today view as I have dozen of projects to balance between every day and having one viewpoint for all my tasks would be a gamechanger!

And thanks a lot for super-productivity - I really LOVE it, Johannes!

[2019-10-29 16:23] KonTy commented on #224
@johannesjo I've been looking as well, I'm still not sure why you guys are not even considering SQLite3 I think there is an article or something that I'm missing. Anyway I was looking for other easy alternatives and a lot of people here seem to like PouchDB. I don't know if it was ever considered by you, But it seems like it's very light and easy to use. https://pouchdb.com/

Interesting article w

[2019-10-29 17:01] AtjonTV commented on #224
After a quick read of the Docs from PouchDB, I would say: use it.

It is a very nice wrapper [around IndexedDB](https://pouchdb.com/faq.html#data_limits), so using it will support [all the major browsers](https://caniuse.com/#search=IndexedDB), and it already handles LevelDB when used with NodeJS.

It also allows syncing to CouchDB which is interesting for Server use :D (which is still the reason

[2019-10-29 17:15] johannesjo commented on #224
Pouch and couch are unfortunately a little bit show.

I wrote a little article on dev.to about my search so far:
https://dev.to/johannesjo/choosing-the-right-frontend-database-for-a-single-page-application-3i0

[2019-10-30 17:22] KonTy commented on #224
I like your article quite a bit especially I like your requirements list and priorities very much! I agree that speed should be at the top.

Also I still didn't know why SQLite is not a consideration (I think I'm missing some big piece and no one is telling me what it is :) ), I know you said it won't work on the web. But I think the benefits outweigh this. I think the race to support many differe

[2019-10-30 18:03] johannesjo commented on #224
@KonTy I am working for a lot of different companies and sometimes it's not possible to use my own computer and to install software by myself. For those case web support is essential so there is no way I am gonna drop it. Furthermore currently there is no mobile app so to run the app on my phone I can use the web version as well. Also it makes things easier, as the web layer should run in the same

[2019-10-31 20:31] nathenapse opened #252 "Jira integration is not working on mac"
### Your Environment

* Version used: 2.13.6
* Operating System and version: macOS Catalina

 Expected Behavior
So I wanted to integrate Jira so I added https://atlassian.net as URL email and password then when I test the connection I see this error
<img width="786" alt="Screen Shot 2019-10-31 at 11 20 21 PM" src="https://user-images.githubusercontent.com/6860642/67983352-908aea00-fc35-11e9-8254-3

[2019-11-01 15:53] marcolussetti opened #253 "JIRA Integration not handling ports correctly"
### Your Environment

* Version used: 2.13.6 (Setup EXE)
* Operating System and version: Windows 10
* Desktop Environment: N/A
* Browser Name and version: N/A

### Expected Behavior

The app connects to the specified JIRA endpoint with the specified credentials.

### Current Behavior

The uri is manupulated in a way as to make it impossible for the connection to be affected.

Using the following t

[2019-11-01 15:54] marcolussetti commented on #253
I have tested with a real endpoint that this problem occurrs, and that if the uri is formatted as provided by the user the endpoint is accessible.

[2019-11-01 16:35] johannesjo commented on #253
Thanks for reporting. I'll look into it!

[2019-11-01 17:08] johannesjo commented on #253
This should hopefully be fixed with the next release. Please let me know if it isn't.

[2019-11-01 17:09] johannesjo commented on #252
Thanks for reporting. There seems to be some sort of inconsistency in Jira's api responses. This should be fixed with the next release.

[2019-11-01 17:09] #252 closed

[2019-11-01 17:10] #253 closed

[2019-11-06 07:54] Henry-Keys opened #256 "Critical Error After Sleeping Computer"
### Environment

* Version used: 2.13.6 snap
* Operating System and version: Elementary OS 5.0 Juno
* Desktop Environment: Pantheon

### Current Behavior
The stacktrace below popped up probably after i suspended the computer (sleep instead of shutdown). I tried to restart the application and still happens.

### Steps to Reproduce (for bugs)

1. Create a TODO List
2. Finish some tasks (but not all

[2019-11-06 14:36] johannesjo commented on #256
Thank you very much for reporting. I'll look into it!

[2019-11-07 22:39] johannesjo commented on #256
May I ask what language you are using?

[2019-11-08 16:44] Henry-Keys commented on #256
System language: English (US)
Keyboard language: English (US) and Portuguese (PT)

[2019-11-08 16:45] Henry-Keys commented on #256
I can't replicate the bug unfortunately, but i'll keep trying and keep you posted.

[2019-11-08 16:46] johannesjo commented on #256
Hm weird. With English it shouldn't be an issue. I released a new version. Please let me know if the issue reoccurs with that one.

[2019-11-09 00:06] johannesjo commented on #163
I wrote down how this could work (on a conceptional level). Please let me know what you think about it:

### Shared Task List (My Day / Today)
* Is a non deletable pseudo project -> has its own theme, can have tasks of its own, has its own metrics, notes and bookmarks
* Make it a list that can be manually filled from all other projects
* maybe add a button to import all tasks not in the backlog fr

[2019-11-09 12:37] alexriabtsev commented on #163
that should be great, @johannesjo!

[2019-11-20 12:49] dedkov-21vek opened #257 "Падение интерфейса"
### Your Environment

* Version used:
* Operating System and version:
* Desktop Environment:
* Browser Name and version:

### Expected Behavior

### Current Behavior

### Steps to Reproduce (for bugs)

1.
2.
3.
4.

### Console Output

### Error Log (Desktop only)

[2019-11-20 13:45] alexriabtsev commented on #257
Что имелось в виду под падением интерфейса?

[2019-11-20 13:52] johannesjo commented on #257
I'm very sorry but I don't speak any Russian. What API are we talking about?

[2019-11-20 13:54] alexriabtsev commented on #163
any updates on this feature, @johannesjo?

[2019-11-20 14:00] johannesjo commented on #163
It's a big feature and currently I have only a limited amount of time. I probably won't get this done before Christmas.

[2019-11-20 21:30] alexriabtsev commented on #257
@johannesjo @dedkov-21vek said that interface is broken but no details given

[2019-11-20 21:31] alexriabtsev commented on #163
I do hope that you'll be able to do it before NY ;)

[2019-11-21 11:09] johannesjo commented on #163
@alexriabtsev me too :D

[2019-11-22 05:04] mmphego commented on #48
@johannesjo could you reopen the issue, I find it hard to keep track of my google calender and having it integrated to the app would be a great plus as I will be able to track which activity or project I need to focus on at specific times.

[2019-11-23 15:27] johannesjo commented on #48
@mmphego could you give a a little more detailed example how this should work?

[2019-11-26 06:27] dedkov-21vek commented on #257
![image](https://user-images.githubusercontent.com/57434463/69604575-e97c5100-102e-11ea-8620-d775528229c1.png)

[2019-11-26 07:34] dedkov-21vek commented on #257
Snap! A critical error occurred...
! Please Report !

TypeError: Cannot read property 'id' of null
TypeError: Cannot read property 'id' of null at t.project (file:///snap/superproductivity/471/resources/app.asar/dist/main.e0c8502e0c032e042ef3.js:1:3570658) at t._next (file:///snap/superproductivity/471/resources/app.asar/dist/main.e0c8502e0c032e042ef3.js:1:58263) at t.next (file:///snap/superprodu

[2019-11-26 08:04] dedkov-21vek commented on #257
А вы - бюрократ)

[2019-11-26 10:01] gartorware opened #258 "Error while login to google drive from snap version"
### Your Environment

* Version used: snap 2.13.9
* Operating System and version: Ubuntu 19.10
* Desktop Environment: gnome-shell
* Browser Name and version: --

### Expected Behavior
Google drive sync should allow login

### Current Behavior
Login to my google account get rejected because of not supported browser. Google message:

Try using a different browser.

Just tried the webapp version and

[2019-11-26 16:00] johannesjo commented on #257
Could you maybe provide me with the version you are using? You can find it on the settings page at the very bottom. I thought I fixed this in the latest version.

[2019-11-26 16:00] johannesjo commented on #258
Thanks for reporting. I will check this this Friday!

[2019-11-26 16:21] nonMystery opened #259 "Break Reminder is not locking PC screen. Is it right?"
Fedora 31, x64, Plasma, X11.

When I set reminder to 1min, for test porpose, it doesnt lock PC screen, it just show a notification. Is it right? It not supposed to lock PC screen for a while til timer gets the end?

[2019-11-26 16:23] johannesjo commented on #259
The screen doesn't lock right away. It gives you some 30 seconds to react to the banner popping up. Does it still not show up, after this delay?

[2019-11-26 16:44] nonMystery commented on #259
@johannesjo If i dont interact with  the popup, it still, but screen does not get locked. When I interact with the popup, both option, it disappear and reappear after some time. But the screen still unlocked.

[2019-11-26 17:15] johannesjo commented on #259
Thank you! I will check this!

[2019-11-26 17:50] nonMystery commented on #259
Ok. You wrote a really good software! I really thank you! You software is F. amazing!

[2019-11-26 17:51] johannesjo commented on #259
@nonMystery that's great to hear. Please let me know, if you have any suggestions to improve it :)

[2019-11-26 20:11] microreset opened #260 "TypeError: Cannot read property 'timeEstimate' of undefined"
### Your Environment

* Version used:
* Operating System and version: Ubuntu 19.10
* Desktop Environment: Gnome Shell
* Browser Name and version: I use the snap version
(superproductivity     2.13.9                      471       stable    johannesjo    -)

### Expected Behavior
I want to add a task from Jira, typing the name of the issue and when I press enter it should add the highlighted task i

[2019-11-27 08:36] johannesjo commented on #260
Thanks for reporting. Did you by any chance add the task before and delete it somehow? What would also be very helpful, is if you could open up the console to post the error text there, which normally should be mapped to the sources (main.e0c8502e0c032e042ef3.js is a bundled and minified file).

[2019-11-27 18:21] microreset commented on #260
Hi,
Thanks for your answer.

It's a task I already worked on before and checked as "done" (and updated the status to resolved in Jira at the same time). I don't remember deleting it but maybe when I closed the day it got flushed automatically?

Here's the log, I hope this is what you were looking for.
[console.log](https://github.com/johannesjo/super-productivity/files/3898292/console.log)

[2019-11-29 13:46] johannesjo commented on #258
I just checked in on a vm with a fresh install. No such issue for me. Don't know... Can anybody else reproduce this?

[2019-11-29 17:38] johannesjo commented on #260
Ah exactly! Thank you very much!

[2019-11-29 18:42] johannesjo commented on #260
Thank you very much for your help! The issue is resolved and I will provide a new release shortly

[2019-11-29 18:50] johannesjo commented on #257
btw. thank you @alexriabtsev for translating :)

[2019-11-29 19:30] microreset commented on #260
Amazing, thank you!

[2019-11-29 23:38] johannesjo commented on #260
New release is out. Please me know if the issue is resolved now.

[2019-11-30 08:26] gartorware commented on #258
Weird, I can reproduce this every time. I have been reading. It seems like google blocks oauth requests made via embedded browsers. Is google oauth popup opening inside electron webview for you? Maybe this is related not to the app itself but to OS. I'm going to try it in windows and report back. (windows version is based on electron as well, right?)

[2019-11-30 08:38] gartorware commented on #258
Just checked it. Same error on windows version. But... I have then tried with another google account and it's working! So is something related to google account...

I'm going to check google security preferences in both accounts to find differences.

[2019-11-30 10:00] gartorware commented on #258
Ok, managed to get it working changing the user agent.

Steps to get it working:
1. Open login popup (clicking in Login button from Settings)
2. Inside that popup open Developer Tools (using the header toolbar)
3. Click on the menu button with three vertical dots
4. In the menu, choose More tools - Network conditions
5. In User agent section, disable the option Select automatically and select Chro

[2019-11-30 15:46] nonMystery commented on #259
@johannesjo It works really well on the newest version! Thanks! Have a great weekend!

[2019-11-30 15:46] #259 closed

[2019-11-30 16:09] johannesjo commented on #258
Thank you very much for digging into this! That's very helpful and I am quite happy that I didn't have to do all this research :)

I will try setting the user agent to desktop chrome for the popup. Hopefully this fixes the issue.

[2019-11-30 19:10] alexriabtsev commented on #257
You are welcome :)

On Fri, 29 Nov 2019 at 20:50, Johannes Millan <notifications@github.com>
wrote:

--

----------------------
Checking GMail @9:30-9:55 & 18:30-18:55
http://about.me/alexriabtsev/

[2019-12-02 09:30] khartahk opened #261 "Error opening app after adding markdown comment to task"
### Your Environment
* Version used: snap superproductivity  2.13.12
* Operating System and version: Arch Linux, kernel  5.3.10-arch1-1
* Desktop Environment: gnome shell

### Expected Behavior
- app should open without an error

### Current Behavior
- opening the app causes an error

### Steps to Reproduce (for bugs)
1. add markdown comment on task
2. app crashes
3. opening the app crashes it eve

[2019-12-02 20:27] johannesjo commented on #261
Thank you very much for reporting! I look into it!

[2019-12-02 21:11] khartahk commented on #261
Unfortunately I've already restored a previous version of the data that I have backed up using G Drive and the error is gone for now. I'll try adding markdown again and try to recreate the issue. If I get the error I'll try to get the console opened.

[2019-12-02 22:02] johannesjo commented on #261
That would be great!

[2019-12-02 23:53] microreset commented on #260
Hi @johannesjo,

Good news, it seems to work.

Thank you very much!

[2019-12-02 23:53] #260 closed

[2019-12-03 09:57] nigelsim commented on #261
This is the stacktrace from the console that I get.:
[code]

The ticket that is causing the issue is one that I created in a Kanban board with just a title. A sanatised version of the task object is as follows:
[code]

[2019-12-03 11:04] johannesjo commented on #261
Much better! Thank you very much! I look into it!

[2019-12-03 14:11] khartahk commented on #261
This just happened to me again after I edited a tasks title. I've attached the log file from the console.
[superproductivity.log](https://github.com/johannesjo/super-productivity/files/3917019/superproductivity.log)

[2019-12-03 18:16] johannesjo commented on #261
Thanks to your help, I was able to locate the issue and to fix it. It will be out with the next release!

[2019-12-04 10:09] gartorware commented on #258
Hi,
I can confirm that v2.13.14 is working now with my account.

Thank you very much!

[2019-12-04 10:09] #258 closed

[2019-12-04 10:13] johannesjo commented on #258
That's great! Thank you very much!

[2019-12-04 12:34] zajca commented on #212
Hi there is guide for publishing packages to aur https://wiki.archlinux.org/index.php/AUR_submission_guidelines
in the end it's just git repository.

Here is simple PKGBUILD file which I created. It will use deb package release. I did not try depends since I have lot of stuff in my PC and did not time to test this (it works on my computer, you know :D ).
[code]

[2019-12-05 15:10] tiotrom commented on #212
@zajca Nice. Would you be able to post it to AUR?

[2019-12-06 17:20] hakimovic opened #262 "bookmark command not working"
### Your Environment
* Version used: deb/2.13.15
* Operating System and version: Ubuntu 18.04
* Desktop Environment: Gnome

### Expected Behavior
I add a bookmark select *Command (custom shell command)* type `code` in the *command* input click save, click the new bookmark and a new window of *visual studio code* is launched

### Current Behavior
When I click the bookmark, a snackbar comes up sayin

[2019-12-06 17:28] johannesjo commented on #262
Thanks for reporting. The error is due to the command you're trying to execute does throw an empty error (or the error is not handled correctly inside the app). May I ask what the command is you're trying to execute?

[2019-12-06 17:41] hakimovic commented on #262
it's `code`, am I doing something wrong?

thank you for replying! and great projet by the way !!!

![screenshot_Selection_20191206	(007)](https://user-images.githubusercontent.com/16239103/70343585-eddb1200-1857-11ea-99de-5ddea155a03b.png)

[2019-12-07 12:12] johannesjo commented on #262
Not sure :)
I just tried with `notify-send "Hooooraaaayyy."` and it worked just fine. Is `code` an alias for something? Aliases won't work (I suppose) because `.bashrc` etc. won't be loaded when executing scripts outside a terminal.

[2019-12-07 12:42] johannesjo commented on #212
Thank you @zajca. I look into it once I have a little bit more time on my hands (Makes sense to include this directly into the build process). Probably next weekend or so.

[2019-12-08 22:13] josh83abc commented on #258
Hey guys! I am using NWJS and I have the same problem as this post. I was not able to fix it with userAgent though...

[2019-12-09 11:08] hakimovic commented on #262
hmmm I don't uderstand, when I launch a terminal I type `/bin/sh` then `notify-send "hello"` it works, but when I launch superproductivity from terminal I add a bookmark with the same command, it doesn't work and I have this error message:
[code]
I also tryed `bash -c 'notify-send "hello" '` and got the same result.
Any Idea? Thank you

[2019-12-09 14:58] johannesjo commented on #262
That's puzzling indeed. Always confuses me what context bash scripts have which are run from other non terminal programs.

What you might try is this in a terminal:
[code]

And use that path instead. The program might simply not be in the path. On my system I am doing something like this in the `~/.profile`
[code]
This might be, why I have no problems with running `notify-send`.

[2019-12-13 08:24] sasogu opened #263 "Snap! A critical error occurred..."
### Your Environment

* Version used:
* Operating System and version:
* Desktop Environment:
* Browser Name and version:

### Expected Behavior

### Current Behavior

### Steps to Reproduce (for bugs)

1.
2.
3.
4.

### Console Output

### Error Log (Desktop only)

[2019-12-13 14:46] johannesjo commented on #263
@sasogu thanks for reporting! Could you maybe provide a little bit more info?

[2019-12-14 14:25] johannesjo commented on #212
Wow I am already pretty annoyed by this. I can't get past their ridiculous captcha, because apparently my output from `LC_ALL=C pacman -V|sed -r 's#[0-9]+#fca#g'|md5sum|cut -c1-6` is not what they expect, most likely due to the output of `pacman -V` being different from what they expect.

[2019-12-16 18:26] Jaimies commented on #257
The same issue occurs repeatedly, but the app seems to be able to continue working after the error message shows up.

Version: 2.3.14
Operating system: Ubuntu 18.04.3
Desktop environment: Gnome

[2019-12-16 19:03] johannesjo commented on #257
@Jaimies could you maybe try the new release? There are some changes that might fix this.

[2019-12-16 20:16] Jaimies commented on #257
@johannesjo It seems like the app has updated to version 3.0.3 at the next startup after crash.
BTW, the new UI looks awesome!

[2019-12-17 10:47] Mindstormer619 opened #264 "Cannot hover and select skip and stop timer"
With the Pomodoro timer setting enabled, on the latest stable version I can no longer hover over the timer Play (▶️) button and select the Stop (⏹️) or Skip buttons. Previously they would remain on screen for a few seconds before collapsing back into the Play button, but now they collapse back _immediately_ upon moving the mouse away from the Play button.

- **Version:** 3.0.1
- **Variant:** PWA o

[2019-12-17 15:56] korzol opened #265 "Due date and multilevel subtasks"
Hello
Is it possible to implement an option to set due date-time per task.
Also multilevel sub tasks I believe would be great feature
Thank you for this great app

[2019-12-17 16:22] Jaimies commented on #264
Same issue here:
* **Version**: 3.0.3
* **Operating system** : Ubuntu 18.04.3
* **Desktop environment**: Gnome

[2019-12-17 16:27] johannesjo commented on #264
Thanks for reporting! I look into it!

[2019-12-17 18:08] johannesjo commented on #265
Glad that you like the app!
There already is the function to add reminders to task, you can use them like a due date, if you like. Multilevel subtasks are not on the list. Personally I believe that they defeats the purpose of splitting your work into smaller chunks possibly leaving you instead working on some huge mega tasks. Also there are several problems when it comes to the UI, but there are a

[2019-12-18 10:04] johannesjo commented on #264
Should be fixed with 3.0.4

[2019-12-18 11:11] Mindstormer619 commented on #264
Can confirm. Thanks! :smile:

[2019-12-18 11:12] #264 closed

[2019-12-18 11:15] Mindstormer619 commented on #265
Adding on to the suggestion, I like creating a new project to track those megatasks that have lots of tasks under them. Haven't needed more than one level of nesting when that's in place.

[2019-12-18 17:49] Jaimies commented on #257
The issue still occurs in 3.0.3 and seems to be a side effect of upgrading Super Productivity. The issue scenario is something like this:
1. The app version is **3.0.3**
2. The app crashes
3. On the next startup, the app version is **3.0.4**

[2019-12-18 20:25] johannesjo commented on #257
@Jaimies was the update taking place in the background while running the app?

[2019-12-18 20:43] Jaimies commented on #257
@johannesjo I guess it wasn't. I haven't actually upgraded the app, seems like the upgrade happened on its own

[2019-12-19 11:24] tiagogala opened #267 "[Feature Request] Make background color optional"
### Current Behavior

Currently, when selecting a Primary Color for a project, some colors will keep the background of the application white, but others will give it some colorisation with a fade effect.

I find the background color very distracting and out of line from what I expect in an application. I end up using very pale colors as the project's primary color to avoid this issue.

### Expecte

[2019-12-19 14:13] theCalcaholic opened #268 "Missing "add sub-task" button"
### Your Environment
* Version used: 3.0.5 snap
* Operating System and version: Ubuntu 18.04 LTS
* Desktop Environment: Gnome

I totally dig the new task menu (for scheduling tasks, editing notes and attachments and setting up repeatable tasks :heart: ). However, I can't find a way to add sub tasks anymore. Is this on purpose?

[2019-12-20 17:18] astoeriko commented on #268
You can right-click on the task in the main task list. Then there should be an option "Add sub task".
Or you can still use keyboard shortcuts ("a" by default).

I was wondering how to delete a task after the change in the task menu until I found that there is a menu popping up when you right click tasks. ;-)

[2019-12-22 10:55] AdsonBatista opened #269 "Snap! A critical error occurred..."
Snap! A critical error occurred...

! Please Report !

TypeError: undefined is not a constructor (evaluating 'new window.ResizeObserver((function(e){t.next(e[0].contentRect.width)}))')
observeWidth (webpack:///src/app/util/resize-observer-obs.ts:20:54)
_trySubscribe (webpack:///node_modules/rxjs/_esm5/internal/Observable.js.pre-build-optimizer.js:43:35)
toSubscriber (webpack:///node_modules/rxjs/_

[2019-12-23 19:03] TobiasDev commented on #159
Quick question, is there any chance of seeing something like this? :) Not just for the backups, but so I can keep it synced between computers. I absolutely love the app, it's just a tiny bit of a huzzle since I use it at the office and home for working without the sync. :) Not saying it is impossible to use! It would just be a lot easer. :D

[2019-12-26 17:38] johannesjo commented on #268
@theCalcaholic @astoeriko  does right clicking work out for you or do you think there should be a more obvious way to add sub tasks and to delete them?

[2019-12-26 17:52] johannesjo commented on #267
Hey there! Thanks for reporting. I agree that it would be good to have some options to customize the background (maybe even custom images) and to allow to disable for people who don't like it. It's on my todo list :)

[2019-12-26 17:53] johannesjo commented on #269
Thank you very much for reporting. I look into it!

[2019-12-26 17:58] johannesjo commented on #159
@TobiasDev have you tried syncing the whole `~/.config/superProductivity/` folder (or whatever it is on your machine)? I would assume that this works fine as long you are not using multiple instances at the same time and as long you're taking care to start the app fresh when you know the data has changed on the other machine.

[2019-12-26 18:31] TobiasDev commented on #159
Hmm. I have not. Is it possible to change where that folder is stored? So I could "just" re-point the app on all machines I use it?

[2019-12-26 23:08] johannesjo commented on #159
There is a custom startup parameter you can use for that:
[code]

You need to copy your existing user data manually to that folder though.

[2019-12-29 11:03] MostafaAmin07 commented on #158
@johannesjo
To support RTL languages, you need to add the attribute dir to the html tag or the body tag and set it to rtl or ltr.

Then you need to work on the design part and use property values that make it easier to support RTL,
for example, using text-align: start; is better than text-align: left; cause it will align itself in the proper direction based on the dir attribute value if not set li

[2019-12-29 16:20] theCalcaholic commented on #268
Oh! :D No, if right clicking is the general UX approach, that's fine. I just didn't look for it.

[2019-12-29 17:07] johannesjo commented on #158
@MostafaAmin07 thank you very much for your input, that's very helpful already! Would you possibly be able to help out? I have no idea what kind of positioning makes sense logically for RTLs, so all I could do is fiddle around a little and wait for some feedback. It would make so much more sense if a native speaker would attempt to make these changes.

[2019-12-29 18:21] johannesjo commented on #269
This should be fixed with the next release. Thanks again.

[2019-12-29 18:33] johannesjo commented on #257
Sorry everybody for not responding earlier. I took a little programming break over Christmas. :)

@Jaimies could you maybe provide the exact error log? What I would ideally need would not be a pointer to original source file (something like `some-file.ts`) rather than the compressed dist file (e.g.: `main.e0c8502e0c032e042ef3.js:1:3570658`). Unfortunately there is an inconsistency with chromium on

[2019-12-29 20:11] MostafaAmin07 commented on #158
@johannesjo I would love to.
I will make a PR and keep you up to date with the changes but, I can't make any promises with the amount of time it would take to be completed.

[2019-12-30 02:05] IbrH opened #271 "Text mistake."
### Your Environment
* Version used: Latest snap version
* Operating System and version: Ubuntu 19.10
* Desktop Environment: GNOME
* Browser Name and version: (not web version)

### Expected Behavior
At the end of the day, it should say "Your work is done. Time to go home!"

### Current Behavior
It says "You work is done. Time to go home!"

### Steps to Reproduce (for bugs)
End day, then press sav

[2019-12-30 02:34] IbrH opened #272 "Question"
How does one end the day and still get the tasks on the next day that one marked as repetitive? When I finish the day the list goes blank.

[2019-12-30 13:17] johannesjo commented on #271
Thank you! I'll fix this asap.

[2019-12-30 13:20] VladRoscaDev opened #273 "Error pulling issues from Jira"
### Your Environment

* Version used: 3.0.7
* Operating System and version: Windows OS 17134.523
* Desktop Environment: Desktop environment
* Browser Name and version: -----

### Expected Behavior

After filling in all the data my issues should be pulled from jira.

### Current Behavior

After I fill in my credentials I click test credentials and I receive the message Login successful! Welcome {{u

[2019-12-30 13:22] johannesjo commented on #272
This should normally work. Repeating tasks are recreated when you start the app for the next time or when you switch projects (if I'm not mistaken).

[2019-12-30 13:24] johannesjo commented on #273
Thank you very much for reporting! I'll look into it as soon as I can!

[2019-12-30 23:45] jackhistoria commented on #212
Maybe there are more people on Arch than you expect when this works since pacman and the AUR are real timesavers :)
[code]
I have the talent to bite through problems like this and succeed most of the time and since I would like to use this app in 2020 a lot along with arch at home and on my cloud server and would like to try and figure it out for you - else I would put a new AUR rep up and merge i

[2019-12-31 21:02] TobiasDev commented on #159
Sorry! I haven't had time yet to test this. I'm hoping to test this beginning of January.

[2020-01-01 21:41] johannesjo commented on #159
@TobiasDev No worries! I've been quite busy with other (private) things myself :)

[2020-01-07 18:53] Jaimies commented on #257
@johannesjo It seems the source maps did not work this time.
The most interesting thing is that the app keeps responding and functions properly after the crash. After restarting the app (with ```Ctrl+Shift+R``` or the "Reload app" button), the app does not show any of my projects and temporarily switches to default settings. After reopening the app, records, settings, and tasks are being displayed

[2020-01-07 23:04] schiavone1 commented on #97
This would be a very useful feature!

[2020-01-08 05:50] VladRoscaDev commented on #273
Hello, I dug deeper into this and it seems to be the problem of not putting https://jira.x.com**/jira**. This seems to be a problem of follow redirect. It all works now after i added /jira.
Great app!

[2020-01-08 18:30] VladRoscaDev opened #275 "A possible improvement"
**THE CASE**
I noticed that to get the app to log you work time you have to mark the task as done.
Sometimes there are tasks that take more than one day to finish because of poor planning.
Therefore i suggest that the app can log you work automatically in Jira after you hit the Finish Day button.(I noticed that it doesn't do this now)
It would be a very helpful feature.

If needed I can help on th

[2020-01-08 19:42] #222 closed

[2020-01-08 19:44] johannesjo commented on #158
@MostafaAmin07 thank you very much again. I am closing this.

[2020-01-08 19:44] #158 closed

[2020-01-08 19:44] #261 closed

[2020-01-08 19:46] johannesjo commented on #257
@Jaimies thank you! The "Internal error" sometimes occurs with the database adapter #236. I was hoping to get this fixed with #224 but that turned out to be to big of a task for my christmas vacation.

[2020-01-08 19:55] johannesjo commented on #273
@VladRoscaDev thanks for getting back to me another and sorry for not working on that myself yet. I got quite a lot on my plate currently and I struggle to find time for my OSS projects.

Haven't encountered the adding "jira" part myself or otherwise so I assume that it is specific to your environment. The error message should definitely be more helpful than it currently is though.

[2020-01-08 19:56] #271 closed

[2020-01-08 20:21] johannesjo commented on #275
Thank you for the suggestion!

I thought about a similar concept before, but to be honest I am a little bit afraid about all the work it might cause, as
1. Date stuff can get messy
2. It's not easy to communicate to the user what is going on
3. There are possibly lot's of possible edge and special cases to consider (what happens when the user changes the time spend manually later on, just to name

[2020-01-08 20:25] VladRoscaDev commented on #275
Well for the issue your talked about for the moment I would leave it as it is. But this one has to do with the process of automatization of the stubbern task of logging your work, that could be done by using the same method as if I were to mark it as done. This is a pritty common pattern and in my opinion it would be very nice to have.

[2020-01-09 19:52] MostafaAmin07 opened #276 "Logical error with the date displayed in time spent on a task"
### Your Environment

* Version used: 3.0.7
* Operating System and version: Windows 10, v1809

### Expected Behavior

When I start tracking time for a task when the language is set to English. then go to edit the time spent on that task from additional info.
A list of the days that I worked in shows except for the date of the day we are in. (That's the right behavior)
That should happen even if I

[2020-01-09 20:05] MostafaAmin07 commented on #276
These are some screens showing what happens.
![Bug1](https://user-images.githubusercontent.com/32510728/72100572-89feaa00-332b-11ea-96f4-ccdef743614e.png)

![Bug2](https://user-images.githubusercontent.com/32510728/72100573-89feaa00-332b-11ea-8610-56713776be43.png)

![Bug3](https://user-images.githubusercontent.com/32510728/72100574-89feaa00-332b-11ea-905f-b252af824d1d.png)

This is not the only p

[2020-01-10 12:02] Nixellion opened #277 "Custom day time range, day end hour"
Hi!

I could not find a setting that's quite common in similar apps - custom day end hour. For now it counts a day as finished based on 00:00 to 23:59 I quess.

My schedule is shifted forward in time, I wake up late and go to bed late, so my "day" is more like starts at 13:00 and ends at 04:00 roughly. This messes app's calculations up, as it starts counting time towards the next astrological day,

[2020-01-10 13:37] johannesjo commented on #277
Hey there! Thanks for opening this up! I agree that this would be nice and I want this feature as well.

[2020-01-10 19:51] johannesjo commented on #276
Good catch! Thank you very much! I am working on a patch.

[2020-01-10 20:54] johannesjo commented on #276
Ugly issue... I naively assumed that
[code]
Would return the same on every system. Of course it doesn't....

I published a patch and also some automated migration scripts for the data. Hope this works smoothly. Could you check this for me with your data (don't forget to make a backup first)?

[2020-01-11 07:26] MostafaAmin07 commented on #276
Unfortunately, a critical error occurred in the migration.
![c-error](https://user-images.githubusercontent.com/32510728/72200327-ec9d9600-3450-11ea-99eb-5e7d95bd982c.png)

[2020-01-11 11:49] MostafaAmin07 commented on #276
I played around with moment and it seems like it can't parse Hindu-Arabic numerals.
So I tried a quick fix to that is converting the Hindu-Arabic numerals to Western-Arabic numerals before parsing them with moment like this.

[code]

But there are 2 problems I can spot.
The project state migration doesn't run when importing a project from a file so imported data doesn't get updated.
The second one

[2020-01-11 12:34] johannesjo commented on #276
That's great work thank you! Would you maybe be willing to provide a PR for these adjustments for the migrate scripts for tasks and projects?

[2020-01-11 13:21] MostafaAmin07 commented on #276
Sure, I will.

[2020-01-12 19:45] johannesjo commented on #276
Thank you very much! I'll try to add a similar thing for japenese, korean and chinese next week. We probably need it.

[2020-01-13 11:58] AtjonTV commented on #224
After reading this thread again, I think that I didnt really tell what I mean with "server side" use.

I mean it to run SP on a server using NodeJS and having the Server store the data. Not inside the Webbrowser.

So the data would live on the server. You could then open up SP from any PC in the world and have all your Tasks there.

I know that this could be done using sync to Google Drive, MS Tod

[2020-01-16 14:08] MostafaAmin07 commented on #97
I looked into this and I understand what it needs to be implemented.
The user needs to create an access token in GitHub then input this token in the application.
This token will be used in the HttpHeaders for every request made to the API.

One access token is all that is needed to access all your private repos, but I can think of a reason to have a separate access token for each repo.
@johannesjo

[2020-01-16 14:17] johannesjo commented on #97
@MostafaAmin07 That's really great! Please let me know if I can assist you in any way!

It might be even useful to have that for GitHub users without private repos, as it would allow us to improve the user experience without the danger of hitting that api limit all the time. But that's for the future!

[2020-01-17 08:16] VladRoscaDev opened #280 "Improve Jira Time Tracking"
Hello, I noticed the following behavior:
**Fist suggestion:** When I mark as done my task and save the work log to Jira, the task goes to the done list.If i pull the task back up again to work on it, the work time should be reset to 0 but it continues from where it was left. It would be easier to manage the working sessions on that task. Also when i want to finish the task by using this approach t

[2020-01-17 15:57] dandycheng opened #281 "Allow for setting a reminder on repeating tasks"
Repeated tasks are limited to the day of week, but there is no reminder for the specific time. Pomodoro only allows duration based reminder. It would be nice to have an alarm clock-like feature for repeated tasks.

[2020-01-17 17:19] johannesjo commented on #281
Hey there! Thanks for opening this up. I'd also like to see this, even though I must admit, that it ain't on the very top of my personal todo list. I am open for PRs though!

[2020-01-17 19:11] johannesjo commented on #280
Hey! Thanks for the suggestions.

If I understood you correctly, I think that the first suggestion doesn't really mix well with all the internal time tracking going on, though I am open to make it an optional feature.

I like the the second suggestion. I'd also like to see this as a feature you can optionally enable/disable.

[2020-01-17 19:14] johannesjo commented on #224
@AtjonTV I wonder: Would you ideally like to see the app to come as a complete self hosted package with user account management and so on?

[2020-01-20 07:10] AtjonTV commented on #224
Yes! That would be the deam of deams for me.

[2020-01-22 20:54] danielestevez commented on #197
I'd happily pay for this one! 😄 Any chance this is in your roadmap anytime @johannesjo ?

[2020-01-23 16:50] johannesjo commented on #197
@danielestevez Sorry, I really can't give you any estimate at this point of time...

[2020-01-24 15:34] ssalenik opened #282 "Forgot to finish the previous day shows up even when I did"
### Your Environment

* Version used: snap stable 3.1.3 2020-01-17
* Operating System and version: ubuntu 19.04
* Desktop Environment: gnome 3

### Expected Behavior
Finish day, click on close app.
Next day open app and start new day.

### Current Behavior
Finish day, click on close app.
Next day open app and it says I forgot to finish the previous day.
It shows the same time range, but only shows

[2020-01-24 16:32] johannesjo commented on #282
Thanks for reporting! I look into it. Probably next week.

[2020-01-24 20:30] ssalenik opened #283 "Incoherent state when cancelling break"
### Your Environment

* Version used: snap stable 3.1.3 2020-01-17
* Operating System and version: ubuntu 19.04
* Desktop Environment: gnome 3

### Expected Behavior
In the middle of a pomodoro break.
Click cancel before its over.
Starts next session and keeps tracking time to the previously selected task. Or doesn't start next session and timer is stopped.

### Current Behavior
In the middle of a

[2020-01-27 18:00] johannesjo commented on #283
Thanks for reporting! I'll try to check this tomorrow.

[2020-01-28 12:45] prabhanshu11 opened #284 "[Feature Request] - 'Send feedback' button"
* Desktop Environment:  KDE

### Expected Behavior

 There should be a feedback button with an option to upload screenshots or screencasts.

[2020-01-28 13:56] johannesjo commented on #284
Hey there! Thanks for the suggestion! What issue did you encounter?

I generally like the idea, but I wouldn't put it very high in my priority list, as there is currently enough other stuff to work on.

[2020-01-28 16:36] johannesjo commented on #283
I think I fixed it. The button should read "close" and not "cancel" and only close the dialog. Not sure if the setup is ideal now, as I am currently not using the pomodoro timer myself. Please let me know if it works like this for you or if there should be some adjustments.

[2020-01-29 16:50] ssalenik commented on #283
This makes sense to me. I'll give more feedback if I manage to build it from source, as for now I'm just using the snap package.

[2020-01-29 17:27] johannesjo commented on #283
You could also try installing the new version from the edge channel:
[code]

[2020-01-29 18:33] ssalenik commented on #283
edge is only the latest release though (3.1.4), not HEAD

[2020-01-29 21:08] johannesjo commented on #283
Should be head, if I'm not mistaken. It just gets the last release version as version number.

[2020-01-29 22:36] ssalenik commented on #283
Oh, you're right. That's confusing.
Anyways, seems reasonable the way it is right now.
Only thing, I'm not 100% sure on this, but its possible that when the next session started it didn't make the notification sound. But maybe I just didn't hear it...

[2020-01-29 22:43] mediaphysis opened #285 "Import data from Project Hamster"
Hello,
I have been using Project Hamster for a long time. In order to plan a migration to super-productivity, is there a sort of import utility in order get all my previous activity logs (hamster.db)?

Thanks in advance,
Enrico

[2020-01-30 05:50] mmphego commented on #48
Sorry for the late response, only saw this notification just now.

This made sense in my head, but could you add a feature such that as soon as you schedule your daily tasks google calendar gets updated as well?

Pretty much the same integration you have with GDrive sync backup - integrate Google Calendar API such that when you enter your schedule time this gets added to your calendar for tracking

[2020-01-30 16:25] johannesjo commented on #285
Hey there! There is not such thing, but it should be possible to write a simple script that transforms hamsters data in a way that it can be imported into super productivity. Not sure how the data looks like on hamster's side of things, but to get a idea how the data looks for super productivity I recommend creating an example project with a couple of tasks etc. mark them as done, click "Finish Da

[2020-01-30 17:16] johannesjo commented on #283
There is a Pomodoro Setting called `Play sound when break is done` if that one is not checked, then you will hear no sound after a break.

[2020-01-30 17:28] johannesjo commented on #48
@mmphego thanks for the explanation. Probably won't work on this myself, as I don't need it, but I am open about Pull Requests to make this an (optional) feature.

[2020-01-30 17:59] johannesjo commented on #282
So far I am unable to reproduce this issue. May I ask which language you are using and which timezone you are in?

[2020-01-30 18:10] ssalenik commented on #282
English and GMT-5 (EST)

[2020-01-30 18:18] johannesjo commented on #282
And this happens consistently? Really not sure what could cause this. If you open up the console (Ctrl+Shift+i) before changing to the project in question, is there any output?

Meanwhile you can also disable the "Disable reminder about forgotten finish day" setting under Misc Settings.

[2020-01-30 19:27] johannesjo commented on #267
This actually looks quite a bit nicer for the dark theme. Thanks for the suggestion again :)

[2020-01-30 19:28] #267 closed

[2020-01-31 10:25] tiagogala commented on #267
Awesome! Thanks for the effort!

[2020-02-06 21:27] LuisLopezMunoz opened #286 "find the notes from the completed tasks and filter the worklog by project"
Hi there, I need to find the notes from the completed tasks. I don't know if there is already one feature for this or another feature to filter the worklog by project.

Thanks in advance,
Luis

[2020-02-07 17:06] johannesjo commented on #286
Hey there! To access the notes, you would need to restore the task from under "Worklog" first.

Not sure. Does this help? Or are you looking for a custom search function or something similar?

[2020-02-08 00:17] MostafaAmin07 commented on #156
I wanted this for a while now. So I will try to implement it as soon as I can at least I will try to make the same functionality currently available for Github. fetching all the issues along with their status, comments, and labels and if you want to make a change you get redirected to the issue's page on the browser.

@tiagogala I don't think that making the application able to set the estimated a

[2020-02-08 01:14] johannesjo commented on #156
@MostafaAmin07 that's wonderful news! Let me know if I can be of any assistance!

About the merge request feature:

I think the most useful aspect would be to have a reliable way of knowing when there were comments made to your own pull request, so you know there is something to work on or to FINALLY move the ticket in your scrum board, which I always forget :).

There might be better ways to do t

[2020-02-09 14:39] kolya-ay commented on #25
Actually it would be cool to have such an option. Simply because many distribution will never include electorn (and electron based apps) as a packages and not everyone wants to use both flatpak and (basically ubuntu-specific) snap. I hope, I'm not alone;) However it seems that it's worth to wait till [mainstream issue](https://github.com/electron-userland/electron-builder/issues/512) will be resol

[2020-02-10 11:52] astoeriko opened #287 "DOMException: Failed to execute 'animate' on 'Element': Partial keyframes are not supported."
### Your Environment
* Version used: 3.1.3 snap
* Operating System and version: Ubuntu 18.04.4 LTS
* Desktop Environment: Gnome 3.28.2

### Current Behavior
When starting the app, it does not show the normal user interface but instead a console and other inspection tools. The console shows errors. When I click 'Toogle device toolbar' (or press Ctrl + Shift + M) – so only at 766 x 926 px – I see th

[2020-02-10 18:18] johannesjo commented on #287
Interesting... Thanks for reporting. I look into it!

[2020-02-10 18:41] johannesjo commented on #287
I am unable to reproduce the issue.  Does it occur on every single application start?

[2020-02-11 10:31] Mindstormer619 opened #289 "[Bug] Cannot scroll in Tasks View"
- **Version:** 3.2.0
- **Variant:** PWA on app.super-productivity.com
- **OS:** Windows 10
- **Browser:** Chrome v80.0 32-bit

Scrolling in the tasks view no longer works with the latest update. I don't see the vertical scroll bar, and scrolling with the mousewheel doesn't work either.

Does not get fixed with resizing or restarting the app window.

It works perfectly on other pages like Settings

[2020-02-11 10:40] Mindstormer619 commented on #289
Quick update: I just figured out that a quick workaround for this is to pull up the backlog pane from the bottom and send it back down. This makes the tasks window scrollable. Maybe it'll be helpful for debugging what's going on.

[2020-02-11 20:21] johannesjo commented on #289
Thank you very much for reporting. I'll try to check this tomorrow.

[2020-02-13 10:01] theCalcaholic opened #290 "[BUG] All ongoing tasks in project replaced with those from another project"
# Your Environment

* Version used: snap/536
* Operating System and version: Ubuntu 18.04
* Desktop Environment: Gnome
* Browser Name and version: standalone/Electron

### Description of the issue

I have 3 projects in superproductivity. Suddenly, all active tasks for project 2 are deleted. Instead, copies of all active tasks from project 3 have been added to project 2. The archive is not affected

[2020-02-13 10:07] theCalcaholic commented on #290
**Update:** From a first glance, my attempt to fix this seems to have worked. If anyone else comes across the same issue, I can share the detailed process (just mention me).

[2020-02-13 17:55] johannesjo commented on #290
Thank you very much! This seems to be some very rare race condition. It happened to me before, but I wasn't able to find the root of this issue. I look into it again.

[2020-02-13 19:34] johannesjo commented on #290
I think I found the source of this issue. There is a moment when the project id has already changed, but all the related data is not yet loaded from the database. I am publishing a fix soon.

[2020-02-13 19:56] johannesjo commented on #289
I think I found a fix. Will publish a new version soon.

[2020-02-13 22:07] arf1372 commented on #241
@johannesjo Could you reference any of commits which include this feature?

[2020-02-14 14:11] theCalcaholic commented on #290
Awesome, thanks

[2020-02-14 16:30] johannesjo commented on #237
I am closing this due to inactivity.

[2020-02-14 16:30] #237 closed

[2020-02-14 16:32] johannesjo commented on #235
This completely slipped under my radar. I am very sorry. Thanks for the suggestion. This definitely would be nice.

[2020-02-14 16:34] #249 closed

[2020-02-14 16:35] johannesjo commented on #262
Closed due to inactivity.

[2020-02-14 16:35] #262 closed

[2020-02-14 16:36] johannesjo commented on #263
Closed due to inactivity.

[2020-02-14 16:36] #263 closed

[2020-02-14 16:37] johannesjo commented on #265
Closing this as duplicate of #181

[2020-02-14 16:38] #265 closed

[2020-02-14 16:38] #268 closed

[2020-02-14 16:39] #269 closed

[2020-02-14 16:40] johannesjo commented on #272
I am closing this. Let me know if you have any further questions.

[2020-02-14 16:40] #272 closed

[2020-02-14 16:41] #273 closed

[2020-02-14 16:42] johannesjo commented on #276
Hopefully this is fixed with one of the newer releases. Please let me know if you encounter any further issues with this.

[2020-02-14 16:42] #276 closed

[2020-02-14 16:46] johannesjo commented on #226
Should be fixed I think.

[2020-02-14 16:46] #226 closed

[2020-02-18 15:58] astoeriko commented on #287
Yes, this happens on every start of the application for me. It also seems that I cannot properly close the app by clicking on the close button (instead I need to kill the process) but I don't know if that is related.

[2020-02-18 16:03] johannesjo commented on #287
I recently made a release with some fundamental changes:
https://github.com/johannesjo/super-productivity/releases/tag/v3.2.4

The error might stem from an underlying library. As those are all updated  it might be gone with that release.

Could you please check if that is the case?

[2020-02-24 02:55] soheilred opened #291 "sync doesn't work accross multiple devices"
* Version used: snap 3.1.3
* Operating System and version: Manjaro
* Desktop Environment: Cinnamon

### Steps to Reproduce (for bugs)
1. Sync using google in one device
2. Open the app in another device and sync

### Error
Google Drive - Error: [object Object]

I tried to re-install the app, and clean the local directory and re-log-in, but it didn't work.

[2020-02-24 18:57] johannesjo commented on #291
Thanks for reporting. So far I am unable to reproduce the issue. Is there any more information printed in the console?

[2020-02-25 04:42] soheilred commented on #291
No, it doesn't print any useful error in console when I run it from the terminal. It only prints this, which I think is irrelevant to the issue:
[code]
Is there any other log file that I can share with you?

[2020-02-25 13:32] johannesjo commented on #291
Could you maybe try to open the console before the error appears (Ctrl+Shift+I)? The output should be more helpful then.

[2020-02-25 13:58] soheilred commented on #291
Here is what I can see in the console:
![photo_2020-02-25_08-57-41](https://user-images.githubusercontent.com/13761049/75253652-f3882a00-57ac-11ea-8bc3-6baf06b9b388.jpg)

[2020-02-25 14:10] johannesjo commented on #291
Thank you! Did you allow super productivity to access to your google drive data?

In case you didn't you can find more information on how to change that here: https://support.google.com/accounts/answer/3466521

[2020-02-25 14:15] soheilred commented on #291
Thank you for your response.

Yes, I did give the right access to the app. When I started working with superproductivity I granted the permission to the app. And, I didn't change anything ever since. In fact, I just checked my google account, and the app was under listed under "Third-party apps with account access".

[2020-02-25 14:20] soheilred commented on #291
The strange thing is that if I only work on one computer, it works fine. That tells me that the app has the right access to google.
But, for instance, when I finish my job on my computer and go to my laptop, it throws the error I just sent for you. Then, if I fix everything in my laptop, by removing the previous json file, and importing a backup file manually, it starts working fine on my laptop.

[2020-02-25 14:27] johannesjo commented on #291
Could you try one more thing please:
1. Sync one device and close the app
2. Open the app on the other device
3. Use the chrome devtools to clear cookies & cache (but NOT the indexeddb!).
4. Reload the app via Ctrl+R
5. And then try syncing again afterwards

Running two instances of the app simultaneously  won't work well at the moment unfortunately.

[2020-02-25 14:44] soheilred commented on #291
I just did that. Didn't fix it. I also went a bit further, and uninstall the app, and install it again. That also didn't fix it.

[2020-02-25 14:55] johannesjo commented on #291
So this all worked before?

[2020-02-25 15:01] soheilred commented on #291
Yes! It stopped working around 4-5 days ago.

[2020-02-25 17:26] soheilred commented on #291
I found another way of replicating the issue.
1. sync using the app and close it
2. open the web interface
3. go to settings->sync via google drive
4. login and give the permission to app
5. hit load from gdrive button

[2020-02-25 18:34] johannesjo commented on #291
I am not able to replicate the exact error you got, but when testing inside the browser I am also encountering some issues. Might very well be that google changed something on their side. I am investigating.

[2020-02-26 11:44] soheilred commented on #291
I want to add one more thing which I think is related to the issue. When I completely wipe out the local storage (including the indexddb file) and try to import the json file that is in my google drive, I get this:
[code]

[2020-02-26 13:04] Szemhazaj opened #292 "Critical error after messing with duplicated task"
### Your Environment

* Version used:
* Operating System and version:
* Desktop Environment:
* Browser Name and version:

### Expected Behavior

### Current Behavior

### Steps to Reproduce (for bugs)

1.
2.
3.
4.

### Console Output

### Error Log (Desktop only)

[2020-02-26 13:10] Szemhazaj commented on #292
I got somehow one the same task in 2 projects with exactly the same time on task and subtasks. I moved the duplicate to the original project and tried to delete it. But it deleted both instances of tasks. Then undone it and moved to another project and tried to delete and then this occurred.. I got message with critical error and to report it so I do it now.  Every time I restart the app I get the

[2020-02-27 14:05] johannesjo commented on #291
I spent hours trying to fix this with no success, so far :(

To me it seems like that google changed something with their api (or possibly it's related to how chrome handles cors in recent version).

I opened up an issue.
https://github.com/google/google-api-javascript-client/issues/600

[2020-02-27 15:23] johannesjo commented on #292
This looks like data corruption to me. Any idea what happened before this?
What you can always do is to try to restore one of the backups from here: `~/.config/superProductivity/backups`

[2020-02-27 17:55] soheilred commented on #291
Thanks for taking time and looking into the issue.

[2020-02-28 12:57] soheilred commented on #291
Can you even open your account using the web interface from different devices? Or this is just my problem?

[2020-02-28 13:03] astoeriko commented on #287
I was not able to install version 3.2.4 via snap, only the 3.2.3 version (from the edge channel). This, however, does not resolve the issue.

[2020-02-28 13:33] johannesjo commented on #291
What do you mean by opening my account? :)

[2020-02-28 15:31] TGMcLean commented on #291
I've had the exact same issue as @soheilred – about 4-5 days now. See it in both desktop and web. And, yeah, likely a Google issue.

[2020-02-28 23:12] soheilred commented on #291
Sorry for not being clear. I meant logging into your google using the web interface in different devices.

[2020-02-28 23:15] johannesjo commented on #291
@soheilred I am able to log into my account just fine.

[2020-02-29 15:42] johannesjo commented on #156
@MostafaAmin07 I made some good progress with redoing the issue integration. It's not all completely polished yet, but if you're interested you can have a look at it here:
https://github.com/johannesjo/super-productivity/tree/feat/issue-caching

I would be interested to hear your thoughts about it :-)

[2020-02-29 22:43] MostafaAmin07 commented on #156
@johannesjo  Great, I will take a look at it as soon as I can.
I am sorry for the delay I wanted to finish it way sooner than that but I had a lot going on in the last month.
I am close to finishing the initial functionality of the GitLab integration now. But I am having a small problem with things related to rxjs as I didn't work with it before.

[2020-03-01 17:56] johannesjo commented on #156
@MostafaAmin07 No worries! I intend to finish the adjustments to the issue system n until Thursday (fingers crossed). I hope that this will make adding any kind of new issue integration a lot easier.

[2020-03-02 03:34] soheilred commented on #291
And using different devices? Did you try it on the same operating systems every time or you have different os's?
Isn't there any way around the synchronization, using another syncing tool, for instance onedrive or dropbox?

[2020-03-02 13:15] johannesjo commented on #291
Works on my mobile device and on my laptop (Ubuntu). The only thing not working for me is to load files. Everything else, even saving stuff works fine.

[2020-03-03 23:58] johannesjo commented on #156
@MostafaAmin07 fyi the feature is basically done now and merged back into master. All is left are some fixes.

[2020-03-05 14:56] Arcyne opened #293 "Consider adding Trello Integration"
Hi,  this is a feature request rather than a bug.

My company uses Trello a fair bit, but I enjoy the deep persistence (nagging?) of the Super Productivity reminders.  :-)  An integration with Trello would allow me to add the scheduled reminders/etc from your interface, but also give some transparency to the Trello board.  It also allows my manager to easily drop tasks into the shared Trello board

[2020-03-05 15:48] johannesjo commented on #293
Hi there! Thanks for opening this up.I am definitely open about this, but I won't spent much time on it myself. PRs welcome!

[2020-03-05 15:50] Arcyne commented on #293
Cool,   Sounds like a weekend project for me.   I’ll let you know how its going after the weekend.

R

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Johannes Millan <notifications@github.com>
Sent: Thursday, March 5, 2020 9:48:25 AM
To: johannesjo/super-productivity <super-productivity@noreply.github.com>
Cc: Arcyne <rharlicke

[2020-03-05 15:51] johannesjo commented on #293
Let me know if you have any question!

[2020-03-07 17:38] Acsigen opened #294 "Go back to work doesn't work"
### Your Environment

* Version used: 4.0.0
* Operating System and version: Windows 10 x64 1909
* Desktop Environment:
* Browser Name and version:

### Expected Behavior
At the end of the break the "Go back to work button used to start the pomodoro timer on the last active task

### Current Behavior
Now nothing happends after the dialog dissapears

### Steps to Reproduce (for bugs)
1.Start task
2.

[2020-03-09 14:54] johannesjo commented on #294
Thank you very much for reporting! I'll have a look.

[2020-03-10 13:01] matthewdunngeon opened #295 "error"
### Your Environment

* Version used:
* Operating System and version:
* Desktop Environment:
* Browser Name and version:

### Expected Behavior

### Current Behavior

### Steps to Reproduce (for bugs)

1.
2.
3.
4.

### Console Output

### Error Log (Desktop only)

[2020-03-10 13:22] johannesjo commented on #294
Can't reproduce this issue. Works fine with all the pomodoro settings I tested. What are your settings?

[2020-03-10 13:23] johannesjo commented on #295
Could you maybe provide a little bit more info?

[2020-03-10 17:37] Acsigen commented on #294
![image](https://user-images.githubusercontent.com/13287878/76342054-993bad00-6306-11ea-90fe-978739b51848.png)

[2020-03-10 19:15] matthewdunngeon commented on #295
Hi there,
Actually didn't notice.
I was surfing for wsl Ubuntu configuration. Maybe using some keyboard
shortcut caused.
Browsers chrome and brave.
I think I've minimized super productivity on Taskbar.
When switching around windows, I saw developer extensions Chrome was
visible inside your app.

That is all I remember.
Hope it helps
Regards

10 Mar 2020 Sal 16:23 tarihinde Johannes Millan <notific

[2020-03-10 19:22] johannesjo commented on #295
Thanks for getting back to me. Unfortunately it's not really enough information to do anything, but I keep an eye open.

[2020-03-11 06:58] jdelker opened #296 "App refuses to be closed in Mac OSX"
### Your Environment
* Version used: 4.0.0.1377 DMG package
* Operating System and version: Mac OSX 10.14 ("Mojave")

### Expected Behavior
The app should quit if
- when Quit is selected from the Titlebar's app menu
- when Quit is selected from the app's dock icon

### Current Behavior
Neither of above described methods does quit the app.
The only way to close the app regularly is using the window

[2020-03-11 07:18] jdelker opened #297 "Display and Sizing of left pane"
### Your Environment
* Version used: 4.0.0.1377 DMG package
* Operating System and version: Mac OSX 10.14 ("Mojave")

### Expected Behavior
The left navigation pane (project list) can be switched on/off manually and allows horizontal resizing.

### Current Behavior
The left pane only appears when the app's window is resized rather wide - probably due to the used responsive design. To have this han

[2020-03-11 15:29] johannesjo commented on #297
Hey there! Thanks for the suggestion. I would welcome improving the behavior of the different panels — pull requests welcome!

A word of caution: it's pretty tricky to make it work in a performant way with the given technology and there are a lot of different states to cover.

[2020-03-11 15:30] johannesjo commented on #296
Thanks for reporting. I'll try to look into it as soon as I can.

[2020-03-12 12:33] johannesjo commented on #294
Thank you! I am still unable to reproduce the issue. Works absolutely fine on my computer. Did you do anything else  in between the 4 steps? How do your tasks look like, especially the one you were tracking to before the break? And are you able to reproduce this consistently?

[2020-03-12 14:30] nicofirst1 opened #298 "Add total worklog/metrics for every project"
It would be nice to have a total worklog/metrics in which you can see time spent for every project.

[2020-03-12 15:04] johannesjo commented on #298
Thanks for the suggestion. I am working on it.

[2020-03-13 14:22] brgsx opened #299 "Bug Import File JSON"
### Your Environment

* Version used:
* Operating System and version:
* Desktop Environment:
* Browser Name and version:

### Expected Behavior

### Current Behavior

### Steps to Reproduce (for bugs)

1. Settings
2. Download JSON File from Gdrive
3. Import file to SP
4. Error

### Console Output

### Error Log (Desktop only)

[2020-03-13 14:26] johannesjo commented on #299
Thanks for reporting. Can you provide a little more info about the error? What does it state exactly?

[2020-03-13 14:59] brgsx commented on #299
I recorded a video of the screen to facilitate:

[SP Error](https://send.firefox.com/download/dce903e1169e49af/#tw79sHfng6dS_1hLxTpKZw)

[2020-03-13 22:03] johannesjo commented on #163
In case anyone is interested: I am working hard on this again and I am making good progress:
https://github.com/johannesjo/super-productivity/tree/feat/shared-task-list-via-tags

Lots of stuff is not working currently and needs to be redone, but there should be enough there to see, where its heading. Feedback would be very welcome and if someone got some time on their hands, help with coding too.

[2020-03-14 07:48] Acsigen commented on #294
![test](https://user-images.githubusercontent.com/13287878/76677612-e22a8480-65d8-11ea-8d09-d39539bb0ebd.gif)

[2020-03-15 19:13] elena opened #301 "UI Feature: easier to add subtasks (another button?)"
Thank you for the software I love it and have showed it to my local user group/friends/students.

Minor/trivial feature request, may already be requested/exist but doesn't appear to be in 3.* versions, happy to be corrected!

* Version used: Super Productivity 3.2.3 (snap)
* Operating System and version: Ubuntu/gnome

Request: would it be possible to add another UI element/button to make it easier

[2020-03-15 20:25] johannesjo commented on #301
Hello Elena! Thank you very much for your detailed request.

While it is technically trivial to add such a feature (and there even was a button for that before), I am not sure what's the best approach on the ui side of things. Absolutely makes sense to add such a button in a more visible location than the context menu, but I am not sure where the best place for it is. I see two options:

(1) The t

[2020-03-16 14:55] johannesjo commented on #299
The link seems to be expired...

Also just recognized that my answer was not 100% clear: Generally downloading the file from google drive and importing it manually from the settings is not a valid strategy, never worked and currently there are no plans to change that.

The way things should work are usually are:
1. Enable Google syncing in one App instance and upload the data via the dedicated but

[2020-03-16 15:05] johannesjo commented on #294
Thank you very  much! Very weird. Maybe it's windows specific, although I wouldn't know what could be a reason for that. I'll try to check this after I am through with stuff I am currently working on.

Another question: Are you a 100% sure the version is 4.0.0? Is that what is printed on the settings page?

[2020-03-17 15:51] matthewdunngeon commented on #295
Hi,

I think I found the problem for crash.

I pressed accidentally the F12 key to take a screenshot but super productivity has the focus. And web view interface triggered developer view. Eventually this caused your application to crash.

By bests

From: Johannes Millan <notifications@github.com>
Sent: Tuesday, March 10, 2020 4:23 PM
To: johannesjo/super-productivity <super-productivity@noreply.gi

[2020-03-17 15:53] johannesjo commented on #295
Thanks for getting back to me! Was there any output shown in the console?

[2020-03-18 15:55] Acsigen commented on #294
Yes, I am 100% sure that it is 4.0.0. Maybe it is Windows, I updated it just before updating the app. But since the bug can't be reproduce I will close the issue because it might be just me.
![image](https://user-images.githubusercontent.com/13287878/76980033-5ea6c580-6941-11ea-9068-8cf061d4dcde.png)

[2020-03-18 15:56] #294 closed

[2020-03-19 15:14] johannesjo commented on #296
Should be fixed with the next release. If the issue persists, please check if there is a popup opened by the app and if you have the "confirm before quit" option enabled in the global settings.

[2020-03-19 19:19] matthewdunngeon commented on #295
Hi Johannes,
I appreciate you for this application.
I'd like to suggest an idea for ticking sound.
There is an android app named
Pomodoro Timer Lite for Android

Google play link:
https://play.google.com/store/apps/details?id=com.tatkovlab.pomodorolite

This app's tick sound is very good, I mean it doesn't have distortion .
Would you consider a ticking sound like that?

My best
Keep healthy.

Ps.

[2020-03-19 19:31] johannesjo commented on #295
I am open for changing it up. :) The sound would need to be completely open source and allow for being used in an application like this.

[2020-03-20 11:52] matthewdunngeon opened #302 "Error when changing project"
### Your Environment

* Version used:
* Operating System and version:
* Desktop Environment:
* Browser Name and version:

### Expected Behavior

### Current Behavior

### Steps to Reproduce (for bugs)

I created one project at the beginning.
Then add some tasks.
Then started first task.
At that moment decided to add another project.
Created new project.
When clicked the new project from the list,

[2020-03-20 14:42] johannesjo commented on #302
Thank you very much for reporting. I'll check this as soon as I can.

[2020-03-21 20:00] elena commented on #301
Thank you so much for the discussion! Like you, I am also not a UI designer and have probably less idea than you do here.  All of your reasoning here seems very sane/sound.

Thank you for telling me about "A" -- I prefer using keys. This is the best solution.

To have an actual opinion: I was imagining something like the UI in Confluence to add a "sub-page" with the subtle inline "+" on hover, I'm

[2020-03-21 23:08] jwarkentin opened #303 "Global shortcuts using `Meta`/`Super` key don't work as expected"
**UPDATED**

### Your Environment

* Version used:  4.0.0 (snap)
* Operating System and version: Ubuntu Linux 19.10
* Desktop Environment:  Gnome
* Browser Name and version:

### Expected Behavior

Shortcuts involving the `Meta`/`Super` key should work like any other shortcut.

### Current Behavior

All shortcuts involving the `Meta`/`Super` key ~~don't work~~ only work if the `Meta` key is held d

[2020-03-21 23:22] jwarkentin opened #304 "Exception thrown when trying to set and save a keyboard shortcut that uses the space bar"
### Your Environment

* Version used:  4.0.0 (snap)
* Operating System and version: Ubuntu Linux 19.10
* Desktop Environment:  Gnome
* Browser Name and version:

### Expected Behavior

Shortcuts involving the space key should not throw an exception upon saving and should ideally work

### Current Behavior

Attempting to set a shortcut that uses the space key appear as something like `Ctrl+ ` and w

[2020-03-22 03:35] jwarkentin commented on #303
Updated after discovering that it sort of works, as long as the meta key is held down while pressing the accelerator twice.

[2020-03-22 14:20] johannesjo commented on #302
I found the problem and will provide a fix shortly.

[2020-03-22 14:42] #304 closed

[2020-03-22 14:42] #102 closed

[2020-03-22 14:45] johannesjo commented on #303
I tested this and can confirm the issue. It seems to be an electron issue. Not really sure if we can do much on Super Productivity's side of things... :/

[2020-03-23 13:04] fkohrt opened #308 "Narrow text area when editing note in fullscreen (Firefox)"
Just discovered this app and I'm totally stunned! It combines so many eye candy features that often each make an app on their own, it's a pleasure to use it! Thank you for sharing this with the world!

I discovered a tiny bug that I want to report:

# Your Environment

* Version used: Web App 4.0.0
* Operating System and version: GNU/Linux 5.0.11
* Desktop Environment: Fedora 30
* Browser Name and

[2020-03-23 13:14] johannesjo commented on #308
Hey there! Thanks for reporting. Glad that you like the app. As far as I can see, this error only occurs on ff. Currently I'm quite busy with other features & fixes, but a PR would be very welcome!

[2020-03-23 14:26] fkohrt commented on #308
Alright, just wanted to be sure to have it tracked!

[2020-03-24 00:05] peakgeek opened #309 "Unable to sync via Google Drive"
### Your Environment

* Version used: Web App 4.0.0
* Operating System and version: Android 10
* Desktop Environment: N/A
* Browser Name and version: Brave 1.5.9, Chrome 80.0.3987.149, Firefox 68.6.0
### Expected Behavior
When clicking the "login" button in the Sync via Google Drive settings I would expect to see a login prompt

### Current Behavior
When clicking the "login" button in the Sync via

[2020-03-24 00:09] johannesjo commented on #309
Thanks for reporting. The error seems to be on googles side of things. Please have a look at #299 for more information.

[2020-03-24 09:30] tiagogala commented on #156
@MostafaAmin07 and @johannesjo, great job! Sorry for not answering your questions before.
I've just tested and it seems to be working correctly, congrats!

As for the integration itself, I think it would be awesome if we had the ability to do the following:
- Close / Reopen issues (when marking a task done / undone)
- Time tracking (when a task is closed or when a day is finished, add today's time

[2020-03-24 11:13] NicolaasJKotze commented on #236
This issue happened now to me.

Unable to reproduce. :(

**Last Known Steps:**
1. The "idle" timer was on screen with about 15hrs on the clock.
2. Clicked "SKIP"
3. Clicked the "START/PLAY" button on my task with already 12hrs on the clock.
4. Immediately after it started I opened this task notes that has existing notes.
5. Added a new line at the end of the note and 1 word in this error popped up

[2020-03-24 11:54] rajshrestha86 commented on #291
Same issue: Google Drive - Error: [object Object]. Please fix it, all of my today's task are gone.

[2020-03-24 12:47] jlewczynski opened #310 "Crash when minimized"
### Your Environment
* Version used: 4.0.3, snap
* Operating System and version: Ubuntu 18.04.04
* Desktop Environment: Gnome

### Current Behavior
A task was clocked in, the app was minimized. While doing some other work the SuperProductivity app got the focus and showed a message with the stack trace attached.

[superproductivity-error-stacktrace.txt](https://github.com/johannesjo/super-producti

[2020-03-24 14:54] johannesjo commented on #291
@rajshrestha86: for starters you could try raising awareness on googles end:
https://github.com/google/google-api-javascript-client/issues/600
Can't do anything about it, if they don't fix this on their side :(

[2020-03-24 14:57] johannesjo commented on #310
Thanks for reporting. This is a duplicate of #236

[2020-03-24 15:05] johannesjo commented on #236
https://github.com/localForage/localForage/issues/788

[2020-03-24 15:05] johannesjo commented on #310
https://github.com/localForage/localForage/issues/788

[2020-03-24 15:18] rajshrestha86 commented on #291
@johannesjo Is it possible to decrypt the JSON file stored on google drive and upload it manually on the app?

[2020-03-24 16:02] johannesjo commented on #291
@rajshrestha86 there is, but it would require a bit of fiddling around. There are also automatic backups, in case you didn't know. You can get on overview by having a look at the sync.service.ts and the persistence.service.ts. The data is not encrypted, just compressed via [lz-string](https://www.npmjs.com/package/lz-string)

[2020-03-24 16:09] rajshrestha86 commented on #291
Thank you. Got my lists back.

[2020-03-24 16:12] johannesjo commented on #291
@rajshrestha86 That's great to hear. I am really sorry about this and I have to say that I am pretty annoyed myself. When I am done with the new upcoming cross project task list stuff, I will start looking for alternative solutions for syncing...

[2020-03-25 06:42] Mindstormer619 commented on #289
Thank you so much, this has been fixed as of your version following Feb 14. Forgot to close this issue :)

[2020-03-25 06:42] #289 closed

[2020-03-25 08:25] stefanoco opened #311 "Forgot to close previous day: how to deal?"
(this is a request for usage explanation) maybe I'm asking something obvious but I'm missing: is it possible to close "yesterday" in case I forgot to do it, or app left open across the night?

[2020-03-25 10:12] stefanoco commented on #311
Ok I realized now that this might not be an issue: not "closing" yesterday has no effect, the time recorded will be tracked as per current day and no difference is produced. Waiting for any comment and then closing here.

[2020-03-25 13:01] johannesjo commented on #311
Not really sure if I understood you correctly. By closing yesterday, do you mean hiding the banner with the "You forgot to finish your day..." notification?

[2020-03-25 18:36] stefanoco commented on #311
I mean: sometimes at the end of the day I forget to click the "Finish day" buttom; I was wondering if the same can be done today for yesterday, but now I realized that this makes no sense because no special action is performed on the database by this action.

[2020-03-25 21:32] MostafaAmin07 commented on #156
I will try and add the features you both said in the coming days.

But @tiagogala I don't understand the last 2 points.
For the comments point if I understand you correctly you want the comment on a Gitlab issue to show under the status/description section which it should be doing that already.
![api2 (3)](https://user-images.githubusercontent.com/32510728/77587580-dc924000-6ef0-11ea-8ab9-0255c48f

[2020-03-26 01:25] johannesjo commented on #311
Ahh. Alright, thanks for the clarification :)

[2020-03-26 01:37] johannesjo commented on #156
@MostafaAmin07 I'm almost done with the the changes for v5. I hope to merge them tomorrow. If you like to start before that, I recommend branching of https://github.com/johannesjo/super-productivity/tree/feat/shared-task-list-via-tags as there are already some changes to the gitlab feature in place.

[2020-03-26 03:45] ichbean commented on #311
Actually, that'd be awesome if such "Don't break the chain" functionality was implemented.

[2020-03-26 10:27] stefanoco commented on #311
It might be not so useful: "Finish day" (as far as I understand) has the only meaning of "please add your comments about how the day has gone..." etc

[2020-03-26 10:31] stefanoco opened #312 "API"
I'm thinking of possible additions to this great application and I was wondering if any API exists. Basically for what's in my mind I'd like to start/stop any task or BREAK by API calls, so that I can add an external UI or device. Query of existing tasks would be a plus but no use for this right now.

[2020-03-26 10:42] jdelker opened #313 "Error: Project was changing while attempting to do something"
Reporting as requested:
[code]

This red-framed error popup appeared when a project was selected in the left nav-pane.

[2020-03-26 14:36] johannesjo commented on #313
Thanks for reporting. This should be fixed with version 4.0.3.

[2020-03-26 14:36] #313 closed

[2020-03-26 14:38] johannesjo commented on #312
There was a DBUS interface at one point (#200 ). Currently there isn't but I very much would welcome re-implementing it.